<template>
  <div class="notifications dropdown cursor-pointer position-relative">
    <a class=" d-flex justify-content-center align-items-center"
       role="button"
       data-bs-toggle="dropdown"
       data-target="#notifications"
       aria-label="Open user notifications"
    >
      <bell-icon class="bell-icon icon"/>
      <span v-if="filteredUnreadMessages.length >= 100"
            class="badge bg-yellow badge-notification badge-pill"
      >
            99+
      </span>
      <span v-else-if="filteredUnreadMessages.length"
            class="badge bg-yellow badge-notification badge-pill"
            :class="{ 'badge-empty': !user.profile.unread_messages }"
      >
            {{ user.profile.unread_messages }}
      </span>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
         id="notifications"
    >
      <div class="notifications-header d-flex justify-content-between align-center">
        <h3>Новые уведомления</h3>
        <template v-if="filteredUnreadMessages.length">
          <button type="button" href="#"
                  class="btn btn-link btn-read-all"
                  data-bs-toggle="modal"
                  data-bs-target="#confirm_read_all"
          >
            Прочитать все
          </button>
        </template>
      </div>
      <ol v-if="filteredUnreadMessages.length"
          ref="notificationsNode"
      >
        <transition-group name="notifications-list">
          <template v-for="(item, index) in filteredUnreadMessages" :key="`${item.id}a`">
            <li v-if="index < 5">
              <a class="d-flex align-items-center"
                 role="button" aria-expanded="true"
                 @click.stop="handleNotificationClick($event, item, read, 'header')"
              >
                <div class="badge ant-badge-status-yellow flex-shrink-0"></div>
                <div class="d-flex flex-column overflow-name">
                  <h4 class="overflow-name" id="title">{{ item.internal_message?.title }}</h4>
                  <p class="overflow-name" :class="item.internal_message.payload.link && 'message-text-link'" id="body">
                    {{ item.internal_message.body }}
                  </p>
                </div>
                <span class="notification-time flex-shrink-0">
                  <template v-if="isWithinLastHour(parseDate(<string>item.created_at), today)">
                    {{ renderTimeAgoText(parseDate(item?.created_at), today) }}
                  </template>
                  <template v-else-if="isToday(<string>item.created_at, today)">
                    {{ item.created_at?.slice(-5) }}
                  </template>
                  <template v-else-if="isYesterday(<string>item.created_at, yesterday)">
                    Вчера
                  </template>
                  <template v-else>
                    {{ item.created_at?.slice(0, 10) }}
                  </template>
                </span>
              </a>
            </li>
          </template>
        </transition-group>
      </ol>
      <div v-else class="empty-list d-flex flex-column align-items-center justify-content-center">
        <bell-check-icon class="bell-check-icon"/>
        <span class="mt-5">У вас нет новых уведомлений</span>
      </div>
      <NuxtLink
        to="/app/internal-messages/"
        class="notifications-link-all btn-link d-flex justify-content-center align-center"
        role="button"
        aria-expanded="true"
      >
        Все уведомления
      </NuxtLink>
    </div>
  </div>
  <confirm-modal text="Отметить все уведомления прочитанным?" id="confirm_read_all" @confirm="read_all"/>
</template>

<script setup lang="ts">
import {
  isToday,
  isWithinLastHour,
  isYesterday,
  parseDate,
  renderTimeAgoText,
  handleNotificationClick,
} from '~/composables/stringHelper'
import { BellCheckIcon, BellIcon } from 'vue-tabler-icons'
import { InternalMessage } from '~/api'
import { Profile } from '~/store'
import ConfirmModal from '~/components/modals/ConfirmModal.vue'

const props = defineProps(["user"]);
const {decreaseUnreadMessages} = Profile();
const router = useRouter();

let today = new Date();
const yesterday = new Date();
yesterday.setDate(yesterday.getDate() - 1);
let unreadMessages = ref<InternalMessage[]>([])

// Ускоряет прочтение уведомлений
const filteredUnreadMessages = computed(() => {
  return unreadMessages.value.filter((item: InternalMessage) => !item.read_tmstmp);
})

const getUnreadMessages = async () => {
  if (!Profile().isNameRequired)
  {
    today = new Date();
    const {data} = await useApi().getInternalMessages(1, 200)
    unreadMessages.value = data.items.filter((item: InternalMessage) => !item.read_tmstmp);
  }
}

const unreadMessagesCount = computed(() => props.user.profile.unread_messages);
watch(unreadMessagesCount, async () => {
  await getUnreadMessages();
  }
)

const read = (async (item: InternalMessage) => {
  item.read_tmstmp = 'true';
  await useApi().readInternalMessage(Number(item.id));
  decreaseUnreadMessages()
})

const read_all = async () => {
  await useApi().readAllInternalMessages()
  await getUnreadMessages()
};

onMounted(() => {
  getUnreadMessages();
});
</script>

<style lang="scss" scoped>
// отступ выпадашки уведомлений по горизонтали
$notifications-menu-padding-x: 20px;

// transition group
.notifications .dropdown-menu ol li {
  transition: opacity 0.4s ease, transform 0.4s ease, border-color 0.3s ease;
}
.notifications-list-enter-from,
.notifications-list-leave-to {
  opacity: 0;
  transform: translateX(130px);
}
.notifications-list-move {
  transition: transform 0.4s ease;
}

.notifications {
  margin-right: 20px;
  width: 40px;
  height: 48px;

  > a {
    width: 100%;
    height: 100%;
  }

  .dropdown-menu {
    width: 543px;
    padding: 16px $notifications-menu-padding-x;
  }

  ol {
    transition: max-height 0.2s ease-in-out;
  }

  .empty-list {
    min-height: 228px;
  }

  .bell-icon {
    color: #182433;
  }

  .bell-check-icon {
    width: 80px;
    height: 80px;
    opacity: 0.2;
    color: #206bc4;
  }

  @media (max-width: 600px) {
    .dropdown-menu {
      transform: translateX(60px);
      min-width: 97vw;
      max-width: 97vw;
    }
  }

  .dropdown-menu-arrow:before {
    right: 12px;
  }

  @media (max-width: 998px) {
      .dropdown-menu-arrow:before {
      right: 10px;
    }
  }

  @media (max-width: 600px) {
      .dropdown-menu-arrow:before {
      right: 68px;
    }
  }

  @media (max-width: 400px) {
  .dropdown-menu-arrow:before {
  right: 62px;
  }
  }

  h3 {
    padding: 0 $notifications-menu-padding-x;
    margin-bottom: 0;
  }

  .btn-read-all {
    padding: 0 $notifications-menu-padding-x;
  }

  ol {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  li > a {
    display: inline-block;
    width: 100%;
    color: inherit;
    padding: 15px 0;
  }

  .notifications-header {
    border-bottom: 1px solid #dce1e7;
    margin: 0 (-$notifications-menu-padding-x);
    padding-bottom: 14px;
  }

  .notifications-link-all {
    padding-top: 15px;
    border-top: 1px solid #dce1e7;
    margin: 0 (-$notifications-menu-padding-x);
  }

  li {
    border-bottom: 1px solid #dce1e7;
    margin: 0 (-$notifications-menu-padding-x);
    padding: 0 $notifications-menu-padding-x;
    transition: border-bottom-color 0.2s ease-in-out;
  }

  li:hover {
    border-bottom: 1px solid #0054a6;
  }

  h4 {
    margin-bottom: 0;
  }

  .notification-time {
    font-size: 10px;
    line-height: 16px;
    margin-left: auto;
    padding-left: 4px;
  }

  .notification-time,
  p.notification-body {
    color: #6c7a91;
  }

  @media (max-width: 600px) {
    .notification-body {
      max-width: 62vw;
    }
  }

  .ant-badge-status-yellow {
    background-color: #f59f00;
    margin-right: 15px;
  }
}

.badge-notification {
  transform: translate(40%, 0%);
  transition: background-color 0.3s ease-in-out;
  min-width: 18px;
}

.badge-empty {
  background-color: transparent;
}

@media (max-width: 998px) {
  .badge-notification {
    transform: translate(75%, 10%);
  }
}

@media (max-width: 500px) {
  .badge-notification {
    transform: translate(110%, 10%);
  }
}

.overflow-name {
  max-width: 400px;
  white-space: nowrap;
}

.expand h4,
.expand p {
  white-space: pre-wrap;
}

.message-text-link {
  text-decoration: #206bc4;
}

.li:hover .message-text-link {
  color: #40a9ff;
}

</style>
