<template>
  <div class="content-wrapper m-auto position-relative">
    <div class="progress progress-sm" v-if="isLoading">
      <div class="progress-bar progress-bar-indeterminate"/>
    </div>
    <div class="d-flex ps-3">
      <slot/>
      <div v-if="unreadMessagesCount > 0" class="ml-auto mt-2 text-end">
        <button type="button" class="btn btn-link" href="#" data-bs-toggle="modal" data-bs-target="#confirm_read_all">
          Прочитать все
        </button>
      </div>
    </div>
    <template v-for="(messageGroup, groupIndex) in messagesFiltered" :key="groupIndex">
      <div v-if="messageGroup.length">
        <h3 v-if="groupIndex === 0">Сегодня</h3>
        <h3 v-else-if="groupIndex === 1">Вчера</h3>
        <ol class="messages-list d-flex flex-column">
          <li v-for="item in messageGroup" :key="item.id">
            <a @click.stop="handleNotificationClick($event, item, read, 'table')"
               class="card d-flex flex-row align-items-center"
               :style="{'cursor': item.internal_message?.payload?.link ? 'pointer' : 'default'}"
               role="button" aria-expanded="true"
            >
              <span class="badge flex-shrink-0" :class="item.read_tmstmp ? 'badge-readed' : 'badge-unreaded'"/>
              <div class="overflow-name">
                <h4 class="overflow-name" id="title">{{ item.internal_message?.title }}</h4>
                <p class="overflow-name" :class="{'message-text-link' : item.internal_message?.payload?.link}" id="body">
                  {{ item.internal_message?.body }}
                </p>
              </div>
              <span v-if="groupIndex === 0" class="notification-time">
                <template v-if="isWithinLastHour(parseDate(item.created_at), today)">
                  {{ renderTimeAgoText(parseDate(item.created_at), today) }}
                </template>
                <template v-else>{{ item.created_at?.slice(-5) }}</template>
              </span>
              <span v-else-if="groupIndex === 1" class="notification-time">Вчера</span>
              <span v-else class="notification-time">{{ item.created_at?.slice(0, 10) }}</span>
            </a>
          </li>
        </ol>
      </div>
    </template>
    <div v-if="!unreadMessagesCount && !isLoading" class="p-4 empty-list d-flex flex-column align-items-center justify-content-center">
        <bell-check-icon class="bell-check-icon"/>
        <span class="mt-5">У вас нет новых уведомлений</span>
    </div>
    <Pagination
      :total="messages?.pagination?.total"
      :per-page="messages?.pagination?.per_page"
      :page="messages?.pagination?.current_page"
      @update="set_page"
    />
  </div>
  <confirm-modal text="Отметить все уведомления прочитанным?" id="confirm_read_all" @confirm="read_all"/>
</template>

<script setup lang="ts">
import ConfirmModal from '~/components/modals/ConfirmModal.vue';
import emitter from '~/composables/emitter';
import {InternalMessage, InternalMessagesPaginatedResponse} from "~/api";
import {computed} from "@vue/reactivity";
import {
  isToday,
  isYesterday,
  renderTimeAgoText,
  isWithinLastHour,
  parseDate,
  handleNotificationClick,
} from '~/composables/stringHelper';
import {BellCheckIcon} from "vue-tabler-icons";
import { Profile } from '~/store'

const props = defineProps(["user"]);
const router = useRouter();
const {decreaseUnreadMessages, resetUnreadMessages} = Profile();

let filter = reactive({page: undefined, per_page: undefined, sort_by: undefined});
filter = Object.assign(filter, {sort_by: '-id',});

let stop_watch = false;
const messages = ref<InternalMessagesPaginatedResponse | undefined> (undefined);

let refresh_time = ref(0);
let isLoading = ref(false);

const read_all = async () => {
  await useApi().readAllInternalMessages()
  resetUnreadMessages()
  await getItems()
  refresh_time.value++
};

const read = async (item: InternalMessage) => {
  item.read_tmstmp = 'true';
  await useApi().readInternalMessage(Number(item.id));
  decreaseUnreadMessages()
}

const load_data = async (filter: any) => {
  const {data} = await useApi().getInternalMessages(filter.page, filter.per_page, filter.sort_by);
  messages.value = data;
  return {data}
};

let today = new Date();
const yesterday = new Date();
yesterday.setDate(yesterday.getDate() - 1);
const todayMessages = ref<InternalMessage[] | undefined>([]);
const yesterdayMessages = ref<InternalMessage[] | undefined>([]);
const otherMessages = ref<InternalMessage[] | undefined>([]);
const messagesFiltered = computed(() => [todayMessages.value, yesterdayMessages.value, otherMessages.value])

const getItems = async () => {
  isLoading.value = true
  today = new Date()
  try {
    await load_data(filter)
    const items: InternalMessage[] = messages?.value?.items || [];
    // Фильтрация сообщений по дате
    todayMessages.value = items.filter((message) => isToday(message.created_at!, today));
    yesterdayMessages.value = items.filter((message) => isYesterday(message.created_at!, yesterday));
    otherMessages.value = items.filter(
      (message) => !isToday(message.created_at!,today) && !isYesterday(message.created_at!, yesterday)
    )
  } catch (e) {
    console.log(e)
  } finally {
    isLoading.value = false
  }
}

watch(filter, (newFilter, oldFilter) => {
  if (!stop_watch) {
    Object.keys(newFilter).forEach(key => (newFilter[key] === undefined || newFilter[key] === null) ? delete newFilter[key] : {});
    useRouter().push(location.pathname + '?' + (new URLSearchParams(newFilter).toString()));
  }
});

const unreadMessagesCount = computed(() => props.user.profile.unread_messages);
watch(unreadMessagesCount, async () => {
    await getItems();
})

const set_page = async (page?: number, per_page?: number) => {
  let page_data = {page, per_page};
  Object.keys(page_data).forEach(key => (page_data[key] === undefined || page_data[key] === null) ? delete page_data[key] : {});
  filter = Object.assign(filter, page_data || {});
  await getItems()
};

onUnmounted(() => {
  emitter.$off('internal_message_event');
});
onBeforeMount(() => {
  emitter.$on('internal_message_event', () => {
    refresh_time.value++;
  });
  getItems()
});
</script>

<style lang="scss" scoped>
.progress {
  z-index: 1!important;
}

.content-wrapper {
  max-width: 640px;
}
// Отступ для прочих уведомлений после Сегодня и Вчера
.content-wrapper > div:nth-child(4) {
  margin-top: 3em;
}
// Отступ для прочих уведомлений, если вчера - пустое
.content-wrapper > div:nth-child(3) {
  margin-top: 3em;
}

h3 {
  margin-top: 0.5em;
  color: #6c7a91;
}

.overflow-name {
  max-width: 490px;
  white-space: nowrap;
}

.expand h4,
.expand p {
  white-space: pre-wrap;
}

.card {
  padding: 16px 24px;
}

.card:hover {
  color: inherit
}

.badge {
  margin-right: 16px;
  transition: background-color 0.3s ease-in-out;
}

.badge-readed {
  background-color: #e8e9eb;
}

.badge-unreaded {
  background-color: #f59f00;
}

:deep(.card-footer) {
  padding: 16px 24px;
}

.messages-list {
  gap: 10px;
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 0;
  list-style-type: none;
}

.bell-check-icon {
  width: 80px;
  height: 80px;
  opacity: 0.2;
  color: #206bc4;
}

.message-text-link {
  color: #206bc4;
}

.card:hover .message-text-link {
  color: #40a9ff;
}

.notification-time {
  margin-left: auto;
  padding-left: 4px;
  flex-shrink: 0;
}

</style>
