<template>
  <div class="row">
    <div class="col-auto">
      <div class="mt-2" v-if="props.message.internal_message?.body">
        Уведомление: <b>{{ getMessageText(props.message.internal_message) }}</b>
      </div>
      <div v-if="props.message.created_at" class="mt-2">
        Дата добавления: <b>{{ props.message.created_at }}</b>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {getMessageText} from '~/composables/stringHelper';

const props = defineProps(["message"]);
</script>
