<template>
  <form @submit.prevent="sendData">
    <div class="modal-body">
      Стоимость: <b>{{ $helpers.number_format(props.appeal.sum) }} ₽</b>
      <div v-if="appeal.commission">
        Комиссия: <b>{{ $helpers.number_format(props.appeal.commission) }} ₽</b>
      </div>
      <div class="mb-3 fs-2">
        К оплате: <b>{{ $helpers.number_format(props.appeal.sum_with_commission) }} ₽</b>
      </div>
      <select v-model="person_card_id" class="form-control">
        <option :value="item.id" v-for="item in user.cards">{{item.label}}</option>
        <option :value="0">Новая карта</option>
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn me-auto" data-bs-dismiss="modal" aria-label="Close" type="button">
        Отмена
      </button>
      <slot />
    </div>
  </form>
</template>
<script setup lang="ts">
import InputField from "~/components/fields/InputField.vue";
import {Profile} from "~/store/Profile";
import WarningIcon from "~/components/icons/WarningIcon.vue";
import {reactive} from "vue";
const props = defineProps(["appeal"]);

const api = useApi();

const route = useRoute();
const user = Profile();
const emit = defineEmits(["update", "loading"]);

let errors = reactive({});

const person_card_id = ref<number>();

onBeforeMount(async (): Promise<void> => {
  if (user.cards && user.cards.length > 0)
    person_card_id.value = user.cards.find(card => card.is_last)?.id ?? 0;
  else
    person_card_id.value = 0;
});

const sendData = async (): Promise<void> => {
  try {
    const res = await api.payAppeal({
      person_card_id: person_card_id.value,
    }, props.appeal.number);

    if (res?.data?.ok) {
      location.href = res.data.redirect_url;
    }
  } catch (e) {
    const {apiErrors} = useApiErrors(e);
    errors = apiErrors;
  }
};
</script>
<style lang="scss" scoped />
