<template>
  <div class="d-flex align-items-lg-end" ref="billsModal">
    <div class="form-check d-flex align-items-end" :key="item.account">
      <input v-if="item.items"
             class="form-check-input ors-checkbox"
             type="checkbox"
             :checked="isChecked"
             @change="toggleCheckbox"
      >
    </div>
    <nuxt-link @click="toggleModal()" class="text-reset d-flex justify-content-between w-100 overflow-hidden">
      <div class=" d-flex flex-column justify-content-lg-start overflow-hidden">
        <span class="service-name m-0 text-truncate">
          <span v-if=" serviceName != 'null'" > {{ serviceName }} </span>
          <span v-if="service.company"> {{ ' ' + service.company }} </span>
        </span>
        <span class="additional-text">ЛС: {{ item.account }}</span>
      </div>
      <div class="d-flex flex-column align-items-end flex-nowrap" :class="{'text-disabled': !isChecked}">
        <div class="fs-3 flat-price text-nowrap">
          {{ isChecked ? $helpers.number_format(service.price) : $helpers.number_format(service.total) }} ₽
        </div>
        <span class="additional-text">
        Комиссия: {{ $helpers.number_format(service.totalFee) }} ₽
        </span>
      </div>
    </nuxt-link>

  </div>
  <view-bills-modal v-if="service.items"
                    :service="service"
                    :service-name="serviceName"
                    :item="item"
                    :index="index"
                    :id="index"
                    :errors="errors"
                    ref="billsComponent"
                    @validate="emit('validate',$event)"
                    @check="toggleCheckbox($event)"
  />
</template>
<script setup lang="ts">
import {Profile} from "~/store/Profile";
import ViewBillsModal from "~/components/modals/ViewBillsModal.vue";
import {Modal} from "bootstrap";
import PayDocumentExtension, {Payment, PersonAccountsResourceItems, serviceItem} from "~/store/Payment";
import {PropType} from "@vue/runtime-core";

const props = defineProps({
  serviceName: {
    type: String,
    required: true,
  },
  item: {
    type: Object as PropType<PersonAccountsResourceItems>,
    required: true
  },
  service: {
    type: Object as PropType<serviceItem>,
    required: true,
  },
  checked: {
    type: Boolean,
    required: true,
  },
  errors: {
    type: Object,
    required: true,
  },
  index: {
    type: Number,
    required: true,
  }
})

const emit = defineEmits(['change', 'check', 'validate', 'updatePrice', 'toggle']);
const user = Profile();
const payment = Payment();

const {$helpers} = useNuxtApp();
const api = useApi();

const billsComponent = ref();
const isChecked = ref(false)

watch(() => props.checked, (newValue) => {
  isChecked.value = newValue
})

const toggleCheckbox = (data?: { service: PayDocumentExtension, isSave: boolean }) => {
  if (data?.service && data?.isSave) {
    isChecked.value = data?.isSave
    emit('check', isChecked.value, props.item.id, props.serviceName)
    return
  }else if (data?.service && !data?.isSave){
    emit('check', isChecked.value, props.item.id, props.serviceName, true)
    return;
  }
  isChecked.value = !isChecked.value
  emit('check', isChecked.value, props.item.id, props.serviceName)
}

const toggleModal = () => {
  const options = {
    backdrop: false,
  }
  const modal = new Modal(billsComponent.value.getHTMLElement(), options)
  modal?.show()
}

onMounted(() => {
  if (props.checked) {
    isChecked.value = true
  }
})

</script>
<style lang="scss" scoped>
.text-elipsis {
  text-overflow: ellipsis;
}

:deep(.text-disabled) {
  color: #929DAB !important;
}

.service-name {
  font-size: 16px;
  font-weight: 510;
  margin-left: 10px;
  font-style: normal;
}

.flat-price {
  font-weight: 590;
  line-height: 140%;
}

@media (max-width: 998px) {
  .service-name {
    font-size: 13px;
  }
}

@media(max-width: 340px) {
  .service-name {
    font-size: 13px;
  }
  .additional-text {
    font-size: 11px;
  }
}
</style>
