<template>
  <div>
    <div @click="route" class="card widget">
      <div class="card-body">
        <message-forward-icon class="icon bg-icon"/>
        <div class="widget--title">
          Заявки
        </div>
        <div class="widget--text">
          <div> {{ appealText }}</div>
          <span class="widget--time">
            {{ appealTime }}
          </span>
        </div>
        <div v-if="appealAlert" class="alert border-0" role="alert">
          {{ appealAlert }}
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { MessageForwardIcon } from 'vue-tabler-icons';
import {computed} from "@vue/reactivity";
import { APPEAL_IN_WORK, APPEAL_NEW, useAppealStatus } from '~/composables/useConst';
import {useRouter} from "vue-router";

const props = defineProps(["appeal"])
const router = useRouter();


const route = (() => props.appeal ?
    router.push('/app/appeals/' + props.appeal?.number + '/view') :
    router.push('/app/appeals/create') )

const appealInWork = computed(() => {
  return props.appeal?.status === APPEAL_NEW || props.appeal?.status ===  APPEAL_IN_WORK;
});

const appealTime = computed(() => {
  if (props.appeal && props.appeal.visit_time_range && appealInWork.value) {
    const visitTimes = props.appeal.visit_time_range.split('-');
    return 'Мастер будет у вас с ' + visitTimes[0] + ' до ' + visitTimes[1];
  }
  return ''
})

const appealText = computed(() => {
  if (props.appeal) {
    return 'Заявка № ' + props.appeal.number + ' ' + useAppealStatus()[props.appeal.status].toLowerCase() + '.'
  }
  return 'Нужен мастер? Есть предложение? Оставьте заявку.'
})

const appealAlert = computed(() => {
  return appealInWork.value ? 'Ожидайте мастера' : '';
})
</script>
<style lang="scss" scoped>
.widget {
  cursor: pointer;
  &--text {
    font-size: 14px;
    max-width: 266px;
    margin: 0;
    line-height: 20px;
  }

  &--title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 590;
    font-style: normal;
  }

  .alert {
    max-width: 12em !important;
    background: #F59F00;
    color: white;
  }
}
.widget--time {
  font-weight: 600;
  line-height: 20px;
}
</style>
