<template>
  <simple-widget
      @click="viewEpd"
      class="epd-widget"
      :title="'Единый платёжный документ'"
      :text="epdText"
      :alert="epdAlert"
  >
    <file-stack-icon class="icon bg-icon"/>
  </simple-widget>
</template>
<script setup lang="ts">
import { FileStackIcon } from 'vue-tabler-icons';
import SimpleWidget from "~/components/widgets/SimpleWidget.vue";
import {Profile} from "~/store/Profile";
import {computed} from "@vue/reactivity";
import {PersonalAccounts} from "~/store/PersonalAccounts";
import {useRouter} from "vue-router";
const user = Profile();
const api = useApi();
const router = useRouter();

const epdText = computed(() => {
  if (user.widget?.epd && !user.widget.epd?.viewed) {
    const date = formatDate(user.widget.epd?.period_date, { month: 'long', year: 'numeric' } );
    return 'Пришла квитанция за ' + date;
  }
  return 'ЕПД – квитанция для оплаты предоставленных услуг.';
})

const epdAlert = computed(() => {
  if (user.widget?.epd && !user.widget.epd?.viewed) {
    return  'Новая квитанция';
  }
  return  '';
})

const viewEpd = (async () => {
  try {
    if (user.widget?.epd) {
      await api.updateEpdView(user.widget.epd?.id as number);
    }
    await router.push('/app/pay-documents');
  } catch (e) {
    useApiErrors(e)
  }
});
</script>
