<template>
  <div class="card widget">
    <div class="card-header">
      <div class="widget--title">События</div>
      <NuxtLink
          :to="'/app/announces/'"
          class="show pl-0 ml-auto"
          role="button"
          aria-expanded="true"
      >
        Все события
      </NuxtLink>
    </div>
    <NuxtLink
        :to="'/app/announces/announce/' + announce.id"
        v-for="announce in props.announces" :key="'announce_' + announce.id"
        class="widget--item"
    >
      <div class="d-flex align-items-center">
        <div v-if="isNewsHasAnyImg && announce.image" class="img"
          :style="'background-image: url(' + announce.image + ')'"
        />
        <photo-icon v-if="isNewsHasAnyImg && !announce.image" class="img"/>
        <!--TODO: ссылки на статьи-->
        <div class="d-block w-100 pl-5">
          <div class="card-title text-truncate">{{ announce.title }}</div>
          <div class="w-100">
            <div class="announces-text text-truncate" v-if="announce.preview">
              {{ getText(announce.preview) }}
            </div>
          </div>
          <div class="dates text-muted">
            {{ formatDates(announce) }}
          </div>
        </div>
      </div>
    </NuxtLink>
  </div>
</template>

<script setup lang="ts">
import { Announce } from "~/api";
import { PhotoIcon } from 'vue-tabler-icons';

const options = {
  month: '2-digit',
  day: '2-digit',
  year: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
};

const props = defineProps(["announces"]);
const formatDates = ((announce: Announce) => {
  if (!announce.date_publish) return "";
  const dateArray = formatDateTime(announce.date_publish, options).split(',')
  return dateArray[0] + ' |' + dateArray[1];
})

const getText = ((text: String) => {
  return text.replace(/(<([^>]+)>)/gi, '');
})

const isNewsHasAnyImg = computed<boolean>(() => props.announces.some((item: Announce) => item.image));
</script>

<style lang="scss" scoped>
.img {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-title, .announces-text {
  color: #1D273B;
}

.widget {
  max-height: 325px;
  max-width: unset;
  height: auto;
  margin-left: 0;

  &:hover {
    box-shadow: none;
  }

  &--item {
    padding-top: 1em;
    padding-left: 1em;
    min-height: 89px;
    border-bottom: var(--tblr-border-width) var(--tblr-border-style) rgba(97,104,118,.16)!important;

    &:hover {
      text-decoration: none;
      background-color: rgb(97,104,118, 0.1);
    }
  }

  &--title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 590;
    font-style: normal;
    margin-bottom: 0;
  }

  .announces-text {
    font-weight: 400;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    max-width: 85%;
  }

  .announces-text p {
    overflow-x: inherit;
    text-overflow: inherit;
  }

  .card-title {
    font-size: 14px;
    line-height: 20px;
    max-height: 20px;
    max-width: 85%;
    overflow: hidden;
    font-weight: 550;
    margin: 0;
  }

  .dates {
    font-size: 12px;
  }
}
</style>
