<template>
    <simple-widget
        :link="'/app/person-meters'"
        :title="'Показания'"
        :text="text"
        :alert="alert"
    >
      <calculator-icon class="icon bg-icon" />
    </simple-widget>
</template>
<script setup lang="ts">
import { CalculatorIcon } from 'vue-tabler-icons';
import SimpleWidget from "~/components/widgets/SimpleWidget.vue";
import {computed} from "@vue/reactivity";
import {getMonthName} from "~/composables/stringHelper";
import {Profile} from "~/store/Profile";

const user = Profile();

const lastDay = computed(() => user.widget.ipu?.to ?? 25);
const startDay = computed(() => user.widget.ipu?.from ?? 20);

const today = computed(() => {
  const date = new Date();
  return date.getDate();
});

const diffDay = lastDay.value - today.value;
const alert = computed(() => {
  const daysName = diffDay > 4 ?  ' дней' : ' дня';
  let text = 'Осталось ' + diffDay + daysName;

  switch (true) {
    case diffDay === 1:
      return 'Остался 1 день';
    case diffDay === 0:
      return 'Остался последний день';
    case diffDay > 0 && diffDay <= 5:
      return text;
    case diffDay < 0 || diffDay > 5:
      return '';
  }
});

const text = computed(() => {
    return 'Показания счетчиков нужно передавать c ' + startDay.value + ' по ' + lastDay.value + ' число каждого месяца.';
});
</script>

<style lang="scss" scoped>
:deep(.widget) {
  .alert {
    max-width: max-content;
  }
}
</style>
