<template>
  <div>
    <div class="card widget">
      <div class="card-body">
        <circle-check-icon v-if="Number(price) === 0" class="icon bg-icon"/>
        <wallet-icon v-else class="icon bg-icon"/>
        <div class="widget--price">
          {{ $helpers.number_format(price) }} ₽
        </div>
        <div class="widget--text">
          <span v-if="price === 0">
            У вас нет задолженностей
          </span>
          <span v-else>
            Оплатите задолженность
          </span>
        </div>
        <div class="payment-line">
          <div>
            <nuxt-link
                v-if="price !== 0"
                class="btn btn-light"
                to="/app/payments/accounts?main=1"
            >
              Оплатить
            </nuxt-link>
          </div>
          <NuxtLink
              to="/app/payments/history"
              class="nav-link show pl-0"
              role="button"
              aria-expanded="true"
          >
              <span class="widget--link">
                История платежей
              </span>
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { CircleCheckIcon, WalletIcon } from 'vue-tabler-icons';
import {computed} from "@vue/reactivity";

const isLoaded = ref(false);
const props = defineProps(['price'])

const price = computed(() => {
  return props.price ?? 0
})
</script>
<style lang="scss" scoped>
.widget {
  background: #206BC4;
  color: #FCFDFE;

  &:hover {
    box-shadow: none;
  }

  .btn-light {
    border-bottom: 0;
  }

  &--price {
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
  }

  .number {
    font-style: normal;
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FCFDFE;
  }

  .payment-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  &--text {
    min-height: 48px;
  }
}

.placeholder {
  &.top {
    min-height: 24px;
  }
}
</style>
