<template>
  <div>
    <div @click="route" class="card widget">
      <div class="card-body">
        <slot class="bg-icon" />
        <div class="widget--title">
          {{ props.title }}
        </div>
        <div v-if="props.text" class="widget--text">
          {{ props.text }}
        </div>
        <slot name="additional-text" />
        <div v-if="props.alert" class="alert border-0" role="alert">
          {{ props.alert }}
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import {useRouter} from "vue-router";

const props = defineProps(['title', 'text', 'alert', 'link']);
const router = useRouter();

const route = (() => props.link ? router.push(props.link) : false)
</script>
<style lang="scss" scoped>
.widget {
  cursor: pointer;
  &--text {
    font-size: 14px;
    max-width: 254px;
  }

  &--title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 590;
    font-style: normal;
  }

  .alert {
    width: max-content;
    background: #F59F00;
    color: white;
  }
}
</style>
