<template>
  <div>
    <!-- Заголовок -->
    <page-header title="Показания счетчиков"/>
    <div>
      <person-meters-table
          :is-empty="personMeters.isEmpty"
          :personMeters="personMeters"
          @sort="sortItems"
          @update="getItems"
      >
        <div class="progress progress-sm" v-if="isLoading">
          <div class="progress-bar progress-bar-indeterminate"/>
        </div>
      </person-meters-table>
    </div>
  </div>
</template>

<script setup lang="ts">
import PersonMetersTable from "~/components/personMeter/PersonMetersTable.vue";
import useApiErrors from "~/composables/useApiErrors";
import { PersonMeters } from '~/store/PersonMeters';
import { onBeforeRouteUpdate } from 'vue-router';
import { changeSortRecords, getCollectionPage } from '~/composables/useCollectionStore';
import { computed } from "@vue/reactivity";

let isLoading = ref(false);

const personMeters = PersonMeters();
personMeters.init();
// номер текущей страницы
const page = ref(personMeters.paginator.current_page);
const perPages = ref(personMeters.paginator.per_page);
// список ИПУ
const items = computed(() => personMeters.items);

// получение первой страницы
onMounted(async (): Promise<void> => {
  await getItems();
});

onBeforeRouteUpdate(async (to): Promise<void> => {
  personMeters.init(to.query);
  await getItems();
});

const getPage = (numberPage: number | undefined, perPage?: number, column?: string): void => {
  page.value = numberPage;
  if (perPage)
    perPages.value = perPage;
  getCollectionPage(personMeters, numberPage as number, perPage, column);
}
const sortItems = (column: string): void => {
  changeSortRecords(personMeters, column);
  getPage(page.value, undefined, column);
}

// получение ИПУ
const getItems = async (): Promise<void> => {
  try {
    personMeters.loaded = false;
    isLoading.value = true;
    await personMeters.getList(page.value as number, perPages.value, personMeters.sort_by);
  } catch (e) {
    useApiErrors(e);
  } finally {
    isLoading.value = false;
  }
}

definePageMeta({
  middleware: ['auth', 'redirect']
});
</script>
