<template>
  <span class="badge me-1" :class="meterDeviceStatusClass(props.status.name)"></span>
  {{ meterDeviceStatus(props.status.name) }}
</template>

<script setup lang="ts">
import { meterDeviceStatusClass } from '~/composables/stringHelper';
const props = defineProps(["status"]);

const meterDeviceStatus = ((value: string) => {
  switch (value) {
    case 'ТРЕБУЕТ ПО': return "ТРЕБУЕТ ПОВЕРКИ";
    default: return value;
  }
})
</script>
