<template>
  <span class="input-group-text ps-2 pe-2">
    <a @click="emit('switchPasswordVisibility', true);"
       href="#"
       class="link-secondary"
       title="Show password"
       data-bs-toggle="tooltip"
    >
      <EyeIcon v-if="!props.showPassword" class="icon"/>
      <EyeOffIcon v-else stroke-width="2" class="icon"/>
    </a>
  </span>
</template>
<script setup lang="ts">
import { EyeIcon, EyeOffIcon } from 'vue-tabler-icons';
const emit = defineEmits(["switchPasswordVisibility"]);
const props = defineProps(['showPassword']);
</script>
