<template>
  <div class="form-selectgroup form-selectgroup-pills">
    <label class="form-selectgroup-item">
      <input type="checkbox" name="name" :value="props.text" class="form-selectgroup-input">
      <span class="form-selectgroup-label">{{ props.text }}</span>
    </label>
  </div>
</template>
<script setup lang="ts">
const props = defineProps(['text']);
</script>
<style lang="scss" scoped>
.form-selectgroup-label {
  color: var(--tblr-danger);
  background-color: rgba(214, 57, 57, 0.1);
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 13px;
}
</style>
