<template>
  <status-star
      v-for="(star, id) in starList"
      :key="id"
      :checked="starChecked(star)"
      @click="emit('setValue', star)"
  />
</template>
<script setup lang="ts">
import StatusStar from "~/components/utility/StatusStar.vue";
const props = defineProps(["maxValue", "value"]);
const emit = defineEmits(["setValue"]);

const starChecked = ((star: number): boolean => {
  return props.value >= star;
})

const starList = computed((): number[] => {
  const result = [];
  for (let i = 1; i <= props.maxValue; i++)
    result.push(i);
  return result;
});
</script>
