<template>
  <star-filled-icon class="icon" v-if="props.checked" :style="'width:' + props.width" />
  <star-icon v-else class="icon" :style="'width:' + props.width" />
</template>
<script setup lang="ts">
import { StarIcon } from "vue-tabler-icons";
import StarFilledIcon from "~/components/icons/StarFilledIcon.vue";
const props = defineProps(["checked", 'width']);
</script>
<style lang="scss" scoped>
.icon {
  height: auto;
  cursor: pointer;
  color: var(--tblr-primary);
}
</style>
