<template>
  <span class="badge me-1" :class="statusClass" />
  {{ props.text }}
</template>

<script setup lang="ts">
const props = defineProps(["status", 'text', 'class']);
const statusClass = computed((): string => {
  if (props.class)
    return props.class;
  return props.status ? "bg-success" : "bg-danger";
})
</script>
