<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 57 57"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_3174_24558)">
      <path d="M28.5625 21.8672V31.2005" stroke="#D63939" stroke-width="4.66667" stroke-linecap="round"
            stroke-linejoin="round"/>
      <path
        d="M24.743 9.24793L5.82896 40.8273C5.43905 41.5025 5.23272 42.268 5.23049 43.0478C5.22825 43.8275 5.4302 44.5942 5.81624 45.2716C6.20227 45.9491 6.75895 46.5137 7.43089 46.9092C8.10283 47.3048 8.86662 47.5175 9.6463 47.5263H47.479C48.2583 47.5173 49.0217 47.3045 49.6933 46.9091C50.3649 46.5136 50.9214 45.9493 51.3073 45.2722C51.6933 44.5951 51.8954 43.8288 51.8934 43.0494C51.8915 42.2701 51.6856 41.5048 51.2963 40.8296L32.3823 9.2456C31.9844 8.58877 31.4238 8.04566 30.7547 7.66872C30.0856 7.29178 29.3306 7.09375 28.5626 7.09375C27.7947 7.09375 27.0397 7.29178 26.3706 7.66872C25.7015 8.04566 25.1409 8.58877 24.743 9.2456V9.24793Z"
        stroke="#D63939" stroke-width="4.66667" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M28.5625 38.1992H28.5858" stroke="#D63939" stroke-width="4.66667" stroke-linecap="round"
            stroke-linejoin="round"/>
    </g>
    <defs>
      <clipPath id="clip0_3174_24558">
        <rect width="56" height="56" fill="white" transform="translate(0.5625 0.867188)"/>
      </clipPath>
    </defs>
  </svg>
</template>
<script lang="ts">
export default {
  name: 'Warning'
};
</script>
<script lang="ts" setup>
defineProps({
  width: { type: String, default: '24' },
  height: { type: String, default: '24' }
});
</script>
