<template>
  <div>
    <div class="mb-5 text-center">
      <img :src="headLogo" height="88" alt="">
    </div>
    <div class="card card-md">
      <div class="card-body">
        <!-- Регистрация / Забыли пароль?  -->
        <login-send-code
            v-if="showRegister"
            :is-register="formCode !== 3"
            :phone="login"
            @showAuth="formCode = 1"
            @change="changePhone"
        />

        <!-- Авторизация -->
        <template v-if="showAuth">
          <h2 class="h2 text-center mb-4">Вход в личный кабинет</h2>
          <form @submit.prevent="send">
            <div>
              <div class="mb-2">
                <label class="form-label">
                  Телефон
                </label>
                <phone-field
                    v-model="login"
                    :name="'login'"
                    :mask="'+{7} (000) 000-00-00'"
                    :errors="errors"
                    :placeholder="'+7 (000) 000-00-00'"
                />
              </div>
              <div class="mb-2">
                <label class="form-label">
                  Пароль
                  <span class="form-label-description">
                  <a href="#" @click="formCode = 3">
                    Забыли пароль?
                  </a>
                </span>
                </label>
                <input-field
                    v-model="password"
                    placeholder="Ваш пароль"
                    name="password"
                    :visible-btn="true"
                    :errors="errors"
                    type="password"
                />
              </div>
              <div class="form-footer">
                <button class="btn btn-primary w-100">Войти</button>
              </div>
            </div>
          </form>

        </template>
      </div>
    </div>
    <div class="text-muted mt-3 text-center">
      <div v-if="formCode === 1">
        Нет личного кабинета? <a href="#" @click="formCode = 2">Зарегистрироваться</a>
      </div>
      <div v-else>
        <span v-if="formCode === 3">Вспомнили пароль?</span>
        <span v-else>Уже зарегистрированы?</span>
        <a href="#" @click="formCode = 1" class="ms-1">Войти в личный кабинет</a>
      </div>
    </div>

    <confirm-modal
        title="Уведомление"
        id="modal-delete-notification"
        text="Ваш профиль был успешно удален"
        confirmButton="OK"
        :cancelButton="false"
    />
    <a href="" style="opacity: 0; position: absolute; left: -10000px" id="modal-toggler" data-bs-target="#modal-delete-notification" data-bs-toggle="modal">SHOW</a>

  </div>

</template>
<script setup lang="ts">
import LoginSendCode from "~/components/auth/LoginSendCode.vue";
import PhoneField from "~/components/fields/PhoneField.vue";
import { useRouter } from "vue-router";
import { Profile } from "~/store/Profile";
import { definePageMeta } from "#imports";
import { isPwa } from '~/composables/stringHelper';
import {computed} from "vue";
import InputField from "~/components/fields/InputField.vue";
import ConfirmModal from '~/components/modals/ConfirmModal.vue';
import {Modal} from 'bootstrap';
const router = useRouter();

const api = useApi();
const token = useApiToken();
const user = Profile();

let email = ref("");
let login = ref("");
let password = ref("");
let headLogo = user.group?.branding_person?.enterLogo ?? '/logo.png';

const formCode = ref(1);
const showAuth = computed((): boolean => formCode.value === 1);
const showRegister = computed((): boolean => formCode.value === 2 || formCode.value === 3);

let errors = ref({});


const send = async () => {
  try {
    errors.value = {};
    const { data } = await api.login({ login: login.value, password: password.value, is_pwa: isPwa() });
    token.set(data.access_token, data.refresh_token);
    user.setProfile(data.profile);
    await router.push("/app");
  } catch (e) {
    const { apiErrors } = useApiErrors(e);
    errors.value = apiErrors;
    const { hasError, error } = useFieldForm({ name: "password", errors: apiErrors }, {});
  }
}

definePageMeta({layout: 'auth'});
onMounted(() => {
  token.exists() && router.push("/app")
  if (user.getShowDeleteMessage)
  {
    user.setShowDeleteMessage(false)
    setTimeout(()=>{
      document.getElementById("modal-toggler")?.click()
    },100)
  }
});
const changePhone = (phone?: string): void => {
  login.value = phone ?? "";
}
</script>
<style scoped>
span.is-invalid {
  border-color: #d63939;
}
</style>
