<template>
  <div>
    <div class="mb-5 text-center">
      <img :src="headLogo" height="88" alt="">
    </div>
    <password-reset :is-auth="true" />
  </div>
</template>

<script setup lang="ts">
import PasswordReset from "~/components/auth/PasswordReset.vue";
import {Profile} from '~/store/Profile';
const user = Profile();
const headLogo = user.group?.branding_person?.enterLogo ?? '/logo.png';
definePageMeta({layout: 'auth'});
</script>
<style scoped>
</style>
