<template>
  <NuxtLayout>
    <NuxtPage/>
  </NuxtLayout>
</template>
<script setup lang="ts">
import { Profile } from "~/store/Profile";
import { GroupBrandingPerson } from "~/api";
import moment from 'moment';
import 'moment/dist/locale/ru';
moment.locale('ru');

// импорт favicon & стилей для ЛК
const user = Profile();
const options = computed((): GroupBrandingPerson => user.options);

useHead(() => {
  const branding = options.value || {}

  return {
    title: branding.headerLogoTitle || 'ЖКХ - Интерфейс жителя',
    link: [
        {rel: 'icon', href: branding.favicon || '/favicon.png'},
        {rel: 'apple-touch-icon', sizes: "192x192", href: branding.pwaIcon192 || '/192.png'},
        {rel: 'apple-touch-icon', sizes: "512x512", href: branding.pwaIcon512 || '/512.png'},
    ],
    meta: [
      {name:"theme-color",content: branding.pwaColor||'#FFFFFF'},
      {name:"viewport",content:'width=device-width, user-scalable=no'}
    ],
    style: [
      {
        type: 'text/css',
        children: `:root {
          --branding-body-bg-color: ${branding.backgroundColor};
          --branding-header-color: ${branding.headerColor};
          --branding-header-bg-color: ${branding.headerBgColor};

          --branding-header-bottom-color: ${branding.headerBottomColor};
          --branding-header-bottom-bg-color: ${branding.headerBottomBgColor};
          --branding-footer-color: ${branding.footerColor};
          --branding-footer-bg-color: ${branding.footerBgColor};

          --branding-btn-success-color: ${branding.btnSuccessColor};
          --branding-btn-success-bg-color: ${branding.btnSuccessBgColor};

          --branding-page-title-color: ${branding.pageTitleColor};
        `
      }
    ]
  }
});
</script>
<style lang="scss">
//$wrapper_bottom: v-bind(paddingBottom);
//
//// импортированные переменные
//$body_bg_color: v-bind(backgroundColor);
//
//$btn_success_bg_color: v-bind(btnSuccessBgColor);
//$btn_success_color: v-bind(btnSuccessColor);
//$page_title_color: v-bind(pageTitleColor);
//
//$header_bg_color: v-bind(headerBgColor);
//$header_color: v-bind(headerColor);
//
//$header_bottom_bg_color: v-bind(headerBottomBgColor);
//$header_bottom_color: v-bind(headerBottomColor);
//
//$footer_bg_color: v-bind(footerBgColor);
//$footer_color: v-bind(footerColor);

//.page-wrapper {
//  background-color: $body_bg_color;
//}

//header.navbar {
//  color: $header_color;
//  background-color: $header_bg_color;
//}
//
//.navbar-menu {
//  color: $header_bottom_color;
//  background-color: $header_bottom_bg_color;
//}
//
//.footer {
//  color: $footer_color;
//  background-color: $footer_bg_color;
//}
//
//h2.page-title {
//  color: $page_title_color;
//
//  a {
//    color: inherit !important;
//  }
//}
//
//.btn-success {
//  color: $btn_success_color;
//  background-color: $btn_success_bg_color;
//
//  &:hover {
//    background-color: $btn_success_bg_color;
//  }
//}

</style>
