:root {
  --branding-body-bg-color: inherit;
  --branding-header-color: inherit;
  --branding-header-bg-color: inherit;

  --branding-header-bottom-color: inherit;
  --branding-header-bottom-bg-color: inherit;
  --branding-footer-color: inherit;
  --branding-footer-bg-color: inherit;

  --branding-btn-success-color: inherit;
  --branding-btn-success-bg-color: inherit;

  --branding-page-title-color: inherit;
}

.page-wrapper {
  background-color: var(--branding-body-bg-color);
}

header.navbar {
  color: var(--branding-header-color);
  background-color: var(--branding-header-bg-color);
}

.navbar-menu {
  color: var(--branding-header-bottom-color);
  background-color:  var(--branding-header-bottom-bg-color);
}

.footer {
  color: var(--branding-footer-color);
  background-color: var(--branding-footer-bg-color);
}

//h2.page-title {
//  color: var(--branding-page-title-color);
//  a {
//    color: inherit !important;
//  }
//}

.btn-success {
  color: var(--branding-btn-success-color);

  &, &:hover, &:active, &:focus {
    background-color: var(--branding-btn-success-bg-color)!important;
  }
  &:hover, &:active, &:focus {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  }
}
