.profile-main-info-container {
  .row.row-cards {
    //flex-wrap: nowrap;

    .first-column {
      width: 190px;
      //min-height: 190px;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .second-column {
      flex-grow: 1;
      flex-shrink: 1;
      width: auto;
    }
  }
}
@media (max-width: 992px) {
  .profile-main-info-container {
    .row.row-cards {
      flex-wrap: wrap!important;
      .first-column {
        width: 100%!important;
        //flex-grow: 1!important;
        display: flex;
        justify-content: center;
        //text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}
