.navbar-dark {
    .text-muted {
        color: rgba(255, 255, 255, .7) !important
    }

    .nav-item.active .nav-link {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}

.page-link:hover {
    background: var(--tblr-pagination-hover-bg);
    border-color: var(--tblr-pagination-hover-border-color);
    color: var(--tblr-pagination-hover-color);
}

.page-item.active > .page-link:hover {
    background: var(--tblr-pagination-active-bg);
    color: var(--tblr-pagination-active-color);
}
.badge-pill {
  color: white !important;
}
.btn.btn-sm .icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
}
