@import "@tabler/core/src/scss/variables";
@import 'tabler-fixes';
@import 'profile-main-form';
@import 'branding';

body {
  height: 100%;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 6em;
}

.footer {
  flex: 0 0 auto;
}

body.tabler-page > div:first-child {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

body.tabler-page-center > div:first-child {
  justify-content: center;
}

.navbar .navbar-brand {
  color: inherit !important;
  .overflow-name {
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
}

.card.no-border {
  border: none;
  background-color: transparent;
}

.logo-link {
  width: 60px;
  height: 32px;

  & > div {
    position: absolute;
    background: #fff;
    width: 55px;
    height: 45px;
    border-radius: 5px;
    margin-top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// paginator
.card-footer {
  .d-flex {
    .text-muted {
      //display: inherit;
    }
  }
}

.table-head {
  font-size: .625rem;
  font-weight: var(--tblr-font-weight-bold);
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1rem;
  color: var(--tblr-muted);
  padding-top: 0.5rem;
  white-space: nowrap;
}

.page-wrapper {
  min-height: 100vh;

  .page-wrapper .page-header {
    padding: 0.75rem 0;
    background-color: #ffffff;
  }
}

.disabled {
  pointer-events: none;

  .form-label {
    opacity: 0.5;
  }
}

.ma-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mr-1 {
  margin-right: 4px;
}

.ml-1 {
  margin-left: 4px;
}

p {
  margin: 0 !important;
}

.pa-0 {
  padding: 0;
}

.pa-5 {
  padding: 10px;
}

.pr-5 {
  padding-right: 10px;
}

.pa-10 {
  padding: 20px;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-5 {
  padding-left: 10px !important;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mr-3 {
  margin-right: 1rem !important;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem !important;
}

.container-xl {
  .page-header-title {
    min-height: 40px;
    align-items: center;
  }
}

.icon-link {
  svg {
    width: 20px;
    height: 20px;
  }
}

.has-error .ts-wrapper.form-select {
  border-color: $red !important;
}

.record-blocked {
  background: #fbedf3;
}

.form-check-input.danger:checked {
  background-color: $red;
}

input[type=number]::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  opacity: 0;
}

.desktop {
  display: block;
}

.overflow-name {
  max-width: 250px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.d-lg-table-header {
  display: table-header-group !important;
}

.widget-link {
  color: initial;
}

.widget {
  max-width: 420px;
  height: 156px;
  overflow: hidden;
  border: 1px solid rgba(4, 32, 69, 0.14);
  box-shadow: 0 0 4px rgba(24, 36, 51, 0.04);
  border-radius: 4px;

  .alert {
    max-height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 4px 10px !important;
    white-space: nowrap;
  }

  &:hover {
    box-shadow: 0 2px 16px rgba(24, 36, 51, 0.16);
  }

  &--text {
    line-height: 20px;
    margin-top: 0.5em;
    min-height: 58px;
  }

  &--link {
    text-decoration: underline;
  }

  &--title {
    margin-bottom: 20px;
  }

  .bg-icon {
    position: absolute;
    width: 112px;
    height: 112px;
    right: -26px;
    top: 1px;
    color: #4a87d0;
    opacity: 0.2;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
}

@media (max-width: 998px) {
  header.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  td.mobile,
  .mobile {
    display: none;
  }

  .overflow-name {
    max-width: 13em;
  }

  .widget {
    box-shadow: 0 2px 16px rgba(24, 36, 51, 0.16);
  }

  .wrapper {
    margin-bottom: 0;
    padding-bottom: 0em;
  }

  .navbar-light {

    &.navbar-expand-md {
      .container-xl {
        padding: 0;
      }
    }

    .collapse.show {
      .nav-item {
        padding-left: 5px;
      }
    }

    .nav-item {
      padding-left: 5px;

      &.active {
        color: #435ee5;
        text-decoration: none;
        background-color: rgba(32, 107, 196, 0.05);
      }
    }
  }

  .table > :not(caption) > * > * {
    padding: 10px;
  }
}


@media (max-width: 1200px) {
  .widget {
    max-width: 100%;
  }
}
@media(max-width: 768px){
  .w-md-100{
    width:100%;
  }
  .left-md-0{
    left:0;
  }
  .bottom-md-45px{
    bottom:45px;
  }
  .pos-fix-md{
    position: fixed;
  }
}
@media(max-width: 1024px){
  .justify-content-md-center{
    justify-content: center;
  }
  .w-lg-100{
    width:100%;
  }
  .w-lg-90{
    width:90%;
  }
  .pos-fix-lg{
    position: fixed;
  }
  .left-lg-0{
    left:0;
  }
  .bottom-lg-45px{
    bottom:45px;
  }
  .pb-lg-100{
    padding-bottom:100px;
    padding-top:1.5rem;
  }
  .pb-lg-45px{
    padding-bottom: 45px;
  }
  .lg-flex-column {
    flex-direction: column;
  }
}
.additional-text{
  white-space: nowrap;
  color:#667382;
}
.underline-dotted{
  border-bottom: 1px dotted #0054A6;
  color: #0054A6;
}

.ors-checkbox {
  border-color: #80aad3;
  outline: 0;
  box-shadow: 0 0 0 0.5rem rgba(0, 84, 166, 0.04);
}
.ors-checkbox:focus {
  border-color: #80aad3;
  outline: 0;
  box-shadow: 0 0 0 0.5rem rgba(0, 84, 166, 0.04);
}
div > .progress.progress-sm {
  position: absolute;
  margin-top: -2px;
  z-index: 5000;
}

.linked-toast {
  cursor: pointer;
}

.btn:hover { // При hover шрифт высветляется, отмена
  color: inherit;
}

.modal-backdrop { // backdrop залазил поверх модалки прочтения всех уведомлений на мобильных, отмена
  z-index: auto;
}
