<template>
  <div class="page-body">
    <div class="col-12">
      <div v-if="!currentAccount" class="main">
        <div class="main--no-account">
          <div>
            <img :src="'/images/noAccount.png'" alt=""/>
            <div class="main--title">
              Добавьте лицевой счёт
            </div>
            <div class="text-muted">
              Для работы с личным кабинетом необходимо добавить лицевой счёт.
            </div>
          </div>
          <button
              data-bs-toggle="modal"
              data-bs-target="#modal_add_ls"
              href="#"
              class="main--add-account btn btn-primary"
          >
            <plus-icon/>
            Добавить лицевой счет
          </button>
        </div>
      </div>
      <div v-else>
        <h1>
          Добрый день, {{ user.name }}!
        </h1>
        <div class="widgets" v-if="user.widget">
          <template v-if="isMobile">
            <div class="d-flex flex-wrap " :class="className">
              <payment-widget class="widget-padding col-12 pr-0" :class="widgetClassName"  :price="user.widget.debts" />

              <event-widget v-if="user.widget?.announces?.length" class="widget-padding col-12 mb-3" :announces="user.widget.announces"/>

              <meter-widget v-if="!user.inputIpuBlocked()" class="widget-padding col-12 " :class="widgetClassName" />

              <e-p-d-widget class="widget-padding col-12 " :class="widgetClassName" />
              <appeal-widget
                v-if="!user.appealBlocked()"
                class="widget-padding col-12 "
                :class="widgetClassName"
                :appeal="user.widget.appeal"
              />
            </div>
          </template>
          <template v-else>
            <div class="d-flex flex-wrap " :class="className">
              <payment-widget class="widget-padding col-12 " :class="widgetClassName"  :price="user.widget.debts" />

              <meter-widget v-if="!user.inputIpuBlocked()" class="widget-padding col-12 " :class="widgetClassName" />

              <e-p-d-widget class="widget-padding col-12 " :class="widgetClassName" />

              <appeal-widget
                v-if="!user.appealBlocked()"
                class="widget-padding col-12 "
                :class="widgetClassName"
                :appeal="user.widget.appeal"
              />
            </div>
            <event-widget v-if="user.widget?.announces?.length" class="col-xl-4 col-sm-12 col-12" :announces="user.widget.announces"/>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { PlusIcon } from 'vue-tabler-icons';
import EventWidget from "~/components/widgets/EventWidget.vue";
import PaymentWidget from "~/components/widgets/PaymentWidget.vue";
import MeterWidget from "~/components/widgets/MeterWidget.vue";
import AppealWidget from "~/components/widgets/AppealWidget.vue";
import EPDWidget from "~/components/widgets/EPDWidget.vue";
import {Profile} from "~/store/Profile";

const { isMobile } = useDevice();
const user = Profile();
const currentAccount = computed(()=>user.currentAccount());

const widgetClassName = computed((): string => user.widget?.announces?.length ? 'col-xl-6 col-lg-6' : 'col-xl-4 col-lg-6');
const className = computed((): string => user.widget?.announces?.length ? 'col-xl-8 col-sm-12 col-12' : 'col-xl-12 col-sm-12 col-12');

watch(
  () => user.accounts.length,
  async () => {
   if ( !user.data.id )
     return
    await getWidgets()


})

onBeforeMount(async () => {
  await getWidgets()
});

const getWidgets = async() => {
  if (!currentAccount)
    return;

  try {
    await user.getWidgetDashboard();
  } catch (e) {
    useApiErrors(e);
  }
}

definePageMeta({
  middleware: ['auth', 'redirect']
});
</script>
<style lang="scss" scoped>
h3 {
  max-width: 10em;
  line-height: 1.2em;
  margin: auto;
  height: 3em;
}

.widgets {
  display: flex;
  flex-wrap: wrap;

  .divide-y > div {
    border-bottom: var(--tblr-border-width) var(--tblr-border-style) rgba(97,104,118,.16)!important;
  }
}

.widget-padding {
  padding-right: 1em;
  padding-bottom: 1em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  line-height: 20px;
  margin-top: -12px;

  &--add-account {
    margin-top: 32px;
  }

  &--title {
    font-weight: 590;
    font-size: 20px;
    line-height: 28px;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  &--no-account {
    width: inherit;
    margin: auto;
    margin-top: 72px;
    text-align: center;
  }

  &--item {
    display: inherit;
    margin: 0.5em;
    width: calc(50% - 1em);
    text-align: center;
  }

  .icon {
    width: 50%;
    margin-top: 10px;
    height: auto;
  }

  a {
    color: #8893a6;
  }
}

@media (max-width: 576px) {
  .widgets {
    .pr-5 {
      padding-right: 0;
    }
  }

  .widget-padding {
    padding-right: 0;
  }
}

@media (max-height: 500px) {
  .main {
    &--item {
      width: 8em;

      h3 {
        font-size: 0.7rem;
      }
    }
  }
}
</style>
