<template>
  <div>
    К заявке
    <a :href="'/app/appeals/' + props.id + '/view'" class="text-white">
      №{{ props.id }}
    </a>
    добавлен комментарий.
  </div>
</template>

<script setup lang="ts">
const props = defineProps(["id"]);
</script>
