<template>
  <div>
    <div v-if="articleInfo">
      <page-header :title="articleInfo.article_category.name" preTitle="Помощь" v-if="articleInfo.article_category"/>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            {{ articleInfo.title }}
          </h3>
          <nuxt-link to="/app/articles" class="ml-auto">
            <InfoSquareRoundedIcon class="icon icon-link me-2"/>
            <span>Вернуться к выбору категорий</span>
          </nuxt-link>
        </div>
        <div class="card-body">
          <div v-html="articleInfo.text" />
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import useApiErrors from "~/composables/useApiErrors";
import { Article as ArticleApi } from "~/api";
import { Article } from '~/store/Article';
import { InfoSquareRoundedIcon } from 'vue-tabler-icons';

const article = Article();
const route = useRoute();
const api = useApi();
const router = useRouter();
const params = route.params.view;
let id = Number(params[0]);
if (!id)
  router.push("/app/articles");
let isLoaded = ref(false);
let articleInfo = reactive<ArticleApi>({});
let errors = reactive({});

onBeforeMount(async (): Promise<void> => {
  try {
    const data = await article.getArticle(id);
    articleInfo = Object.assign(articleInfo, data);
  } catch (e) {
    useApiErrors(e);
  }
});

definePageMeta({
  middleware: 'auth'
});
</script>
<style lang="scss" scoped>
</style>
