<template>
  <div>
    <page-header title="Помощь" />
    <div class="input-icon mb-3">
      <input
          type="search"
          class="form-control search"
          placeholder="Поиск"
          aria-label="Быстрый поиск"
          v-model="articleCategories.search"
          @keyup="setSearch"
      />
      <div class="position-absolute" style="right: 8px; top: 8px;" v-if="articleCategories.search">
        <a @click="clearSearch" class="cursor-pointer">
          <x-icon class="icon" />
        </a>
      </div>
      <span class="input-icon-addon" v-if="!articleCategories.search">
      <search-icon class="icon"/>
    </span>
    </div>
    <div class="card">
      <div class="accordion" id="articleCategories" v-if="showCategories.length">
        <div class="accordion-item" v-for="item in showCategories" :key="'category_' + item.id">
          <h2 class="accordion-header top" :id="'headingCategory' + item.id">
            <button class="accordion-button text-muted fw-bold collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    :data-bs-target="'#collapseCategory' + item.id"
                    :aria-controls="'collapseCategory' + item.id"
                    aria-expanded="true"
            >
              {{ item.name }}
            </button>
          </h2>
          <div :id="'collapseCategory' + item.id" class="accordion-collapse collapse" :class="{'show': articleCategories.search}"
               :aria-labelledby="'headingCategory' + item.id" data-bs-parent="#articleCategories">
            <div class="accordion-body content pa-0">
              <div class="accordion" :id="'article' + item.id">
                <div class="accordion-item" v-for="article in item.listArticles.items"
                     :key="item.id + '_article_' + article.id">
                  <div class="accordion-header" :id="item.id + '_headingArticle' + article.id">
                    <nuxt-link class="accordion-button text-muted fw-normal d-flex article-btn"
                               :to="'/app/articles/' + article.id">
                      <div v-html="showTitle(article.title)"/>
                      <div class="text-muted ms-auto">
                      </div>
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="p-3 text-center">Статьи не найдены</div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { XIcon, SearchIcon, ChevronRightIcon } from 'vue-tabler-icons';
import { ArticleCategories } from '~/store/ArticleCategories';
import { ArticleCategory, ArticleCategoryResource } from '~/store/ArticleCategory';

const articleCategories = ArticleCategories();
const articleCategory = ArticleCategory();
const categories = ref<ArticleCategoryResource[]>([]);
let isSearch = false;

// строка поиска Найти
const changeSearch =  async (): Promise<void> => {
  await categories.value.map(async (category: ArticleCategoryResource): Promise<void> => {
    if (category?.listArticles)
      category.listArticles.loaded = false;
    await articleCategory.getArticlesList(category, 1, 100, 'pos', articleCategories.search);
  });
  isSearch = false;
}
const showCategories = computed((): ArticleCategoryResource[] => {
  return categories.value.filter((category: ArticleCategoryResource) => {
    return category?.listArticles?.items?.length;
  });
});

const setSearch = (): void => {
  if (isSearch) return;
  isSearch = true;
  setTimeout(changeSearch, 100);
}

const clearSearch = (): void => {
  articleCategories.search = "";
  changeSearch();
}

const showTitle = (value: string): string => {
  if (!articleCategories.search) return value;
  const beginPos = value.toLowerCase().indexOf(articleCategories.search.toLowerCase());
  if (beginPos < 0)  return value;
  const searchLength = articleCategories.search.length;
  return value.slice(0, beginPos) + '<b>' + value.slice(beginPos, beginPos + searchLength) + '</b>'
      + value.slice(beginPos + searchLength);
}
// получение первой страницы
onMounted(async (): Promise<void> => {
  await articleCategories.getList(1, 100);
  await articleCategories.items.map(async (category): Promise<void> => {
    const data = await articleCategory.getArticleByCategory(category)
    categories.value.push(data);
  });

});

definePageMeta({
  middleware: 'auth'
});
</script>
<style lang="scss" scoped>
.article-btn::after {
  background-image: none;
  display: none;
}

.accordion-button {
  font-size: 1rem;
}
.accordion-header {
  &.top {
    button {
      font-size: 1.2rem;
    }
  }
}
.accordion-body {
  &.content {
    .accordion {
      &-item {
        padding-left: 1em;
        border-top: 1px solid #e6e7e9;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
        border-radius: 0;
      }
    }
  }
}
</style>
