<template>
  <div>
    <!-- Заголовок -->
    <page-header title="ЕПД" />
    <div class="card">
      <div class="progress progress-sm" v-if="isLoading">
        <div class="progress-bar progress-bar-indeterminate"/>
      </div>
      <h2 v-if="text !== ''" class="text-red text-center pa-10">
        {{ text }}
      </h2>
      <template v-else>
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
          <tr>
            <th class="w-100">Период</th>
            <th>Ссылка на файл</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, index) in payDocuments.items" :key="'person_meter_' + index"  v-if="!payDocuments.isEmpty">
            <td class="sort-period_date">
              {{ formatDate(item.period_date, { month: 'long', year: 'numeric' } ) }}
            </td>
            <td class="text-end w-1">
              <label class="form-selectgroup-item">
                <a :href="item.link" target="_blank" download>
                  <file-download-icon class="icon" />
                </a>
              </label>
            </td>
          </tr>
          <tr v-else>
            <td colspan="2">
              <empty-list />
            </td>
          </tr>
          </tbody>
        </table>
        <Pagination
            :total="payDocuments.paginator.total"
            :per-page="payDocuments.paginator.per_page"
            :page="payDocuments.paginator.current_page"
            @update="getPage"
        />
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
import { FileDownloadIcon } from "vue-tabler-icons";
import useApiErrors from "~/composables/useApiErrors";
import {onBeforeRouteUpdate, useRouter} from 'vue-router';
import { getCollectionPage } from '~/composables/useCollectionStore';
import { PayDocuments } from "~/store/PayDocuments";
import {computed} from "vue";

let isLoading = ref(false);
const api = useApi();
const router = useRouter();

const payDocuments = PayDocuments();
payDocuments.init();
// номер текущей страницы
const page = ref(payDocuments.paginator.current_page);
const perPages = ref(payDocuments.paginator.per_page);
let text = ref('');

// получение первой страницы
onMounted(async (): Promise<void> => {
  await getItems();
});

onBeforeRouteUpdate(async (to): Promise<void> => {
  payDocuments.init(to.query);
  await getItems();
});

const getPage = (numberPage: number | undefined, perPage?: number, column?: string): void => {
  page.value = numberPage as number;
  if (perPage)
    perPages.value = perPage;
  getCollectionPage(payDocuments, numberPage as number, perPage, column);
}

const getItems = async (): Promise<void> => {
  try {
    text.value = '';
    payDocuments.loaded = false;
    isLoading.value = true;
    await payDocuments.getList(page.value as number, perPages.value, payDocuments.sort_by);
  } catch (e) {
    const apiErrors = useApiErrors(e, false, false);
    text.value = apiErrors.message;
  } finally {
    isLoading.value = false;
  }
}

definePageMeta({
  middleware: 'auth'
});
</script>
