<template>
  <div v-if="account" class="card-body pt-0">
    <div class="row">
      <div class="col-auto">
        <div>
          Лицевой счет <b>№{{ account.account }}</b>
        </div>
        <div class="mt-2" v-if="account.opened_date">
          Дата открытия счета: <b>{{ formatDate(account.opened_date) }}</b>
        </div>
        <div class="mt-2" v-if="account.flat">
          Номер квартиры:
          <a href="#">
            <b>
              <span>
                {{ account.flat.number }}
              </span>
            </b>
          </a>
        </div>
        <div class="mt-2" v-if="account.flat">
          <status-label
              :status="account.flat.is_living_type"
              :text="account.flat.is_living_type ? 'Жилое помещение' : 'Нежилое помещение'"
          />
        </div>
        <div class="mt-2" v-if="account.total_square">
          Общая площадь: <b>{{ account.total_square }}</b>
        </div>
        <div class="mt-2" v-if="account.live_square">
          Площадь жилая: <b>{{ account.live_square }}</b>
        </div>
        <div class="mt-2" v-if="account.total_square">
          Площадь нежилая: <b>{{ (account.total_square - account.live_square).toFixed(2) }}</b>
        </div>
        <div class="mt-2" v-if="account.rooms">
          Кол-во комнат: <b>{{ account.rooms }}</b>
        </div>
        <div class="mt-2" v-if="account.account_gis">
          ЛС ГИС ЖКХ: <b>{{ account.account_gis }}</b>
        </div>
        <slot />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
const props = defineProps(["account"]);
import { formatDate } from '~/composables/stringHelper';
import StatusLabel from '~/components/utility/StatusLabel.vue';
import useApiErrors from "~/composables/useApiErrors";
import {PersonalAccounts} from '~/store/PersonalAccounts';
import { onBeforeMount } from "@vue/runtime-core";

const accounts = PersonalAccounts();
const router = useRouter();

watch(accounts.items,async ()=>{
  await accounts.getList(true)
})

onBeforeMount(() => {
  getItems();
})
// получение ЛС
const getItems = async (): Promise<void> => {
  try {
    await accounts.getAccount(Number(props.account.id));
  } catch (e) {
    useApiErrors(e);
  }
}
</script>
