<template>
  <div class="">
    <div class="card-body">
      <div v-if="company && company.name">
        <div class="col-sm-12">
          <status-label
              :status="company.is_organization"
              :text="'Управляющая организация'"
          />
          <div class="mt-2">
            Название: {{ company.name }}
          </div>
          <div class="mt-2"> Кратко: {{ company.short_name }}</div>
          <div class="mt-2"> ИНН:  {{ company.inn }}</div>

          <div class="mt-2" v-for="(elem, index) in company.info" :key="'info_' + index">
            <h3 v-if="elem.type === 'header'">{{ elem.body }}</h3>
            <span v-else>
              <span v-if="elem.label">
                {{ elem.label }}:
              </span>
              <a v-if="elem.type === 'phone'" :href="'tel:' + elem.body">
                  {{ formatPhone(elem.body) }}
              </a>
              <a v-else-if="elem.type === 'email'" :href="'mailto:' + elem.body">
                  {{ elem.body }}
              </a>
              <a v-else-if="elem.type === 'link'" :href="elem.body" target="_blank">
                  {{ elem.body }}
              </a>
              <span v-else>
                {{ elem.body }}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import StatusLabel from '~/components/utility/StatusLabel.vue';
import { formatPhone } from '~/composables/stringHelper';
import useApiErrors from "~/composables/useApiErrors";
import {Company} from "~/store/Company";
import {PersonalAccounts} from "~/store";

let company = ref({});
const companies = Company();
const user = PersonalAccounts();

const updateCompany = async () => {
  await companies.getList()
  companies.items.map(element=>company.value = element.company);
}

watch(user.items, async () => {
  await updateCompany();
})

onBeforeMount(async () => {
  try {
    await updateCompany();
  } catch (e) {
    useApiErrors(e);
  }
});

</script>
