<template>
  <div class="">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <label class="form-label required">
            Причина удаления
          </label>
          <text-area-field
              :style="'min-height: 6em;'"
              v-model="delete_reason"
              :errors="errors"
              name="delete_reason"
              placeholder="..."
          />
        </div>
      </div>
    </div>
    <div class="card-footer d-flex">
      <nuxt-link type="button"
                 class="btn btn-primary"
                 to="/app/profile/"
      >
        Отмена
      </nuxt-link>
      <button type="button"
              class="btn btn-red align-items-end justify-content-end ml-auto"
              :class="{'btn-loading': isLoading}"
              :disabled="!delete_reason"
              @click.prevent="startDeleteProfile"
      >
        Удалить
      </button>
    </div>
  </div>

  <confirm-modal
      id="modal-confirm-delete"
      title="Удаление профиля"
      text="Профиль будет удален, операция не обратима."
      confirm-button="Удалить профиль"
      confirm-class="btn-red"
      @confirm="finishDeleteProfile"
      @cancelled="onCancelled"
      :no-auto-close="true"
      :showModal="showDeleteConfirmation"
      :isLoading="isLoadingConfirm"
  >
    <div class=mt-2>


      <label class="form-label required">Введите код из СМС для подтверждения:</label>
      <div>
        <input-field :errors="confirmErrors" name="code" v-model="code" :maxlength="4" type="tel" class="text-center" placeholder="0000"/>
      </div>
      <div class="text-muted mt-3" v-if="!timeWait">
        Код не пришел?
        <a href="#" @click.prevent="sendNewCode">Запросить новый код</a>
      </div>
      <div v-else class="text-muted mt-3">
        Новый код можно будет запросить через {{ showTime }}
      </div>

    </div>
  </confirm-modal>


</template>
<script setup lang="ts">
// import StatusLabel from '~/components/utility/StatusLabel.vue';
// import { formatPhone } from '~/composables/stringHelper';
// import {Company} from "~/store/Company";
// import {PersonalAccounts} from "~/store";
//
// let company = ref({});
// const companies = Company();
// const user = PersonalAccounts();
//
// const updateCompany = async () => {
//   await companies.getList()
//   companies.items.map(element=>company.value = element.company);
// }
//
// watch(user.items, async () => {
//   await updateCompany();
// })
import TextAreaField from '~/components/fields/TextAreaField.vue';
import ConfirmModal from '~/components/modals/ConfirmModal.vue';
import {Profile, UserDevice} from '~/store';
import {useRouter} from 'vue-router';
import InputField from '~/components/fields/InputField.vue';
import {computed} from '@vue/reactivity';
import moment from 'moment/moment';
import useApiErrors from '~/composables/useApiErrors';
import {useToastMessage} from '~/composables/useToastMessage';

let isLoading = ref(false);
let isLoadingConfirm = ref(false);
let delete_reason = ref('');
let code = ref('');
let errors = reactive({});
let confirmErrors = reactive({});
let step = ref(1);
let showDeleteConfirmation = ref(false);
let confirmation_required = ref(false);
const token = useApiToken();
const userDevice = UserDevice();
const router = useRouter();
const toast = useToastMessage();

const timeWait = ref(0);

const countDownTimer = (): void => {
  if (!timeWait.value)
  {
    return;
  }
  setTimeout(() => {
    timeWait.value--;
    countDownTimer();
  }, 1000);
};

const showTime = computed((): string => {
  const nowTime = moment();
  const timeWait_ = moment().add(timeWait.value, 'seconds');

  const duration = moment.duration(timeWait_.diff(nowTime));
  const minutes = duration.minutes() > 0 ? duration.minutes() + ' мин. ' : '';
  return minutes + duration.seconds() + ' сек.';
});


const startDeleteProfile = () => {
  code.value = '';
  callApi(
      async () => {
        const res = await useApi().deleteProfile({delete_reason: delete_reason.value});

        timeWait.value = Number(res.data.rest_in_seconds);
        countDownTimer();
        confirmation_required.value = true;
        showDeleteConfirmation.value = true;

      },
      isLoading,
      errors
  );
};

const sendNewCode = () => {
  callApi(
      async () => {
        const res = await useApi().deleteProfile({delete_reason: delete_reason.value});
        timeWait.value = Number(res.data.rest_in_seconds);
        toast().success('Новый код отправлен');
        countDownTimer();
      },
      isLoadingConfirm,
      confirmErrors
  );
};

const finishDeleteProfile = () => {
  callApi(
      async () => {

        const res = await useApi().deleteProfile({delete_reason: delete_reason.value, code: code.value});
        if (res.data.deleted || false)
        {
          showDeleteConfirmation.value = false;
          delete_reason.value = '';
          useApiToken().clear();
          const user = Profile();
          user.setShowDeleteMessage(true);
          router.push("/app/auth/login");
        }

      },
      isLoadingConfirm,
      confirmErrors
  );
};

const onCancelled = () => {

  showDeleteConfirmation.value = false;

};

onBeforeMount(async () => {
});

</script>
