<template>
  <div class="p-3">
    <div v-if="person_cards?.length>0" class="table w-full">
      <div class="page-title mb-3">
        Сохраненные карты оплаты
      </div>
      <div v-for="(item,index) in person_cards" class="d-flex w-100 flex-row justify-content-between align-items-center card mb-2">
        <div class="">
          <div class="d-flex align-items-center">
            <credit-card-icon color="#929DAB" :size="18" class="mr-3"/>
            {{item.payment_system}} {{maskedCardFormat(item.label)}}
          </div>
        </div>
        <div class=" d-flex align-content-end flex-column btn-zone">
            <button class="btn btn-danger btn-icon align-self-end"
                      data-bs-toggle="modal"
                      data-bs-target="#modal-confirm"
                      @click="cardToRemove = {item:item,index:index}"
            >
            <TrashXIcon class="icon"/>
            </button>
        </div>
      </div>
    </div>
    <div v-else class="d-flex justify-content-center ">
      <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <credit-card-icon color="#DADFE5" :size="120"/>
        <span class="page-header-text">У вас не добавлено ни одной карты</span>
        <span class="page-body-text page-text d-flex antialiased">Добавление карты происходит при оплате услуг с включенной галочкой "запомнить карту" после ввода данных новой карты.</span>
      </div>
    </div>
  </div>
  <!-- Модалка подтверждения -->
  <cancel-modal
    id="modal-confirm"
    title="Подтверждение"
    confirm-button="Удалить"
    confirm-class="btn-danger"
    @confirm="removeCard"
  >
    <div class="d-flex justify-content-center ">
      <span class="page-text">
        Вы действительно хотите удалить карту? Это действие нельзя отменить.
      </span>
    </div>
  </cancel-modal>
</template>
<script setup lang="ts">
import {CreditCardIcon, TrashXIcon} from "vue-tabler-icons";
import CancelModal from "~/components/modals/CancelModal.vue";
import {useToastMessage} from '~/composables/useToastMessage';

const api = useApi();
let cardToRemove = ref();
const person_card_id = ref<number>();
const person_cards = ref();
const toast = useToastMessage();


const loadCards = async () => {
  try
  {
    let data = await api.getCards();
    person_cards.value = data.data.items;
    if (data.data.items.length) {
      person_card_id.value = data.data.items.find(v => v.is_last).id;
    } else {
      person_card_id.value = 0;
    }
  }
  catch (e)
  {
  }

};

onBeforeMount(async (): Promise<void> => {
  await loadCards();
});

const removeCard = async (): Promise<void> => {
  try
  {
    await api.removeCard(cardToRemove.value.item.id);
    person_cards.value.splice(cardToRemove.value.index, 1);
    toast().success("Карта удалена")
  }
  catch (e)
  {
    useApiErrors(e);
  }
};

</script>

<style lang="scss" scoped>
.btn {
  color:#929DAB;
}
.btn-zone :hover {
  transition: 0.3s;
  background-color: transparent;
  color: #AB2E2E;
}
.card-block {
  border: 1px solid #DADFE5;
  border-radius: 3px;
}
.page-header-text {
  font-weight: 590;
  font-size: 20px;
  line-height: 28px;
  color: #182433;
  text-align: center;
}
.page-text {
  color: #616876;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
.page-body-text {
  @media (min-width: 768px) {
    width: 60%;
  }
}

</style>
