<template>
  <div>
    <page-header>
      <template v-slot:title>
        <breadcrumb :items="breadcrumbs" />
      </template>
      <button v-if="isAccounts"
          data-bs-toggle="modal"
          data-bs-target="#modal_add_ls"
          href="#"
          :disabled="isDisabled"
          class="btn btn-success add-account"
      >
        <plus-icon class="icon" />
      </button>
    </page-header>
    <div class="card">
      <div class="row g-0">
        <!-- ЛЕВОЕ МЕНЮ-->
        <div class="col-3 d-none d-md-block border-end">
          <div class="card-body pt-0">
            <div class="list-group list-group-transparent">
              <NuxtLink
                  :to="'/app/profile/'"
                  class="list-group-item list-group-item-action d-flex align-items-center"
                  :class="{ 'active': isMainInfo }"
              >
                Основные данные
              </NuxtLink>
            </div>
            <div class="list-group list-group-transparent">
              <NuxtLink
                :to="'/app/profile/account-list'"
                class="list-group-item list-group-item-action d-flex align-items-center"
                :class="{ 'active': isAccounts || isAccountPage }"
              >
                Лицевые счета
              </NuxtLink>
            </div>
            <div class="list-group list-group-transparent">
              <NuxtLink
                :to="'/app/profile/card-list'"
                class="list-group-item list-group-item-action d-flex align-items-center"
                :class="{ 'active': isCards }"
              >
                Карты
              </NuxtLink>
            </div>
            <div class="list-group list-group-transparent" v-if="user.currentAccount()">
              <NuxtLink
                :to="'/app/profile/company'"
                class="list-group-item list-group-item-action d-flex align-items-center"
                :class="{ 'active': isCompanyPage }"
              >
                Компания
              </NuxtLink>
            </div>
            <div class="list-group list-group-transparent" v-if="isRemovePage">
              <NuxtLink
                :to="'/app/profile/remove'"
                class="list-group-item list-group-item-action d-flex align-items-center active"

              >
                Удаление
              </NuxtLink>
            </div>
          </div>
        </div>
        <!-- ОСНОВНАЯ ЧАСТЬ -->
        <div class="col d-flex flex-column">
          <div v-if="isMainInfo" class="card">
            <form @submit.prevent="save">
              <div class="card-body">
                <profile-main-info
                    :key="errorKey"
                    @update="setProfileForm"
                    @uploadPhoto="uploadPhoto"
                    @deletePhoto="deletePhoto"
                    :item="profile"
                    :errors="errors"
                >
                  <div class="col-sm-4 mt-3 pr-5">
                    <label class="form-label" for="phone">
                      Телефон
                    </label>
                    <phone-field
                        :disabled="true"
                        v-model="profile.phone"
                        :name="'phone'"
                        :mask="'+{7} (000) 000-00-00'"
                        :errors="errors"
                        :placeholder="'Введите телефон'"
                    />
                  </div>
                </profile-main-info>
                <label class="form-label mt-3 mb-3" for="password">
                  Пароль
                </label>
                <a data-bs-toggle="modal"
                   data-bs-target="#modal-change"
                   id="btn-change"
                   href="#"
                   class="btn"
                   @click="passwordKey++"
                >
                  Изменить пароль
                </a>
              </div>
              <div class="card-footer d-flex">
                <nuxt-link class="btn align-items-start justify-content-start btn-link" to="/app/profile/remove"
                        :class="{'btn-loading': isLoading}">
                  Удалить профиль
                </nuxt-link>
                <button type="submit" class="btn btn-success align-items-end justify-content-end ml-auto"
                        :class="{'btn-loading': isLoading}">
                  Сохранить
                </button>
              </div>
            </form>
          </div>
          <!--Список ЛС-->
          <profile-account-list v-if="isAccounts" />
          <profile-card-list v-if="isCards" />
          <account-main-info v-if="isAccountPage" />
          <!-- Информация о компании-->
          <company-info v-if="isCompanyPage" />
          <delete-profile-form v-if="isRemovePage" />
        </div>
      </div>
    </div>
    <!-- Модалка подтверждения -->
    <confirm-modal
        id="modal-change"
        title="Изменение пароля"
    >
      <template v-slot:modal-body>
        <password-reset :key="passwordKey" @close="closeModal" />
      </template>
    </confirm-modal>

  </div>
</template>

<script setup lang="ts">
import { PlusIcon, EyeIcon, TrashIcon } from "vue-tabler-icons";
import ConfirmModal from "~/components/modals/ConfirmModal.vue";
import Breadcrumb from "~/components/Breadcrumb.vue";
import { Profile } from "~/store/Profile";
import useApiErrors from "~/composables/useApiErrors";
import { useToastMessage } from "~/composables/useToastMessage";
import { useApi } from "~/composables/useApi";
import { ProfileResource } from "~/api/models/profile-resource";
import PhoneField from "~/components/fields/PhoneField.vue";
import PageHeader from "~/components/PageHeader.vue";
import ProfileMainInfo from "~/components/profile/ProfileMainInfo.vue"
import CompanyInfo from "~/components/profile/CompanyInfo.vue"
import DeleteProfileForm from "~/components/profile/DeleteProfileForm.vue"
import ProfileAccountList from "~/components/profile/ProfileAccountList.vue"
import ProfileCardList from "~/components/profile/ProfileCardList.vue"
import PasswordReset from "~/components/auth/PasswordReset.vue"
import AccountMainInfo from "~/components/profile/AccountMainInfo.vue"
import { computed } from "vue";
import {UpdateProfileRequest} from "~/api";
import {useApiToken} from "~/composables/useApiToken";
import {useLocal} from '~/composables/useLocal';

const user = Profile();
const toast = useToastMessage();
const api = useApi();
const token = useApiToken();
let isLoading = ref(false);
// справочник домов
let errors = reactive({});
let errorKey = ref(0);
let passwordKey = ref(0);

let profile = reactive({
  first_name: user.data.first_name ?? null,
  last_name: user.data.last_name ?? null,
  middle_name: user.data.middle_name ?? null,
  email: user.data.email ?? "",
  phone: user.data.phone ?? "",
  photo: user.data.photo ?? undefined,
  send_receipt: user.data.send_receipt ?? true,
});

const router = useRouter();
const route = useRoute();
const params = route.params.view;
const activeTab = ref(0);
if (params) {
  let tab = params[0];
  // табы для левого меню
  switch (tab) {
    case 'password':
      activeTab.value = 1;
      break;
    case 'account':
      activeTab.value = 2;
      break;
    case 'account-list':
      activeTab.value = 3;
      break;
    case 'card-list':
      activeTab.value = 6;
      break;
    case 'company':
      activeTab.value = 5;
      break;
    case 'remove':
      activeTab.value = 7;
      break;
    default:
      activeTab.value = 0;
  }

  // аккаунт подробно
  if (params[1]) {
    activeTab.value = 4;
  }
}
let isMainInfo = computed(() => activeTab.value === 0);
let isPassword = computed(() => activeTab.value === 1);
let isAccounts = computed(() => activeTab.value === 3);
let isCards = computed(() => activeTab.value === 6);
let isAccountPage = computed(() => activeTab.value === 4);
let isCompanyPage = computed(() => activeTab.value === 5);
let isRemovePage = computed(() => activeTab.value === 7);
const isDisabled = computed(()=> user.fio.length == 0)

const link = '/app/profile/password';
const changeTab = (tab: string): void => {
  router.push({path: link + tab});
}
const closeModal = (): void => {
  const elem = document.getElementById('btn-change');
  elem?.click();
}

const oldIsNameRequired = user.isNameRequired;

// обработка запросов
const save = async (): Promise<void> => {
  try {
    isLoading.value = true;
    const { data } = await api.updateProfile(profile as UpdateProfileRequest);
    await user.getProfile();
    //обновляем профиль
    token.expireAccessToken()
    errors = {};

    if (oldIsNameRequired)
    {
      useLocal().set(user.profile.accounts[0].id);
      location.href = "/app";
      return

    }
    else
    {
      toast().success("Основная информация успешно сохранена");
      isLoading.value = false;
    }

  } catch (e) {
    const {apiErrors} = useApiErrors(e);
    errors = apiErrors;

    isLoading.value = false;
  }
}

const uploadPhoto = async (file: File): Promise<void> => {
  errors = {};
  try {
    await user.uploadPhoto(file);
    profile.photo = user.data.photo;
    toast().success("Фотография успешно загружена");
  } catch (e) {
    const {apiErrors} = useApiErrors(e);
    errors = apiErrors;
  } finally {
    errorKey.value++;
  }
}

const deletePhoto = async (): Promise<void> => {
  errors = {};
  try {
    await user.deletePhoto();
    profile.photo = undefined;
    toast().success("Фотография успешно удалена");
  } catch (e) {
    const {apiErrors} = useApiErrors(e);
    errors = apiErrors;
  }
}

const setProfileForm = (data: {
  first_name: String,
  last_name: String,
  middle_name: String,
  email: String,
  phone: String,
  send_receipt: Boolean
}): void => {
  profile = Object.assign(profile, data);
}

const breadcrumbs =  computed(() => {
  let breadcrumbs =  [
    {
      link: '/app/profile/',
      title: 'Профиль'
    }
  ];
  if (isCompanyPage.value) {
    breadcrumbs[1] = {
      link: '/app/profile/company/',
      title: 'Компания'
    }
  }
  if (isAccounts.value) {
    breadcrumbs[1] = {
      link: '/app/profile/account-list/',
      title: 'Лицевые счета'
    }
  }
  if (isCards.value) {
    breadcrumbs[1] = {
      link: '/app/profile/card-list/',
      title: 'Карты'
    }
  }
  if (isRemovePage.value) {
    breadcrumbs[1] = {
      link: '/app/profile/remove/',
      title: 'Удаление профиля'
    }
  }
  return breadcrumbs;
})
</script>
<style lang="scss" scoped>
.add-account {
  .icon {
    margin: 0;
  }
}

#modal-change :deep(.close) {
  top: -10px !important;
  left: calc(100% - 30px) !important;

  a {
    background-size: unset;
  }
}
</style>
