<template>
  <div class="profile-main-info-container">
    <div class="row row-cards">
      <div class="first-column">
        <!-- Profile Photo -->
        <div>
          <label class="form-label" for="photo">
            Фотография
          </label>
          <div class="d-flex">
            <!-- Загрузка фотографии -->
            <upload-image :name="'file'" @upload="uploadPhoto" :image="props.item?.photo?.url" @delete="deletePhoto" :errors="props.errors" />
          </div>
          <span v-if="props.errors['file']"  role="alert" class="text-red" >
            {{ props.errors['file'][0] }}
          </span>
        </div>
      </div>
      <div class="second-column w-100">
        <!-- ФИО -->
        <div class="row mt-3">
          <div class="col-sm-4">
            <label class="form-label required" for="last_name">
              Фамилия
            </label>
            <input-field name="last_name" v-model="profile.last_name" :errors="props.errors"/>
          </div>
          <div class="col-sm-4">
            <label class="form-label required" for="first_name">
              Имя
            </label>
            <input-field name="first_name" v-model="profile.first_name" :errors="props.errors"/>
          </div>
          <div class="col-sm-4">
            <label class="form-label" for="middle_name">
              Отчество
            </label>
            <input-field name="middle_name" v-model="profile.middle_name" :errors="props.errors"/>
          </div>
        </div>
        <div class="row mt-3">
          <div class="d-flex col-sm-4">
            <!-- Email -->
            <div class="w-100">
              <div class="d-flex">
                <label class="form-label " for="email">Email</label>
                <!-- Место для кнопки -->
                <slot name="item-right" />
              </div>
              <input-field name="email" v-model="profile.email" :errors="props.errors" />
            </div>
          </div>
          <div class="email-check-wrapper col-sm-4">
            <div v-if="profile.email" class="form-check form-switch d-inline-block">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" v-model="profile.send_receipt">
              <label class="form-check-label user-select-none d-flex" for="flexSwitchCheckDefault">Отправлять квитанцию
                на Email</label>
            </div>
          </div>
        </div>
        <slot />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import UploadImage from "~/components/UploadImage.vue";
import InputField from "~/components/fields/InputField.vue";

const emit = defineEmits(["uploadPhoto", "deletePhoto", "update"]);

const props = defineProps(["item", "errors"]);
let profile = reactive({
  first_name: props.item?.first_name,
  last_name: props.item?.last_name,
  middle_name: props.item?.middle_name,
  email: props.item?.email,
  phone: props.item?.phone,
  send_receipt: props.item?.send_receipt,
});
const phone = ref(props.item?.phone);
const email = ref(props.item?.email);

// изменение профиля
watch(
  () => profile,
  () => {
    return emit("update", profile)
  },
  { deep: true }
);

watch(
    () => props.item,
    () => {
      profile = Object.assign(profile, props.item);
      phone.value = profile.phone;
    },
    { deep: true }
);

watch(
  () => profile.email,
  () => {
    if (profile.email && !email.value) profile.send_receipt = true // Если почты не было и начали вводить адрес, включаем рассылку
    if (!profile.email) profile.send_receipt = false // Отключаем рассылку при удалении почты
  }
);


const uploadPhoto = (file: File): void => {
  emit("uploadPhoto", file);
}

const deletePhoto = (): void => {
  emit("deletePhoto");
}
</script>

<style lang="scss" scoped>

.second-column {
  .email {
    padding-right: 5px;
  }
}

.email-check-wrapper {
  margin-top: 38px;
}

</style>
