<template>
  <div>
    <div class="accordion" id="articleCategories" v-if="!accounts.isEmpty">
      <div v-for="(item, id) in accountList"
           :key="'category_' + id"
           class="accordion-item"
           :class="{'active': activeAddress(item.account)}"
            @click="changeCurrentAccount(item)"
      >
        <h2 class="accordion-header top" :id="'headingCategory' + id">
          <div type="button"
              class="accordion-button collapsed text-muted fw-bold"
               data-bs-toggle="collapse"
               :data-bs-target="'#collapseCategory' + id"
               aria-expanded="true"
               :aria-controls="'collapseCategory' + id"
          >
            <div class="col">
              <div class="short_address ps-0">
                <div class="col-sm-6">
                  <div class="d-flex">
                    <h3 :class="{'active': activeAddress(item.account)}">
                      {{ item.short_address }}
                    </h3>
                  </div>
                  <div class="list">
                    <div class="d-flex">
                      Общая площадь: <span>{{ item.total_square }}</span>
                    </div>
                    <div class="ml-3 d-flex">
                      Жилая: <span>{{ item.live_square }}</span>
                    </div>
                    <div class="ml-3 d-flex">
                      Комнат: <span>{{ item.rooms }}</span>
                    </div>
                  </div>
                </div>
                <div class="account-number col-sm-2 text-center ml-auto mr-0">
                  <h4 class="font-medium">
                    {{ item.account }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </h2>
        <div :id="'collapseCategory' + id" class="accordion-collapse collapse"
             :aria-labelledby="'headingCategory' + id" data-bs-parent="#articleCategories">
          <div class="accordion-body content pa-0">
            <div class="accordion" :id="'article' + id">
              <account-main-info :account="item">
                <button class="btn btn-danger me-auto mt-2"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-confirm"
                        @click="detachAccount = item.id"
                        v-if="accountList.length>1"
                >
                  Удалить лицевой счет
                </button>
              </account-main-info>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="alert alert-warning alert-dismissible mb-0" role="alert">
        <h3 class="mb-1">Нет активных лицевых счетов</h3>
        <p>Добавьте лицевой счет</p>
        <div class="btn-list">
          <button data-bs-toggle="modal"
                  data-bs-target="#modal_add_ls"
                  href="#"
                  class="btn btn-success"
                  :disabled="isDisabled"
          >
            Добавить
          </button>
        </div>
      </div>

    </div>
  </div>
  <!-- Модалка подтверждения -->
  <confirm-modal
      id="modal-confirm"
      title="Подтверждение"
      confirm-button="Удалить"
      confirm-class="btn-danger"
      :text="'Вы уверены, что хотите удалить лицевой счет?'"
      @confirm="deleteAccountLink"
  />
</template>
<script setup lang="ts">
import RoundLabel from "~/components/utility/RoundLabel.vue";
import ConfirmModal from "~/components/modals/ConfirmModal.vue";
import AccountMainInfo from "~/components/profile/AccountMainInfo.vue";
import { getSortClass } from '~/composables/useCollectionStore';
const emit = defineEmits(["sort"]);
const user = Profile();

import { useLocal } from "~/composables/useLocal";
const local = useLocal();

import { PersonalAccounts } from "~/store/PersonalAccounts";
import {Profile} from "~/store/Profile";
import {PersonalAccount} from "~/api";
const accounts = PersonalAccounts();

const api = useApi();
let detachAccount = ref(0);

const currentAccount = computed(() => user.currentAccount())
const accountList = computed(() => accounts.list)
const isDisabled = computed(()=> user.fio.length == 0)
const activeAddress = ((accountNumber: string) => accountNumber === currentAccount.value?.account)

const sortItems = (column: string): void => {
  emit("sort", column);
}

// подгрузка полного списка аккаунтов
onMounted(async (): Promise<void> => {
  try {
    await accounts.getList();
  } catch (e) {
    useApiErrors(e);
  }
});

const deleteAccountLink = async (): Promise<void> => {
  // снять привязку ЛС к аккаунту
  try {
    await api.detachAccount(detachAccount.value)
    await user.getProfile();
    const account = Number(local.get());
    // если ЛС был актвиен, устанавливаем следующий
    if (account === detachAccount.value) {
      deleteAccount(detachAccount.value)
      const accountNext = accounts.items.length > 0 ? accounts.items[0].id : null;
      if(accountNext){
        await local.set(accountNext);
        user.accountId = accountNext?.toString();
      }
    }
    await accounts.getList(true)
  } catch (e) {
    useApiErrors(e);
  }
}

const deleteAccount = (accountNext: number) => {
  if(!accountNext)
    return
  accounts.items = accounts.items.filter(account => account.id != accountNext)
}

function changeCurrentAccount(item: PersonalAccount) {
  if(!currentAccount.value)
    return
  currentAccount.value.account = item?.account;
}
</script>

<style lang="scss" scoped>
@import "@tabler/core/src/scss/variables";
.accordion-item {
  &.active {
    background-color: rgb(#206bc40a, 0.04);
  }
}

td {
  &.active {
    font-weight: 800;
  }
}

h3{
  &.active {
    color: #206bc4;
  }
}

.short_address {
  display: flex;
}

.list {
  font-weight: 100;
  display: flex;
}

.account-number {
  margin: auto 0 auto auto;
}

@media (max-width: 998px) {
  .account-number {
    margin-top: 0;
    margin-left: 0;
    text-align: left !important;
  }

  .short_address {
    display: block;
  }

  .list {
    display: none;
  }
}
</style>
