<template>
  <div class="body">
    <div class="d-flex">
      <div class="col-8 px-2 pl-0">
        <label class="form-label required" for="address">
          Адрес
        </label>
        <auto-complete-field
          name="address"
          v-model="form.house_id"
          :elem="houses"
          ref="refHouses"
          :required="true"
        />
      </div>
      <div class="col-4 flats" :class="{'disabled': !form.house_id}">
        <label class="form-label required" for="flat_id">
          Квартира
        </label>
        <auto-complete-field
          name="flat_id"
          v-model="form.flat_id"
          :elem="flats"
          ref="refFlats"
          :required="true"
        />
      </div>
    </div>
    <div class="mt-2" :class="{'disabled': !form.flat_id}">
      <label class="form-label required" for="account_id">
        Лицевой счет
      </label>
      <auto-complete-field
        name="account_id"
        v-model="form.account_id"
        :elem="accounts"
        ref="refAccounts"
        :required="true"
      />
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn mt-2" @click="emits('prevStep')" >
        <span>Вернуться</span>
      </button>
      <button class="btn btn-primary mt-2" :disabled="form.account_id === ''" @click="emits('nextStep', form.account_id)" >
        <span>Продолжить</span>
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import {useLocal} from "~/composables/useLocal";
import {FlatAccounts, HouseFlats, Houses, Profile} from "~/store";
import AutoCompleteField from "~/components/fields/AutoCompleteField.vue";

const api = useApi();

const local = useLocal();
const toast = useToastMessage();
const user = Profile();

const refHouses = ref();
const refFlats = ref();
const refAccounts = ref();

// справочник квартир
const flats = HouseFlats();
// справочник домов
const houses = Houses();
// справочник списка ЛС
const accounts = FlatAccounts();

const props = defineProps(["id"]);
const emits = defineEmits(['nextStep','prevStep'])

const currentAccount = computed(() => user.currentAccount());

const form = reactive({
  house_id: '',
  flat_id: '',
  account_id: ''
});


const setFlatFilters = async (): Promise<void> => {
  flats.setHouseId(form.house_id);
  form.flat_id = ''
  await flats.getList();
  // автонаведение на квартиры
  const tomSelect = refFlats.value?.root.tomselect;
  tomSelect.focus();
}

// выбор ЛС
const setAccountFilters = async (): Promise<void> => {
  accounts.setFlatId(form.flat_id);
  form.account_id = '';
  await accounts.getList();
  // выбор ЛС по умолчанию
  if (accounts.items.length === 1) {
    form.account_id = String(accounts.items[0].id);
  }
  // автонаведение на ЛС
  if (accounts.items.length > 1) {
    const tomSelect = refAccounts.value?.root.tomselect;
    tomSelect.focus();
  }
}

// смена квартиры
watch(
  () => form.flat_id,
  async () => {
    await setAccountFilters();
  }
);

// смена дома
watch(
  () => form.house_id,
  async () => {
    await setFlatFilters();
  }
);


</script>
