<template>
  <div class="text-muted mb-3">
    На номер {{ phone }} отправлен СМС-код, введите его в поле ниже.
  </div>
  <label class="form-label required">СМС-код</label>
  <div>
    <input-field
      :required="true"
      type="text"
      name="code"
      v-model="code"
      :errors="errors"
      placeholder="0000"
      maxlength="4"
    />
  </div>
  <div class="text-muted mt-3" v-if="!timeWait">
    Код не пришел?
    <a href="#" @click="sendNewCode">Запросить новый код</a>
  </div>
  <div v-else class="text-muted mt-3">
    Новый код можно будет запросить через {{ showTime }}
  </div>
  <button @click="authByCode" class="btn btn-primary w-100 mt-4">Продолжить</button>
</template>

<script setup lang="ts">
import InputField from "~/components/fields/InputField.vue";
import useApiErrors from "~/composables/useApiErrors";
import {useToastMessage} from "~/composables/useToastMessage";
import {computed} from "@vue/reactivity";
import moment from "moment/moment";

const props = defineProps({
  isRegister:{
    type:Boolean,
    required:true
  },

  phone:{
    type:String,
    required:true
  }
})
const emit = defineEmits(['sendCode'])

const router = useRouter()
const toast = useToastMessage();
const errors = ref({});
const api = useApi();
const timeWait = ref(0);
let errorPhone = ref("");
let phone = props.phone;
const code = ref("")

const showTime = computed((): string => {
  const nowTime = moment();
  const timeWait_ = moment().add(timeWait.value, 'seconds');

  const duration = moment.duration(timeWait_.diff(nowTime));
  const minutes = duration.minutes() > 0 ? duration.minutes() + ' мин. ' : ''
  return minutes + duration.seconds() + ' сек.';
});
const sendNewCode = async () => {
  try {
    if (timeWait.value)
      return;
    errors.value = {};
    errorPhone.value = "";
    // Отправить запрос на повторный код
    const { data } = await api.registerRepeatSendCode({ phone, type: props.isRegister ? 0 : 1 });
    timeWait.value = Number(data.rest_in_seconds);
    toast().success('Новый код отправлен');
    countDownTimer();
  } catch (e) {
    const { apiErrors } = useApiErrors(e);
    errors.value = apiErrors;
  }
}

const authByCode = async () => {
  errors.value = {};
  errorPhone.value = "";
  try {
    const codeNumber = Number(code.value) > 0 ?  Number(code.value) : undefined;
    const {data} = await api.verifyCode({phone, code: codeNumber });
    await router.push("/app/auth/reset-password?phone=" + phone + "&token=" + data.reset_password_token);
  } catch (e) {
    const { apiErrors } = useApiErrors(e);
    errors.value = apiErrors;
  }
}

const countDownTimer = (): void => {
  if (!timeWait.value) return;
  setTimeout(() => { timeWait.value--; countDownTimer() }, 1000);
}

</script>
