<template>
  <div>
    <label class="form-label required">
      Телефон
    </label>
    <div>
      <phone-field
        v-model="phone"
        :name="'phone'"
        :mask="'+{7} (000) 000-00-00'"
        :errors="errors"
        :placeholder="'+7 (000) 000-00-00'"
        @change="emit('change', phone)"
      />
      <button @click="emit('continue',isRegister)" class="btn btn-primary w-100 mt-4">Продолжить</button>
      <div v-if="props.isRegister" class="d-flex mt-2">
        <div class="text-agreement" v-if="lengthFilesGroup">
          Нажимая на кнопку "Продолжить", Вы принимаете условия
          <a
            :href="user.group.files.service_agreement"
            target="_blank"
            v-if="user.group.files.service_agreement">
            пользовательского соглашения
          </a>
          <span v-if="user.group.files.service_agreement && user.group.files.privacy_policy">,</span>
          <a
            :href="user.group.files.privacy_policy"
            target="_blank"
            v-if="user.group.files.privacy_policy">
            политики конфиденциальности
          </a>
          <span v-if="lengthFilesGroup > 1 && user.group.files.agreement_user">,</span>
          <a
            :href="user.group.files.agreement_user"
            target="_blank"
            v-if="user.group.files.agreement_user">
            согласия на обработку данных пользователя
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import PhoneField from "~/components/fields/PhoneField.vue";
import {PersonalAccounts, Profile} from "~/store";

const user = Profile();
const api = useApi();

const emit = defineEmits(["change","continue"])

const errors = ref({});

const props = defineProps({
  phone:{
    type:String,
    required:false
  },
  isRegister:{
    type:Boolean,
    required:true
  }
})
const accounts = PersonalAccounts();
let phone = props.phone;


const lengthFilesGroup = computed((): number => {
  return user.group?.files ? Object.keys(user.group.files).length : 0;
})

</script>

