<template>
  <div>
    <!--Создание заявки-->
    <create-appeal v-if="param === 'create'"/>
    <!--Просмотр заявки-->
    <ready-form v-else :key="formKey" form-type="view" :appeal="appeal">
      <!--загрузка-->
      <template v-slot:form-loaded>
        <div class="progress progress-sm" v-if="!isLoaded">
          <div class="progress-bar progress-bar-indeterminate"/>
        </div>
      </template>
      <template v-slot:form-buttons>
        <div class="card-footer d-flex">
          <div class="add_comment mr-auto" v-if="showCommentBtn">
            <a data-bs-toggle="modal"
               data-bs-target="#appeal_comment"
               href="#"
               class="btn btn-secondary ml-auto icon-link"
            >
              Добавить комментарий
            </a>
          </div>
          <div v-if="showCancelAppeal(appeal)" class="ml-auto">
            <a @click="openModal('cancel')"
               data-bs-toggle="modal"
               data-bs-target="#modal-confirm"
               href="#"
               class="link-danger ml-auto icon-link"
            >
              Отменить заявку
            </a>
          </div>
          <div v-if="showEstimateBtn(appeal)" class="ml-auto estimate">
            <a @click="openModal('estimate')"
               data-bs-toggle="modal"
               data-bs-target="#modal-confirm"
               href="#"
               class="btn btn-success ml-auto icon-link"
            >
              Оценить работу
            </a>
          </div>
          <div v-if="appeal.pay_status==='WAIT_PAY'">
            <a @click="openModal('pay')"
               data-bs-toggle="modal"
               data-bs-target="#modal-pay"
               href="#"
               class="btn btn-red ml-auto icon-link ms-3"
            >
              Оплатить
            </a>
          </div>
        </div>
      </template>
    </ready-form>
    <confirm-modal
      id="modal-pay"
      :title="'Оплата заявки'"
      :btn-submit="true"
      :hide-text="true"
    >
      <template v-slot:modal-body>
        <payment-appeal-form :key="Number(!isLoaded.value ? 0 : 1)" :appeal="appeal">
          <button
            type="submit"
            class="btn ml-2"
            :class="'btn-primary'"
          >
            <span>Оплатить</span>
          </button>
        </payment-appeal-form>
      </template>
    </confirm-modal>
    <appeal-modal :modal-type="modalType">
      <form @submit.prevent="sendData">
        <div class="modal-body">
          <!-- Модалка Отмены -->
          <div v-if="modalType === 'cancel'" class="mt-2">
            <label class="form-label required" for="reason">
              Причина отмены
            </label>
            <input-field class="modal-input" v-model="reason" name="reason" :errors="errors"/>
          </div>
          <!-- Модалка Оценки -->
          <template v-if="modalType==='estimate'">
            <div class="mt-2">
              <label class="form-label required" for="rating">
                Оценка
              </label>
              <set-status-star
                  @setValue="estimate.rating = $event"
                  :value="Number(estimate.rating)"
                  :max-value="5"
              />
            </div>
            <div class="mt-2">
              <label class="form-label" for="rating_comment">
                Отзыв о выполнении работ
              </label>
              <text-area-field
                  v-model="estimate.rating_comment"
                  :errors="errors"
                  name="rating_comment"
              />
            </div>
            <div class="mt-2">
              <label class="form-label" for="file">
                Фото
              </label>
              <drop-file-field
                  :file="attachFile"
                  format=".jpg, .png"
                  @upload="saveFile"
                  @delete="deleteFile"
                  :multiple="true"
              />
              <span role="alert" class="text-red" v-if="!!errors['file']">
            {{ errors['file'][0] }}
          </span>
            </div>
          </template>
        </div>
        <div class="modal-footer">
          <button class="btn me-auto" data-bs-dismiss="modal" aria-label="Close" type="button">
            Отмена
          </button>
          <button
              type="submit"
              class="btn ml-2"
              :class="modalType === 'cancel'?'btn-danger':'btn-primary'"
              :disabled="modalLoading"
          >
          <span v-if="!modalLoading">
            <template v-if="modalType === 'cancel'">Отменить</template>
            <template v-if="modalType === 'pay'">Оплатить</template>
            <template v-else>Отправить</template>
          </span>
            <span v-else>...</span>
          </button>
        </div>
      </form>
    </appeal-modal>
  </div>
</template>
<script setup lang="ts">
import {APPEAL_CLOSED, isAppealNew, showEstimateBtn} from '~/composables/useConst';
import ConfirmModal from "~/components/modals/ConfirmModal.vue";
import PaymentAppealForm from "~/components/payment/PaymentAppealForm.vue";

import SetStatusStar from "~/components/utility/SetStatusStar.vue";
import InputField from "~/components/fields/InputField.vue";
import DropFileField from "~/components/fields/DropFileField.vue";
import TextAreaField from "~/components/fields/TextAreaField.vue";
import AppealModal from "~/components/appeals/AppealModal.vue";
import CreateAppeal from "~/components/appeals/CreateAppeal.vue";
import ReadyForm from "~/components/appeals/ReadyForm.vue";
import {Appeals} from "~/store/Appeals";
import {Appeal, AppealCategory, AppealRequest, AppealType, FileResource} from "~/api";
import {getAppealRequest, steps, stepsClear} from "~/composables/appealHelper";
import useApiErrors from "~/composables/useApiErrors";
import {useToastMessage} from "~/composables/useToastMessage";
import {useApi} from "~/composables/useApi";
import {computed} from "@vue/reactivity";
import {useLocal} from "~/composables/useLocal";
import {getCurrentInstance, nextTick, reactive} from "vue";
import emitter from '~/composables/emitter';
import {Profile} from "~/store/Profile";
import {useRouter} from "vue-router";

const router = useRouter();
const user = Profile();

const local = useLocal();
const accountID = computed(() => Number(local.get()));
const appeals = Appeals();
const route = useRoute();
let formKey = ref(0);
let modalLoading = ref(false);
let helpers = getCurrentInstance()?.appContext.config.globalProperties.$helpers;

const api = useApi();
const toast = useToastMessage();

const openModal = (type: string) => {
  modalType.value = type;
  reason.value = '';
};

const showCancelAppeal = ((appeal: AppealRequest) => {
  return isAppealNew(appeal.status as number) &&
      appeal.pay_status != 'PAID_BY_PERSON' &&
      appeal.pay_status != 'PAID_MANUALLY';
});

const param = route.params.view[0];
let id = param && param !== "create" ? Number(param) : 0;
let appeal = {} as Appeal;
let reason = ref('');
let isLoaded = ref(false);
let showCommentBtn = ref(false);
let modalType = ref('');

let errors = reactive({});

const estimate = reactive({
  rating: '',
  rating_comment: ''
});

// обновление заявки
const initForm = async (): Promise<void> => {
  try {
    appeal = await appeals.getAppeal(id) as Appeal;
    if (appeal.status !== APPEAL_CLOSED && appeal.is_chatable) {
      showCommentBtn.value = true;
    }
    isLoaded.value = false;
    Object.assign(steps.form, appeal);
    steps.type = appeal.job?.appeal_category?.appeal_type as AppealType;
    steps.job.name = appeal.job?.name as string;
    steps.object = appeal.place;
    steps.category = appeal.job?.appeal_category as AppealCategory;
    steps.form.files = appeal.files as FileResource[];
  } catch (e) {
    const {apiErrors} = useApiErrors(e);
    errors = apiErrors;
  } finally {
    isLoaded.value = true;
  }
};

onBeforeMount(async (): Promise<void> => {
  if (user.appealBlocked()) {
    router.push("/app/");
  }
  api.getCards();

  if (id <= 0) {
    return;
  }
  stepsClear();
  await initForm();
  formKey.value++;
});

let attachFile = ref<Blob | null>(null);
const deletedFiles = ref(false);

const saveFile = (acceptFile: File): void => {
  attachFile.value = acceptFile as Blob;
  deletedFiles.value = false;
};

const deleteFile = (): void => {
  attachFile.value = null;
};

const sendData = async (): Promise<void> => {
  try {
    modalLoading.value = true;
    if (modalType.value === 'cancel') {
      await cancelAppeal();
      helpers?.hide_all_modals();
      useRouter().go(-1);
    } else {
      await sendEstimate();
    }
  } catch (e) {
    const {apiErrors} = useApiErrors(e);
    errors = apiErrors;
  } finally {
    modalLoading.value = false;
  }
};

// Отмена заявки
const cancelAppeal = async (): Promise<void> => {
  const request = getAppealRequest(accountID.value, appeal, reason.value) as AppealRequest;
  await api.updateAppeal(request, id);
  toast().success('Заявка №"' + id + '" отменена.');
  await initForm();
  formKey.value++;
};
// Оценка заявки
const sendEstimate = async (): Promise<void> => {
  if (Number(estimate.rating) === 0)
  {
    toast().error('Введите значение от 1 до 5');
    return;
  }

  if (attachFile.value)
  {
    await api.uploadAppealFileForm([attachFile.value], id);
  }

  const request = Object.assign({
    personal_account_id: accountID.value
  }, estimate);
  await api.updateAppeal(request, id);
  toast().success('Оценка отправлена');
  await initForm();
  formKey.value++;
  helpers?.hide_all_modals();
  useRouter().go(-1);
};


onUnmounted(() => {
  emitter.$off('model_update_event');
});
onBeforeMount(() => {
  emitter.$on('model_update_event', (payload) => {
    if (payload.model_name === 'App\\Models\\Appeal' && payload.model_data?.number == id)
    {
      initForm();
    }
  });
});

definePageMeta({
  middleware: ['auth', 'redirect']
});
</script>
<style lang="scss" scoped>
.modal-input :deep(.close) {
  top: -10px !important;
  left: calc(100% - 10px) !important;
}

.card-footer {
  line-height: 33px;
  flex-wrap: wrap;
}

@media (max-width: 998px) {
  .card-footer {
    .ml-auto {
      margin: auto;
    }

    .add_comment {
      width: 100%;

      .btn {
        width: inherit;
      }
    }

    .estimate {
      width: 100%;

      .btn {
        width: inherit;
      }
    }

    .btn-success {
      margin-top: 0.5em;
    }
  }
}
</style>

