<template>
  <div>
    <page-header title="Заявки">
      <NuxtLink to="/app/appeals/create" class="btn btn-success">
        <plus-icon />
        Добавить
      </NuxtLink>
    </page-header>
    <div class="card">
      <appeal-list />
    </div>
  </div>
</template>

<script setup lang="ts">
import { PlusIcon } from 'vue-tabler-icons';
import AppealList from "~/components/appeals/AppealList.vue";
import {Profile} from "~/store/Profile";
import {useRouter} from "vue-router";
const router = useRouter();

const user = Profile();

definePageMeta({
  middleware: ['auth', 'redirect']
});
</script>
<style lang="scss" scoped>
:deep(.page-title-container) {
  margin: auto;
  margin-left: 0;
}

.container-xl {
  .pa-5 {
    padding-right: 0;
  }
}
</style>
