<template>
  <div>
  <ol class="breadcrumb" aria-label="breadcrumbs" id="breadcrumb">
    <li class="breadcrumb-item"
      v-for="(item, index) in props.items"
      :key="'br' + index"
      :class="{'active': !item.link}"
    >
      <a href="#" aria-current="page" v-if="!item.link">
        {{item.title}}
      </a>
      <nuxt-link :to="item.link" v-else class="text-muted">
        {{item.title}}
      </nuxt-link>
    </li>
  </ol>
  </div>
</template>
<script setup lang="ts">
const props = defineProps({
  items: {
    required: true,
    type: Array<{
      link: String,
      title: String
    }>
  }
});
</script>
