<template>
  <div class="w-100 empty">
    <div class="empty-title">Ничего не найдено</div>
    <div class="empty-subtitle text-muted">
      <span>
        Попробуйте изменить поисковый фильтр,
      </span>
      <span>
        чтобы найти то, что вы ищете...
      </span>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.empty {
  padding: 0;
}

.empty-subtitle {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 998px) {
  .empty-subtitle {
    display: grid;
  }
}
</style>
