<template>
  <!-- Мобильное приложение: Нижнее меню-->
  <div v-if="isMobile && accountID" class="navbar-menu fixed-bottom">
    <footer-menu />
  </div>
  <footer class="footer d-print-none">
    <div class="container-xl">
      <div v-if="isMainPage" class="text-center">
        Техподдержка
        <a href="mailto:support_crm@np-ors.ru" class="ms-1">
          support_crm@np-ors.ru
        </a>
      </div>
    </div>
  </footer>
</template>
<script setup lang="ts">
import {
  WorldIcon,
  InfoSquareRoundedIcon,
  BuildingCommunityIcon,
  HomeIcon,
  UserIcon,
  UsersIcon,
  LoginIcon,
  LogoutIcon,
  CalculatorIcon,
  ListIcon,
  ToolIcon,
  FileStackIcon,
  FileDollarIcon,
  MessageForwardIcon,
  WalletIcon,
  AlignBoxLeftMiddleIcon,
  FileImportIcon
} from 'vue-tabler-icons';
const { isMobile } = useDevice();
const route = useRoute();
const router = useRouter();
import { computed } from "@vue/reactivity";
import { useRouter } from "vue-router";
import FooterMenu from "~/components/menu/FooterMenu.vue";
import { useLocal } from "~/composables/useLocal";
const local = useLocal();

const isMainPage = computed(() => route.fullPath === '/app')
const accountID = computed(() => Number(local.get()))
</script>
<style lang="scss" scoped>
.icon {
  --tblr-icon-size:1.4em;
}

.navbar-menu {
  border-top: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
}

.footer {
  border-top: 0;
}

@media (max-width: 998px) {
  .footer {
    padding: 1rem 0;
    padding-bottom: 5em;
  }
}
</style>
