<template>
  <div>

    <div class="mb-2">
      <slot name="filter" :filter="filter" :clear_filter="clear_filter"></slot>
    </div>

    <div class="progress progress-sm" v-if="isLoading">
      <div class="progress-bar progress-bar-indeterminate"></div>
    </div>

    <div class="card" v-if="data.pagination">
      <table class="table card-table table-vcenter datatable">
        <thead>
        <slot name="header" :set_sort="set_sort" :sort_class="sort_class"></slot>
        </thead>
        <tbody>
        <tr v-for="(item, index) in data.items" :key="'table_row_item' + index">
          <slot name="row" :item="item"></slot>
        </tr>
        </tbody>
      </table>
      <div v-if="!data.items.length" class="p-4">
        <empty-list/>
      </div>
      <Pagination
          :total="data.pagination.total"
          :per-page="data.pagination.per_page"
          :page="data.pagination.current_page"
          @update="set_page"
      />
    </div>
  </div>
</template>
<script setup lang="ts">


import {onBeforeRouteUpdate} from 'vue-router';
import {getAbsSort, isDescSort} from '~/composables/useCollectionStore';
import callApi from '~/composables/callApi';

const {getSortRecords} = useCollectionStore();

const props = defineProps(['filter', 'load_data', 'new_row', 'refresh_time']);

const api = useApi();
let data = reactive({});
let filter = reactive({page: undefined, per_page: undefined, sort_by: undefined});
filter = Object.assign(filter, props.filter || {});
let isLoading = ref(false);
let stop_watch = false;
let no_delay = true;
let initialized = false;

let tm;
watch(filter, (newFilter, oldFilter) => {
  if (!stop_watch)
  {
    Object.keys(newFilter).forEach(key => (newFilter[key] === undefined || newFilter[key] === null) ? delete newFilter[key] : {});
    useRouter().push(location.pathname + '?' + (new URLSearchParams(newFilter).toString()));
  }
});

const set_page = (page?: number, per_page?: number) => {
  let page_data = {page, per_page};
  Object.keys(page_data).forEach(key => (page_data[key] === undefined || page_data[key] === null) ? delete page_data[key] : {});
  filter = Object.assign(filter, page_data || {});
};
const set_sort = (col?: string) => {
  changeSortRecords(filter, col);
};

const sort_class = (col?: string): string => {

  if (getAbsSort(filter.sort_by) !== col)
  {
    return '';
  }
  return isDescSort(filter.sort_by) ? 'desc' : 'asc';

};


const getItems = async () => {

  tm && clearTimeout(tm);
  tm = setTimeout(async () => {

    const response = await callApi(
        () => props.load_data(filter),
        isLoading,
    );
    data = Object.assign(data, response.data);
    initialized = true;

  }, no_delay ? 10 : 300);
  no_delay = false;


};

const update_filter = (query) => {

  stop_watch = true;
  Object.keys(filter).forEach(key => filter[key] = query[key] ?? props.filter[key] ?? undefined);
  getItems();
  stop_watch = false;

};
const clear_filter = () => {
  no_delay = true;
  Object.keys(filter).forEach(key => filter[key] = props.filter[key] ?? undefined);
};

onBeforeRouteUpdate((to, from) => {
  initialized && update_filter(to.query);
});

watch(
    props.new_row,
    (_old, _new) => {
      const _find = data.items.filter((item: any) => {
        if (item.id == _new.id)
        {
          item = Object.assign(item, _new);
          return true;
        }
        return false;
      });
      !_find.length && getItems();
    }
);

watch(
    () => props.refresh_time,
    (_old, _new) => {
      getItems();
    }
);

onBeforeMount(() => {
  update_filter(useRoute().query);
});

</script>
