<template>
  <!-- Первый уровень -->
  <header class="navbar navbar-light">
    <div class="container-xl position-relative">
      <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3 text-wrap text-truncate" style="max-width:50%">
        <nuxt-link to="/" style="max-width: 100%">
          <img
            :src="link"
            :alt="options.headerLogoTitle"
            height="32"
            class="navbar-brand-image"
          />
          <span class="d-none d-lg-inline-flex ms-2 text-truncate">
            {{ options.headerLogoTitle }}
          </span>
        </nuxt-link>
      </h1>

      <!-- Выбор ЛС -->
      <div class="add_account">
        <Navbar/>
      </div>

      <!-- Уведомления -->
      <internal-message-header :user="user"/>

      <!-- Профиль -->
      <div class="profile navbar-nav flex-row cursor-pointer">

        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <div v-if="avatar" class="avatar avatar-sm" :style="{ backgroundImage: `url(${avatar})` }"/>
            <div v-else class="avatar avatar-sm">
              <user-icon/>
            </div>
            <div class="account">
              <div class="dropdown-header nav-link-title text-start text-name m-auto">
                <div>{{ last_name }}</div>
                <div>{{ name }}</div>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="#" class="account d-lg-none d-lg-block">
              <div class="dropdown-header text-name m-auto">
                <div class="nav-link-title">{{ fullName }}</div>
              </div>
            </a>

            <NuxtLink to="/app/profile" class="dropdown-item">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <edit-icon class="icon"/>
              </span>
              <span class="nav-link-title">Профиль</span>
            </NuxtLink>

            <template v-if="currentAccount">
              <NuxtLink to="/app/profile/account-list" class="dropdown-item">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <article-icon class="icon"/>
                </span>
                <span class="nav-link-title">Лицевые счета</span>
              </NuxtLink>
              <NuxtLink to="/app/profile/card-list" class="dropdown-item">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <credit-card-icon class="icon"/>
                </span>
                <span class="nav-link-title">Карты</span>
              </NuxtLink>
              <NuxtLink to="/app/profile/company" class="dropdown-item">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <id-badge2-icon class="icon"/>
                </span>
                <span class="nav-link-title">Компания</span>
              </NuxtLink>
            </template>

            <NuxtLink v-if="!$pwa.isInstalled && isMobile" class="dropdown-item" @click="showModal">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <download-icon class="icon"/>
              </span>
              <span class="nav-link-title">Приложение</span>
            </NuxtLink>
            <div class="dropdown-divider"/>
            <a class="dropdown-item"
               href="#"
               data-bs-toggle="modal"
               data-bs-target="#modal-confirm-logout"
            >
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <logout-icon class="icon"/>
              </span>
              <span class="nav-link-title">Выход</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Модалка подтверждения отправки-->
  <confirm-modal
    id="modal-confirm-logout"
    title="Подтверждение"
    confirm-button="Да"
    cancel-button="Нет"
    confirm-class="btn-primary"
    text="Вы уверены, что хотите выйти из аккаунта?"
    @confirm="logout"
  />
  <!--  Второй уровень: Основное меню-->
  <main-menu v-if="!isMobile"/>
  <!-- Модалка: Добавление ЛС-->
  <add-person-account-modal id="modal_add_ls"/>
</template>

<script setup lang="ts">
import AddPersonAccountModal from "~/components/modals/AddPersonAccountModal.vue";
import ConfirmModal from "~/components/modals/ConfirmModal.vue";
import MainMenu from "~/components/menu/MainMenu.vue";
import Navbar from "~/components/Navbar.vue";
import {
  ArticleIcon,
  CreditCardIcon,
  EditIcon,
  IdBadge2Icon,
  LogoutIcon,
  UserIcon,
  DownloadIcon,
} from 'vue-tabler-icons';
import {useRouter} from 'vue-router';
import {Profile} from "~/store/Profile";
import {getActivePinia, Pinia, Store} from 'pinia';
import {UserDevice} from '~/store/UserDevice';
import {GroupBrandingPerson, InternalMessage} from "~/api";
import {invitationStore} from "~/store";
import InternalMessageHeader from '~/components/internalMessage/InternalMessageHeader.vue'
import emitter from '~/composables/emitter'

const userDevice = UserDevice();
const {isMobile} = useDevice();
const route = useRoute();
const router = useRouter();
const api = useApi();
const token = useApiToken();
const user = Profile();
const avatar = computed((): string | undefined => user.data?.photo?.url);
const fullName = computed((): string => user.fullName as string);
const name = computed((): string => [user.profile.first_name, user.profile.middle_name].join(" "));
const last_name = computed((): string | undefined => user.profile.last_name);
const currentAccount = computed(() => user.currentAccount());

const options = computed((): GroupBrandingPerson => user.options);
const link = computed((): string | undefined => {
  return options.value.logo && options.value.logo !== '' ?
    options.value.logo :
    '/logo.png';
});

const showModal = (() => {
  invitationStore().forcedShow = true;
});

interface ExtendedPinia extends Pinia {
  _s: Map<string, Store>;
}

const logout = async (): Promise<void> => {
  await api.logout();
  token.clear();
  userDevice.unregister();
  // чистим все что сохраняли в стор
  const pinia = getActivePinia() as ExtendedPinia;
  if (!pinia) {
    await router.push("/app/auth/login");
    return;
  }
  pinia._s.forEach((store, name) => {
    if (name === 'global') {
      return;
    }
    try {
      store.$reset();
    } catch (e) {
      console.log(name, e);
    }
  });
  await router.push("/app/auth/login");
};
</script>

<style lang="scss" scoped>
.text-name {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 16px;
}

.border {
  border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
  border-radius: 3px;
  transition: border-color .3s, background .3s, color .3s;
}

.company {
  opacity: 0.6;
  cursor: pointer;
  color: inherit;

  &.current {
    opacity: 1;
  }

  &:hover {
    text-decoration: none;
  }
}

.add_account {
  margin-left: auto;
}

.dropdown-header {
  padding-top: 5px;
}

@media (max-width: 998px) {
  .profile .dropdown-menu-arrow:before {
    right: 10px;
  }

  .account {
    display: none;
  }
  :deep(.badge-pill) {
    font-size: 11px;
    color: white;
    padding: 3px;
    right: 10px !important;
  }
  .dropdown-header {
    line-height: 10px;
    word-wrap: break-word;

    .nav-link-title {
      overflow-x: clip;
      max-width: 17em;
      text-overflow: ellipsis;
    }
  }

  .add_account {
    margin-left: 0;
    width: 100%;
  }

  .dropdown-menu {
    .account {
      display: block;
    }
  }

  .navbar.navbar-light {
    .container-xl {
      flex-wrap: nowrap;
    }
  }

  .payment_button {
    position: absolute;
    top: 5px;
    left: calc(100% - 14em);
  }

  .navbar-brand-image {
    width: auto;
    height: auto;
    max-height: 32px;
  }
}

.dropdown-item:hover .icon,            // иконки внутри профиля
.show .avatar,                         // иконка самого профиля, открытое меню
.profile:hover .avatar,                // иконка самого профиля
::v-deep(.notifications:hover .icon),  // Колокольчик уведомлений
::v-deep(.notifications a.show .icon) {
  color: #0054a6;
}

.nav-link-icon,
.avatar {
  transition: color 0.3s ease-in-out;
}

::v-deep(.navbar-nav:hover .border) {
  border: 1px solid #0054a6 !important;
}

.avatar,
::v-deep(.icon) {
  color: #929dab;
  transition: color 0.3s ease-in-out;
}
</style>
