<template>
  <div class="p-3" v-if="basket_data.pdf_link">
    <div class="btn-groups">
      <a class="btn btn-outline-primary me-3" type="button" :href="basket_data.pdf_link" target="_blank">
        Скачать квитанцию
      </a>
      <button v-if="!data.f_send_email" class="btn btn-outline-primary" type="button" @click.prevent="data.f_send_email=true">
        Отправить квитанцию на почту
      </button>
      <button v-if="data.f_send_email" class="btn btn-outline-primary" type="button" @click.prevent="data.f_send_email=false">
        Отменить
      </button>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <form v-if="data.f_send_email" @submit.prevent="send_bill" class="mt-3">
          <div>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="E-Mail" v-model="data.email" required/>
              <button type="submit" class="btn btn-primary send" v-if="!data.loading">Отправить</button>
              <button type="button" class="btn btn-primary" v-if="data.loading" disabled>
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only"></span>
                </div>
              </button>
            </div>
          </div>
          <div class="mt-3" v-if="data.email !== data.origin_email && data.email>''">
            <label class="form-check">
              <input class="form-check-input" type="checkbox" v-model="data.f_save_to_profile">
              Сохранить E-Mail в профиль
            </label>
          </div>

          <div v-if="data.email_errors" class="invalid-feedback d-block">{{ data.email_errors }}</div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import {useApi} from "~/composables/useApi";
import {Profile} from "~/store/Profile";
import useApiErrors from "~/composables/useApiErrors";
import {useToastMessage} from "~/composables/useToastMessage";

const props = defineProps({
  basket_data: {
    type: Object,
    required: true,
    default: {print_url: ''}
  }
})

const data = reactive({
  email_error: '',
  api: useApi(),
  email: '',
  origin_email: '',
  f_send_email: false,
  f_save_to_profile: false,
  loading: false,
  toast: useToastMessage()
})
const send_bill = async () => {
  if (!data.loading) {
    data.loading = true
    data.email_errors = ''
    try {
      await data.api.sendBill({
        email: data.email,
        f_save_to_profile: data.f_save_to_profile
      }, props.basket_data.id)
      data.f_send_email = false;
      data.toast().success('Квитанция успешно отправлена')
    } catch (e) {
      console.log(e)
      const {apiErrors} = useApiErrors(e);
      data.errors = apiErrors;
    } finally {
      data.loading = false
    }
  }
}

const initMailData = () => {
  data.email = Profile().profile.email;
  data.origin_email = Profile().profile.email;
}

onMounted(async ()=>{
  initMailData()
})

</script>
<style lang="scss" scoped>
@media (max-width: 998px) {
  .btn-groups {
    .btn {
      margin-bottom: 0.5em;
    }
  }
}

.btn {
  &.send{
    z-index: 0;
  }
}
</style>
