<template>
  <div>
    <div class="modal fade" id="invitation-samsung" ref="samsung" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" v-if="isSamsungBrowser()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

            <div v-show="f_show_help">
              <div v-for="item in samsung_photos" class="my-3 p-3" style="border-radius: 12px; background: rgb(178 178 178)"><img :src="item" alt="" class="d-block img-fluid"></div>
            </div>
            <div v-show="!f_show_help">
              Желаете установить приложение на рабочий стол?
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link btn-sm" v-if="!f_show_help" id="samsung-app-install-cancel" @click="cancel_install">Не предлагать</button>
            <button type="button" class="btn btn-primary" v-if="!f_show_help" @click="f_show_help=true">Инструкция</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-if="f_show_help">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!isSamsungBrowser() && !isIphone()"
         ref="android"
         class="modal fade"
         id="invitation-android"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="text-center">Желаете установить приложение на рабочий стол?</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" id="android-app-install-cancel" @click="cancel_install">Не предлагать</button>
            <button type="button" class="btn btn-primary" id="android-install-btn" @click="install_app">Установить</button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!isSamsungBrowser() && !isIphone()" class="modal fade" id="app-modal-alert" ref="alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" id="app-modal-alert-text">
            Приложение успешно установлено, проверьте иконку на рабочем столе
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="invitation-ios" ref="ios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" v-if="isIphone()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

            <div v-show="f_show_help">
              <div v-for="item in ios_photos" class="my-3 p-3" style="border-radius: 12px; background: rgb(178 178 178)"><img :src="item" alt="" class="d-block img-fluid"></div>
            </div>
            <div v-show="!f_show_help">
              Желаете установить приложение на рабочий стол?
            </div>

          </div>
          <div class="modal-footer text-nowrap">
            <button type="button" class="btn btn-link btn-sm" v-if="!f_show_help" id="ios-app-install-cancel" @click="cancel_install">Не предлагать</button>
            <button type="button" class="btn btn-primary" v-if="!f_show_help" @click="f_show_help=true">Инструкция</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-if="f_show_help">OK</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import {invitationStore} from "~/store/Invitation";

export default {
  props: ['showModal'],
  computed: {
    forcedShow: (() => invitationStore().forcedShow),
    deviceType () {
      let refs = this.$refs.android;
      if (this.isSamsungBrowser())
        refs = this.$refs.samsung;
      if (this.isIphone())
        refs = this.$refs.ios;
      return refs;
    }
  },
  data() {
    return {
      f_show_help: false,
      deferredPrompt: null,
      android_modal_success: null,
      invitation_modal: null,

      samsung_photos: [
        '/help/Samsung_1.png',
        '/help/Samsung_2.png',
        '/help/Samsung_3.png',
        '/help/Samsung_4.png',
        '/help/Samsung_5.png',
      ],
      ios_photos: [
        '/help/iPhone_1.png',
        '/help/iPhone_2.png',
        '/help/iPhone_3.png',
        '/help/iPhone_4.png',
      ],

    }
  },
  watch: {
    forcedShow () {
      if (this.forcedShow) {
        this.invitation_modal = new bootstrap.Modal(this.deviceType, {
          keyboard: false
        })
        this.invitation_modal.show();
        invitationStore().forcedShow = false;
      }
    }
  },
  methods: {
    isIphone() {
      return navigator.userAgent.match(new RegExp('iphone|ipad|ipod', 'i')) ? 1 : 0;
    },
    isSamsungBrowser() {
      return navigator.userAgent.match(new RegExp('SamsungBrowser', 'i')) ? 1 : 0;
    },
    f_mobile() {
      return navigator.userAgent.match(new RegExp('Mobile', 'i')) ? 1 : 0;
    },
    show_prompt_install() {
      return invitationStore().show_prompt_install;
    },
    modalActivate() {
      let self = this;
      let delay = 500;

      if (self.f_mobile()) {
        if (self.isIphone()) {

          if (self.show_prompt_install() && !window.navigator.standalone) {
            setTimeout(() => {

              self.invitation_modal = new bootstrap.Modal(self.$refs.ios, {
                keyboard: false
              })
              self.invitation_modal.show()

            }, delay)
          }
        } else if (self.isSamsungBrowser()) {
          if (self.show_prompt_install()) //  && !window.matchMedia('(display-mode: standalone)').matches
          {

            setTimeout(() => {

              self.invitation_modal = new bootstrap.Modal(self.$refs.samsung, {
                keyboard: false
              })
              self.invitation_modal.show()

            }, delay)

          }
        } else {
          window.addEventListener('beforeinstallprompt', function (e) {

            // Prevent Chrome 67 and earlier from automatically showing the prompt
            e.preventDefault();

            if (self.show_prompt_install()) {
              // Stash the event so it can be triggered later.
              self.deferredPrompt = e;

              setTimeout(() => {
                self.invitation_modal = new bootstrap.Modal(self.$refs.android, {
                  keyboard: false
                })
                self.invitation_modal.show()
              }, delay)

            }
          });

        }
      }
    },
    cancel_install() {
      this.invitation_modal.hide();
      invitationStore().stop_install_app();
    },
    install_app() {
      let self = this;
      self.invitation_modal.hide();
      // Show the prompt
      self.deferredPrompt.prompt();
      // Wait for the user to respond to the prompt
      self.deferredPrompt.userChoice
        .then((choiceResult) => {
          if (choiceResult.outcome === 'accepted') {
            self.android_modal_success = new bootstrap.Modal(self.$refs.alert, {
              keyboard: false
            })
            self.android_modal_success.show();
          } else {
          }
          self.deferredPrompt = null;
        });
    },
  },

  mounted() {
    this.$nextTick(function () {
      this.modalActivate();
    })
  }
}
</script>

<style scoped>

</style>
