<template>
  <ul v-if="showMenu" class="navbar-nav col-12 col-md-6 col-lg-12">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle show border" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="true">
        <span class="nav-link-icon">
          <building-community-icon class="icon"/>
        </span>
        <span>{{ address }}</span>
      </a>
      <div class="dropdown-menu">
        <address-menu>
          <div class="pa-5">
            <button data-bs-toggle="modal"
               data-bs-target="#modal_add_ls"
               href="#"
               class="btn btn-success w-100"
            >
              <plus-icon class="icon" />
              Добавить лицевой счет
            </button>
          </div>
        </address-menu>
      </div>
    </li>
  </ul>
  <div class="pa-5" v-else>
    <slot />
  </div>
</template>
<script setup lang="ts">
import {
  BuildingCommunityIcon,
  PlusIcon,
  LockIcon
} from 'vue-tabler-icons';
import AddressMenu from '~/components/menu/AddressMenu.vue';
import { computed } from "@vue/reactivity";

import { Profile } from "~/store/Profile";
const user = Profile();
const accounts = user.profile.accounts;

const showMenu = computed(() => user.accountsAreNotEmpty())

const currentAccount = computed(() => user.currentAccount())
const address =  computed(() => {
  return currentAccount.value?.short_address;
})
</script>
<style lang="scss" scoped>
@media (max-width: 998px) {
  .navbar-nav {
    .dropdown-menu {
      width: 100%;
    }
  }
}
.dropdown-toggle {
  background: white;
}
.navbar-nav {
  margin: auto;
  padding: 0.5em;

  a, .nav-link {
    color: inherit;
  }
}
.border {
  padding: 0.25rem 0.75rem;
}
</style>
