<template>
  <div class="pa-5 pl-0 mt-0">
    <div class="page-header-title d-flex">
      <div class="page-title-container">
        <div class="page-pretitle" v-if="props.preTitle">
          <NuxtLink v-if="preTitleLink" class="text-muted" :to="preTitleLink">{{ props.preTitle }}</NuxtLink>
          <span v-else class="text-muted">{{ props.preTitle }}</span>
        </div>
        <h2 class="page-title">
          <span v-if="props.title">{{ props.title }}</span>
          <span v-else><slot name="title"/></span>
        </h2>
      </div>
      <div class="ml-auto">
        <slot/>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
const props = defineProps(["title", "preTitle", "preTitleLink"]);
</script>
