<template>
  <div class="card-footer d-flex align-items-center" v-if="total">
    <div class="card-footer--numbers">
      <p class="m-0 text-muted">
        <span>{{ fromNumber }}</span> -
        <span>{{ toNumber }}</span> из
        <span>{{ total }}</span>
      </p>
      <div class="show-by text-muted">
        Показывать по:
        <a href="#" data-bs-toggle="dropdown" class="btn btn-sm">
          {{ perPage }}
        </a>
        <div class="dropdown-menu dropdown-menu-end text-center">
          <a href="#" v-for="item in perPageVariants"
             class="dropdown-item page-link d-block"
             @click.prevent="setPerPage(item)"
          >
            {{ item }}
          </a>
        </div>
      </div>
    </div>
    <ul class="pagination">
      <!-- Стрелка назад -->
      <li class="page-item" :class="{ 'disabled': page <= 1 }" v-if="page > 0">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" @click.prevent.stop="prevPage">
          <chevron-left-icon />
        </a>
      </li>
      <!-- Кол-во страниц меньше 5 -->
      <template  v-if="countPages <= intervalPage + 1">
        <li class="page-item" v-for="item in countPages" :key="item" :class="{'active': item === page}">
          <a class="page-link" href="#" @click.prevent.stop="goToPage(item)">{{ item }}</a>
        </li>
      </template>
      <!-- Кол-во страниц больше 5 и текущая страница < 5 -->
      <template v-else-if="page < intervalPage">
        <li class="page-item" v-for="item in intervalPage" :key="item" :class="{'active': item === page}">
          <a class="page-link" href="#" @click.prevent.stop="goToPage(item)">{{ item }}</a>
        </li>
        <li class="page-item" key="before_space">
          <span class="page-link">...</span>
        </li>
        <li class="page-item" :key="countPages">
          <a class="page-link" href="#" @click.prevent.stop="goToPage(countPages)">{{ countPages }}</a>
        </li>
      </template>
      <!-- Кол-во страниц больше 5 и текущая страница в середине списка страниц -->
      <template v-else-if="page >= intervalPage && page <= (countPages - intervalPage + 1 )">
        <li class="page-item" :key="1">
          <a class="page-link" href="#" @click.prevent.stop="goToPage(1)">1</a>
        </li>
        <li class="page-item" key="before_space">
          <span class="page-link">...</span>
        </li>
        <li class="page-item" v-for="item in [page - 1, page, page + 1]" :key="item" :class="{'active': item === page}">
          <a class="page-link" href="#" @click.prevent.stop="goToPage(item)">{{ item }}</a>
        </li>
        <li class="page-item" key="after_space">
          <span class="page-link">...</span>
        </li>
        <li class="page-item" :key="countPages">
          <a class="page-link" href="#" @click.prevent.stop="goToPage(countPages)">{{ countPages }}</a>
        </li>
      </template>
      <!-- Кол-во страниц больше 5 и текущая страница в конце списка страниц -->
      <template v-else>
        <li class="page-item" :key="1">
          <a class="page-link" href="#" @click.prevent.stop="goToPage(1)">1</a>
        </li>
        <li class="page-item" key="before_space">
          <span class="page-link">...</span>
        </li>
        <li class="page-item" v-for="item in arrayEndPages" :key="item" :class="{'active': item === page}">
          <a class="page-link" href="#" @click.prevent.stop="goToPage(item)">{{ item }}</a>
        </li>
      </template>
      <!-- Стрелка вперед -->
      <li class="page-item" :class="{ 'disabled': page === countPages }" v-if="page > 0">
        <a class="page-link" href="#" @click.prevent.stop="nextPage">
          <chevron-right-icon />
        </a>
      </li>
    </ul>
  </div>
</template>
<script setup lang="ts">
import { ChevronLeftIcon, ChevronRightIcon } from "vue-tabler-icons";
import { computed } from "vue";

const props = defineProps(["total", "perPage", "page"]);
const { total, page, perPage } = toRefs(props);
const countPages = computed((): number => perPage?.value ? Math.ceil(total?.value / perPage?.value): 1);
const emit = defineEmits(["update"]);

const intervalPage = 5;
const fromNumber = computed(() => {
  return (page?.value - 1) * perPage?.value + 1;
});
const toNumber = computed(() => {
  const countOnPage = page?.value * perPage?.value;
  return countOnPage > total?.value ? total?.value : countOnPage;
});

const arrayEndPages = computed(() => {
  const numbers = [];
  for (let i = countPages.value - intervalPage + 1; i < countPages.value+1; i++)
    numbers.push(i);
  return numbers;
});

const nextPage = (): void => {
  if (page?.value === countPages.value) return;
  emit("update", page?.value + 1);
};

const prevPage = (): void => {
  if (page?.value === 1) return;
  emit("update", page?.value - 1);
};

const goToPage = (numPage: number) => {
  emit("update", numPage);
};

const perPageVariants = [
  15, 25, 50, 100
];
const setPerPage = (numPerPage: number): void => {
  emit("update", page?.value, numPerPage);
}
</script>
<style lang="scss" scoped>
.page-link {
  z-index: auto;
}
.pagination {
  margin: 0;
  margin-left: auto;
}

.card-footer {
  &--numbers {
    display: flex;

    .show-by {
      margin-left: 1em;
    }
  }
}
@media (max-width: 998px) {
  .pagination {
    margin: auto;
  }

  .card-footer {
    flex-wrap: wrap;

    &--numbers {
      width: 100%;
      display: flex;

      .show-by {
        margin-left: auto;
      }
    }
  }
}
</style>
