<template>
  <div class="d-flex">
    <div class="mt-2">
      <!-- Upload Photo -->
      <div class="position-relative preview">
        <span ref="avatar" class="avatar cursor-pointer" @click="openUploadFile" :class="{'default-avatar': !props.image}">
          <img :src="props.image" v-if="props.image"/>
          <user-icon v-else />
        </span>
        <div class="badge bg-danger badge-notification badge-pill remove_image cursor-pointer"
          @click="deleteImage" v-if="props.image">
          <trash-icon />
        </div>
        <input name="file" type="file" ref="image" class="d-none" @change="changeUploadImage" accept="image/png, image/jpeg"/>
      </div>
    </div>
    <a href="#" @click="openUploadFile" class="btn change-photo">Изменить фото</a>
  </div>
</template>
<script setup lang="ts">
/**
 * Загрузка фотографии
 */
import { ref } from 'vue'
import { UserIcon, TrashIcon } from "vue-tabler-icons";

let uploadImage = ref<Boolean>(false);
const props = defineProps(["image"]);
const avatar = ref<HTMLInputElement | null>(null)
const image = ref<HTMLInputElement | null>(null)
const emit = defineEmits(["upload", "delete"]);
// открываем загрузку файла
const openUploadFile = () => {
  if (image.value)
    image.value.click()
}
// загрузка фотографии
const changeUploadImage = (e: Event): void => {
  const target = e.target as HTMLInputElement;
  if (!target || !target.files) return;
  uploadImage.value = true;
  const file = target.files[0];
  emit("upload", file);
}
// удаление фотографии
const deleteImage = () => {
  emit("delete");
}
</script>
<style lang="scss" scoped>
.remove_image {
  width: 30px;
  height: 30px;
  padding-top: 6px;
  right: 10px !important;
  z-index: 0;

  svg {
    width: 14px;
    height: 14px;
  }
}
.preview {
  --tblr-avatar-size: 11rem;
  height: auto;
  .avatar {
    --tblr-avatar-size: 6rem;
    height: auto;
  }
  .default-avatar {
    height: 96px;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}
.change-photo {
  height: 36px;
  margin: auto;
  margin-left: 20px;
}
</style>
