<template>
  <div>
    <select
      v-model="model"
      :disabled="props.disabled"
      :name="props.name"
      :id="idModel"
      class="form-select"
      ref="root"
      :required="required"
    />
  </div>
</template>

<script setup lang="ts">
import useFieldForm from '~/composables/useFieldForm'
import TomSelect from "tom-select";
const props = defineProps(["name", "id", "disabled", "modelValue", "elem","required"])
const emit = defineEmits(['update:modelValue', 'input', 'result_item'])
const { model } = useFieldForm(props, emit);
const refSelect = ref();
const idModel = computed(() => props.id !== undefined ? props.id: props.name);
onMounted(() => {
  refSelect.value = new TomSelect("#"  +  idModel.value, {
    preload: true,
    onType: async (): Promise<void> => {
      if (refSelect.value.lastValue)
        emit('input', refSelect.value.lastValue)
    },
    load: async (query: string, callback: any): Promise<void> => {
      if (query)
        await props.elem.getList(1, 100, query);
      callback(props.elem?.getItems)
      if (props.modelValue)
        refSelect.value.setValue(props.modelValue, true);
    },
    onFocus: async () => {
      await props.elem.getList(1, 100);
    }
  });
  refSelect.value.on('change', () => {
    setTimeout(() => refSelect.value.control_input.blur(), 0);
  });
});

watch(
    () => props.elem.items,
    () => {
      refSelect.value.clearOptions();
      refSelect.value.loadCallback(props.elem.getItems);
      refSelect.value.setValue(props.modelValue, true);
    },
    {deep: true}
);

watch(
  () => props.modelValue,
  () => {
    refSelect.value.refreshOptions(false);
    refSelect.value.setValue(props.modelValue, true);
    if (props.elem.parsedItems) {
      const elementItem = props.elem.parsedItems.find((item: any) => Number(item.id) === Number(props.modelValue));
      emit('result_item', elementItem)
    }
  },
  { deep: true }
);
const root = ref();
defineExpose({
  root
})
</script>
