<template>
  <div class="position-relative">
    <div class="position-relative">
      <input
          :type="showPass ? 'text' : props.type"
          v-model="model"
          :name="props.name"
          :disabled="props.disabled"
          autocomplete="off"
          :maxlength="props.maxlength"
          :placeholder="props.placeholder"
          :class="elClass"
          :required="props.required"
          :tabindex="props.tabindex"
          ref="root"
      />
      <span
          v-if="props.showClose || hasError"
          class="close"
          :class="{'visibleBtn': props.visibleBtn}"
          role="button"
      >
      <a @click="clear" type="button" class="btn-close" :class="{ 'error': hasError }" aria-label="clear" />
    </span>
    </div>
    <password-visibility
        v-if="props.visibleBtn"
        class="btn-visibitilty"
        :show-password="showPass"
        @switchPasswordVisibility="switchVisibility"
    />
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
    <slot />

  </div>
</template>
<script setup lang="ts">
import PasswordVisibility from "~/components/utility/PasswordVisibility.vue";
import useFieldForm from '~/composables/useFieldForm'
const props = defineProps(["class", "name", "visibleBtn", "modelValue", "maxlength", "errors", "type", "disabled", "placeholder", "showError", "showClose", "required", "tabindex"])
const emit = defineEmits(['update:modelValue'])
const { model, hasError, error } = useFieldForm(props, emit);

let elClass=ref({});


onBeforeMount(()=>{

  elClass.value = { 'is-invalid': hasError || props.showError, 'form-control':true, }
  if (props.class)
    elClass.value[props.class]=true;


})
const clear = (() => {
  model.value = '';
})

const showPass = ref(false)
const switchVisibility = () => {
  showPass.value = !showPass.value;
};

const root = ref();
defineExpose({
  root
})
</script>
<style lang="scss" scoped>
.btn-visibitilty {
  padding: 4px;
  position: absolute;
  left: calc(100% - 36px);
  top: 4px;
  border: none;
  background: none;
}

.form-control {
  &.is-invalid  {
    background-image: none;
  }
}

.close {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);

  .btn-close {
    max-width: 23px;
    position: static;
    width: 25px !important;
    height: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 25px !important;
    display: block;
  }

  &.visibleBtn {
    left: calc(100% - 50px) !important;
  }

  a {
    background-size: contain;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d63939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");

    &.error {
      opacity: 1;
    }
  }
}
</style>
