<template>
  <div class="position-relative">
    <input
        v-model="model"
        :name="props.name"
        type="text"
        :disabled="props.disabled"
        class="form-control"
        autocomplete="off"
        :placeholder="props.placeholder"
        :class="{ 'is-invalid': hasError }"
        :required="props.required"
        ref="maskMeterValue"
        @change="emit('change', true)"
    />
    <span
        v-if="props.showClose || hasError"
        class="close"
        :class="{'visibleBtn': props.visibleBtn}"
        role="button"
    >
      <a @click="clear" type="button" class="btn-close" :class="{'error': hasError}" aria-label="clear" />
    </span>
    <span role="alert" class="text-red" v-if="hasError">
      {{ props.errors[0] }}
    </span>
  </div>
</template>

<script setup lang="ts">
import useFieldForm from '~/composables/useFieldForm';
import IMask from "imask";
import { computed } from 'vue';
const props = defineProps(
    [
      "name",
      "modelValue",
      "errors",
      "precision",
      "digits",
      "disabled",
      "required",
      "placeholder",
      "showClose",
      "visibleBtn"
    ]);
const emit = defineEmits(['update:modelValue', 'change'])

const { model } = useFieldForm(props, emit);
const maskMeterValue = ref(null);
let imask = ref();
const errors = ref(props.errors);

const initMask = (): void => {
  // маска для показаний счетчиков
  const elem = maskMeterValue.value;

  if (elem) {
    imask.value = IMask(elem, {
      mask: Number,
      min: 0,
      max: getMaxValue(props.digits, props.precision),
      scale: props.precision,
      normalizeZeros: true,
      padFractionalZeros: true,
      radix: '.',  // fractional delimiter
      mapToRadix: ['.', ',', 'ю', 'б'],  // symbols to process as radix
      commit: (value: string): void => {
        model.value = value;
      }
    });
  }
}
const updateMask = (): void => {
  // маска для показаний счетчиков
  const elem = maskMeterValue.value;
  if (!elem) return;
  imask.value.updateOptions({
    max: getMaxValue(props.digits, props.precision),
    scale: props.precision,
  });
}

const getMaxValue = (digits: number, precision: number): number => {
  let max = '';
  for (let i = 0; i < digits; i++)
    max += '9';
  for (let i = 0; i < precision; i++) {
    if (!i)
      max += ".";
    max += '9';
  }

  return parseFloat(max);
}
const hasError = computed(() => {
  return errors.value && errors.value.length > 0
})
const clear = (() => {
  model.value = '';
  errors.value = [];
  updateMask();
})

onMounted(() => {
  nextTick(() => {
    initMask();
  })

});
watch(
    () => props.digits,
    () => {
      updateMask();
    },
    { deep: true }
);
watch(
    () => props.precision,
    () => {
      updateMask();
    },
    { deep: true }
);
watch(
    () => props.errors,
    () => {
      errors.value = props.errors;
    },
    { deep: true }
);
</script>
<style lang="scss" scoped>
.overflow-check {
  text-align: center;

  span {
    font-weight: 100;
    color: #206bc4;
  }
}

@media (max-width: 998px) {
  .overflow-check {
    margin-top: 0.5em;
  }
}
.form-control {
  &.is-invalid  {
    background-image: none;
  }
}

.close {
  position: absolute;
  top: 8px;
  left: calc(100% - 30px);

  .btn-close {
    max-width: 23px;
  }

  a {
    --tblr-btn-close-color: red;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d63939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");

    &.error {
      opacity: 1;
    }
  }
}
</style>
