<template>
  <div class="border-files position-relative">
    <div class="files position-absolute ml-3 mt-2">
      <div class="files--window position-relative mr-3" v-for="(file, index) in props.files" :key="'file' + index">
        <div v-if="!props.readonly"
             class="badge bg-danger badge-notification badge-pill remove_image cursor-pointer z-21"
             @click.stop="deleteFile(file)"
        >
          <trash-icon class="icon"/>
        </div>
        <div class=" m-lg-2">
          <div v-if="showImage(file)" class="lightbox-img">
            <a data-fslightbox="gallery" href="#" @click.prevent="sliderOpen(index)">
              <div class="img-responsive img-responsive-1x1 rounded border"
                   :style="'background-image: url(' + getFileUrl(file) + ')'"
              />
            </a>
          </div>
          <div v-else class="dropzone">
            <div class="dz-file-preview cursor-pointer dz-preview dz-processing dz-error dz-complete"
                 @click.prevent="openView(getFileUrl(file))">
              <div class="dz-image">
                <img data-dz-thumbnail="" />
              </div>
              <div class="dz-details">
                <div class="dz-size">
                  <span data-dz-size="">
                    {{ fileSize(file).human }}
                  </span>
                </div>
                <div class="dz-filename">
                  <span data-dz-name="">{{ file.name ?? file.origin_name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-bind="!props.readonly ? getRootProps() : {}" class="dropzone dz-clickable">
      <input v-bind="getInputProps()" v-if="!props.readonly"/>
      <div class="dz-message" v-if="!props.files.length">
        <h3 class="dropzone-msg-title">Выберите файлы для загрузки</h3>
        <div class="dropzone-msg-desc">Допускается файл формата {{ props.format }}</div>
        <div class="dropzone-msg-desc">
          Максимальный размер файла <b>{{ maxFileSize.human }}</b>
        </div>
      </div>
    </div>
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
  </div>
  <FsLightbox
      type="image"
      :slide="slide"
      :toggler="toogler"
      :sources="sliderImages"
  />
</template>

<script setup lang="ts">
import {Profile} from "~/store/Profile";
const user = Profile();

import { blobToImage, FileSize, getHumanFileSize } from '~/composables/stringHelper';
import FsLightboxV3 from "fslightbox-vue/v3";
const FsLightbox = FsLightboxV3.default || FsLightboxV3;
import { useDropzone } from "vue3-dropzone";
import { TrashIcon } from "vue-tabler-icons";

const props = defineProps(["files", "no_slider", "name", "errors", "format", "max_value", 'readonly']);
const emit = defineEmits(['upload', 'delete']);
const { hasError, error } = useFieldForm(props, emit);
// slider
let toogler = ref(false);
let slide = ref(-1)
const sliderOpen = ((slideNumber: number) => {
  slide.value = Number(slideNumber) + 1;
  toogler.value = !toogler.value;
})
const openView = (link: string): void => {
  window.open(link);
}
const imgTypes = ['png', 'jpg'];

const showImage = ((file: any) => {
  const name = file.name ?? file?.origin_name;
  const mime = name?.split('.');
  return mime && mime.length > 1 && imgTypes.includes(mime[1]);
});

const sliderImages = computed(() => {
  const files = props.files;
  if (files && files.length > 0) {
    return files
        .filter((file: any) => showImage(file))
        .map((image: { url: string }) => image.url)
  }
});

const onDrop = (acceptFiles: File[]): void => {
  if (!acceptFiles.length) return;
  emit('upload', acceptFiles[0]);
}

const getFileUrl = (file: any): string => {
  if (file && !file.url) {
    const img = blobToImage(file as Blob);
    return img.src
  }
  return file.url
}

const deleteFile = (file: any): boolean => {
  if (!file) return false;
  emit('delete', file);
  return false;
}
const {getRootProps, getInputProps, open} = useDropzone({onDrop});

const maxFileSize = computed(() => getHumanFileSize(user.file_max_size));
const fileSize = (file?: { size?: number }): FileSize => getHumanFileSize(String(file?.size ?? 0))
</script>
<style lang="scss" scoped>
.dropzone.dz-clickable {
  position: relative;
  height: auto;
  min-height: 197px;
  z-index: 0;
}

.files {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 188px;
  overflow-x: clip;
  padding-top: 5px;

  &--window {
    z-index: 20;
  }
}

.lightbox-img {
  min-width: 7em;
  min-height: 7em;
}

.dropzone .dz-preview {
  .dz-details {
    font-size: 12px;
  }

  .dz-image {
    width: 7em !important;
    height: 7em !important;
  }

  .dz-details .dz-size {
    font-size: 14px;
  }
}

.z-21 {
  z-index: 21;
}

.badge-notification {
  margin-top: 10px;
  margin-right: 10px;
}
.border-files {
  border: 1px dashed var(--tblr-border-color);
}
.dropzone {
  border: none;
  color: var(--tblr-muted);
  padding: 0;

  .dz-preview {
    margin: 0;

    .dz-image {
      width: 8em;
      height: 8em;
    }
  }
}

@media (max-width: 998px) {
  .files {
    &--window {
      margin-bottom: 1em;
    }
  }
}
</style>
