<template>
  <div :class="{'has-error': hasError}">
    <select
      v-model="model"
      :name="props.name"
      :id="props.name"
      :disabled="props.disabled"
      :multiple="props.multiple"
      class="form-select"
      ref="root"
    >
      <option v-for="(item, index) in props.items" :key="'op_' + props.name + '_' + index" :value="item.value">
        {{ item.text }}
      </option>
    </select>
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
  </div>
</template>

<script setup lang="ts">
import useFieldForm from '~/composables/useFieldForm'
import TomSelect from "tom-select";
// если canAdd = true, можно добавлять пользовательские option
const props = defineProps(["name", "canAdd", "modelValue", "errors", "items", "disabled", "multiple"])
const emit = defineEmits(['update:modelValue'])
const { model, hasError, error } = useFieldForm(props, emit);
const refSelect = ref();
onMounted(() => {
  refSelect.value = new TomSelect("#"  +  props.name, {
    create: props.canAdd,
    preload: true
  });
});
watch(
  () => props.items,
  () => {
    refSelect.value.refreshItems()
  },
  { deep: true }
);
watch(
  () => props.modelValue,
  () => {
    refSelect.value.sync(true);
    refSelect.value.setValue(props.modelValue, true);
  },
  { deep: true }
);
const root = ref();
defineExpose({
  root
})
</script>
