<template>
  <div class="position-relative">
    <span v-if="props.showClose || hasError"
          class="position-absolute close"
          role="button"
    >
      <a @click="clear"
         type="button"
         class="btn-close"
         :class="{'error': hasError}"
         aria-label="clear"
      />
    </span>
    <textarea
        v-model="model"
        :required="props.required"
        :name="props.name"
        :disabled="props.disabled"
        :placeholder="props.placeholder"
        class="form-control"
        :class="{ 'is-invalid': hasError }"
        ref="root"
    />
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
  </div>
</template>

<script setup lang="ts">
import useFieldForm from '~/composables/useFieldForm'
const props = defineProps(["name", "modelValue", "errors", "type", "disabled", "required", "showClose", "placeholder"])
const emit = defineEmits(['update:modelValue'])
const { model, hasError, error } = useFieldForm(props, emit);
const root = ref();

const clear = (() => {
  model.value = '';
})

defineExpose({
  root
})
</script>
<style lang="scss" scoped>
.form-control {
  &.is-invalid  {
    background-image: none;
  }
}

.close {
  left: calc(100%);
  margin-top: -0.5pc
}

textarea {
  min-height: inherit;
}
</style>
