<template>
  <div>
    <div class="input-group">
      <select class="form-select" @change="change" v-model="time_start" :disabled="props.disabled">
        <option></option>
        <option v-for="time in timeSelect" :value="time.value" :key="time.value">{{ time.text }}</option>
      </select>
      <div class="input-group-text">
        <arrow-narrow-right-icon class="icon" />
      </div>
      <select class="form-select" @change="change" v-model="time_end"  :disabled="props.disabled">
        <option value=""></option>
        <option v-for="time in timeSelect" :value="time.value" :key="time.value">{{ time.text }}</option>
      </select>
      <div class="input-group-text">
        <clock-hour3-icon class="icon"  />
      </div>
    </div>
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
  </div>
</template>
<script setup lang="ts">
import { ArrowNarrowRightIcon, ClockHour3Icon } from 'vue-tabler-icons';
import useFieldForm from '~/composables/useFieldForm';
import dayjs from 'dayjs';
const props = defineProps(
    [
      "name",
      "modelValue",
      "errors",
      "disabled",
    ]);
const emit = defineEmits(['update:modelValue'])
const modelTime = (): string[] | undefined => {
  if (!props.modelValue) return undefined;
  const data = props.modelValue.split(" - ");
  return [data[0], data[1]];
}
const { hasError, error } = useFieldForm(props, emit);
const time_start = ref('');
const time_end = ref('');
const change = (): void => {
  if (time_start.value > time_end.value)
    time_end.value = time_start.value;
  if (!time_start.value && !time_end.value)
    emit('update:modelValue', undefined);
  else
    emit('update:modelValue', time_start.value  + " - " + time_end.value);
}
const timeSelect = computed((): {value: string;text: string}[] => {
  const results: {value: string;text: string}[] = [];
  for (let i = 0; i< 24; i++) {
    results.push({
      value: (i < 10 ? '0' + i : '' + i) + ':00',
      text: (i < 10 ? '0' + i : '' + i) + ':00'
    });
  }
  return results;
});
watch(
    () => props.modelValue,
    async () => {
      const times = modelTime();
      if (!times) {
        time_start.value = '';
        time_end.value = '';
        return;
      }
      time_start.value = times[0];
      time_end.value = times[1];
    },
    { deep: true }
);
</script>
<style lang="scss">
.dp__input_valid {
  border-color: rgb(247, 103, 7) !important;
  box-shadow: 0 0 var(--dp-border-radius,4px)rgb(247, 103, 7) !important;
}
.ant-picker {
  padding: .36rem .75rem !important;
  border-radius: var(--tblr-border-radius) !important;
}
.ant-picker-ranges .ant-picker-ok {
  margin-left: 0;
}
</style>
