<template>
  <div>
    <!-- Заголовок -->
    <page-header title="История показаний" />
    <div class="card">
      <div class="progress progress-sm" v-if="isLoading">
        <div class="progress-bar progress-bar-indeterminate" />
      </div>
      <!-- фильтры Истории показаний: Desktop-->
      <div class="filters-header d-none d-lg-inline-flex">
        <template v-for="(item, id) in services" :key="id">
          <a @click="changeFilter(item.id)"
             class="col-auto d-flex btn mr-2 d-none d-lg-inline-flex"
             :class="{'active': filters.service_id === String(item.id)}"
          >
            <div class="avatar avatar-sm cursor-pointer" :style="getServiceIcon(item, true)" />
            {{ item.short_name }}
          </a>
        </template>
      </div>
      <!-- Мобильная верстка-->
      <div v-if="personMeter" class="filters-header d-lg-none d-lg-block pa-5">
        <NuxtLink class="d-lg-none d-lg-inline-flex" :to="'/app/person-meters/'">
          <calculator-icon class="icon" />
          Назад к списку счетчиков
        </NuxtLink>
        <div class="mt-2">
          <div class="name">
            {{ personMeter.service.short_name }}
            <span class="text-muted text-uppercase">
              {{ personMeter.label }}
            </span>
          </div>
          <div class="d-flex">
            <div class="text-reset mr-auto">Лицевой счет</div>
            <div class="text-end">
              <NuxtLink :to="'/app/profile/account-list/#' + personMeter.personal_account.id">
                {{ personMeter.personal_account.account }}
              </NuxtLink>
            </div>
          </div>
        </div>
      </div>
      <person-meters-values-table
          :is-empty="personMeterValues.isEmpty"
          :values="personMeterValues"
          @sort="sortItems"
      />
      <Pagination
          :total="personMeterValues.paginator.total"
          :per-page="personMeterValues.paginator.per_page"
          :page="personMeterValues.paginator.current_page"
          @update="getPage"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import {getServiceIcon, setFilterParams} from "~/composables/stringHelper";
import PersonMetersValuesTable from "~/components/personMeter/PersonMetersValuesTable.vue";
import { useToastMessage } from "~/composables/useToastMessage";
import useApiErrors from "~/composables/useApiErrors";
import { PersonMeterValues } from "~/store/PersonMeterValues";
import { onBeforeRouteUpdate } from 'vue-router';
import { changeSortRecords, getCollectionPage } from '~/composables/useCollectionStore';
import { computed } from "@vue/reactivity";
import { PersonMeters } from "~/store/PersonMeters";
import { PersonMeter } from "~/api";
const { setFilter } = useCollectionStore();
import { CalculatorIcon } from 'vue-tabler-icons';

const toast = useToastMessage();
const api = useApi();
const personMeterValues = PersonMeterValues();
// номер текущей страницы
const page = ref(personMeterValues.paginator.current_page);
const perPages = ref(personMeterValues.paginator.per_page);
// список показаний ИПУ
const items = computed(() => personMeterValues.items);
let isLoading = ref(false);
const route = useRoute();

const filters = reactive<{
  personal_account_id: string;
  person_meter_id: string;
  service_id: string;
}>({
  personal_account_id: '',
  service_id: '',
  person_meter_id: ''
});

onBeforeMount(async () => {
  personMeterValues.isChanged = true;
  personMeterValues.init();
  setFilterParams(personMeterValues, route.query)
  await getItems();
});

onBeforeRouteUpdate(async (to): Promise<void> => {
  await getItems();
});
const getPage = (numberPage: number, perPage?: number, column?: string): void => {
  page.value = numberPage;
  if (perPage)
    perPages.value = perPage;
  getCollectionPage(personMeterValues, numberPage, perPage, column);
}
const sortItems = (column: string): void => {
  changeSortRecords(personMeterValues, column);
  getPage(page.value as number, undefined, column);
}
// Список счетчиков для фильтрации
const personMeters = PersonMeters();
const personMetersList = computed(() => personMeters.list.filter(meter => meter.last_value));
const services = computed(() => personMeters.services);
const personMeter = computed(() => personMetersList.value.find((meter: PersonMeter) => {
  return meter.service ? meter.service.id === Number(filters.service_id) : false;
}));

// поиск по фильтру
const changeFilter = (id: number | string): void => {
  filters.service_id = String(id);
  sendFilter();
}
// поиск по фильтру
const sendFilter = (): void => {
  type filtersKeyType = keyof typeof filters;
  Object.keys(filters).map((key: string) => {
    setFilter(personMeterValues, 'filter[' + key + ']', filters[key as filtersKeyType]);
  });
  page.value = 1;
  getPage(page.value, perPages.value);
}

// получение счетчиков
const getMeters = async (): Promise<void> => {
  try {
    await personMeters.getList(1, 200);
  } catch (e) {
    useApiErrors(e);
  } finally {
    isLoading.value = false;
  }
}

const getItems = async (): Promise<void> => {
  await getMeters();
  let filterService = personMeterValues.getFilter('filter[service_id]') as string;
  if ((!personMeterValues.getFilter('filter[service_id]')) && (services.value.length > 0)) {
    filterService = String(services.value[0].id);
    changeFilter(String(services.value[0].id));
  }

  try {
    personMeterValues.loaded = false;
    isLoading.value = true;
    filters.personal_account_id = personMeterValues.getFilter('filter[personal_account_id]') as string;
    filters.service_id = filterService;
    await personMeterValues.getList(page.value as number, perPages.value, personMeterValues.sort_by);
  } catch (e) {
    useApiErrors(e);
  } finally {
    isLoading.value = false;
  }
}

definePageMeta({
  middleware: 'auth'
});
</script>
<style lang="scss" scoped>
.filters-header {
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e7e9;
  padding: 10px;
}

.card {
  .btn {
    border: none;
    box-shadow: none;
  }
}

.name {
  font-size: var(--tblr-font-size-h3);
}

@media (max-width: 998px) {
  .filters-header {
    padding-left: 10px;
  }
}
</style>
