<template>
  <div>
    <!-- Заголовок -->
    <page-header :preTitle="categoryInfo ? categoryInfo.name : ''" :title="announceInfo.title" />
    <div class="card">
      <div class="card-header">
        <div class="text-muted small">
          {{ formatDateTime(announceInfo.date_publish, options) }}
        </div>
        <nuxt-link :to="'/app/announces/' + categoryInfo.id" class="ml-auto" v-if="categoryInfo">
          <world-icon class="icon icon-link me-2" />
          <span>Назад к выбору статей</span>
        </nuxt-link>
      </div>
      <div class="card-body">
        <div v-for="file in announceInfo.files" :key="'file_' + file.id" class="mb-2">
          <video width="320" height="240" controls v-if="isVideo(file.origin_name)">
            <source :src="file.url" type="video/mp4">
            Ваш браузер не поддерживает видео тег.
          </video>
          <img :src="file.url" v-else />
        </div>
        <div v-html="announceInfo.text" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import useApiErrors from "~/composables/useApiErrors";
import { Announce as AnnounceApi, AnnounceCategory } from '~/api';
import { Announce } from '~/store/Announce';
import { AnnounceCategories } from '~/store/AnnounceCategories';
import { WorldIcon } from 'vue-tabler-icons';
import { formatDateTime } from '~/composables/stringHelper';

const route = useRoute();
const params = route.params;
const router = useRouter();
const categoryId = Number(route.params.announce_category_id);
let id = Number(route.params.announce_id);

const categories = AnnounceCategories();
const categoryInfo = ref<AnnounceCategory | undefined>(undefined);
const announce = Announce();
let announceInfo = reactive({} as AnnounceApi);
const options = {
  month: '2-digit',
  day: '2-digit',
  year: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
};
const isVideo = (originFile: string): boolean => {
  const mime = originFile.split('.');
  return mime.length > 1 ? ['mp4'].includes(mime[1].trim()) : false;
}
// подгрузка данных
onBeforeMount(async (): Promise<void> => {
  try {
    categoryInfo.value = categories.items.find(c => c.id === Number(categoryId));
    const data = await announce.getAnnounce(id);
    announceInfo = Object.assign(announceInfo, data);
  } catch (e) {
    useApiErrors(e);
  }
});
watch(
  () => categories.items,
  async () => {
    categoryInfo.value = categories.items.find(c => c.id === Number(categoryId));
  },
  { deep: true }
);

definePageMeta({
  middleware: 'auth'
});
</script>
