<template>
  <div>
    <page-header title="События" />
    <div class="progress progress-sm" v-if="isLoading">
      <div class="progress-bar progress-bar-indeterminate"/>
    </div>
    <div class="row row-cards row-deck">
      <div
          v-if="announces.items.length > 0"
          class="col-md-6 col-xl-3"
          v-for="announce in announces.items"
          :key="'announce_' + announce.id"
      >
        <div class="card">
          <!--        TODO: Статус просмотра -->
          <NuxtLink :to="'/app/announces/announce/' + announce.id">
            <img v-if="announce.files && announce.files.length"
                 :src="getMainFile(announce)"
                 class="card-img-top"
                 alt=""
            />
            <photo-icon v-else
                        class="card-img-top text-muted"
                        style="height: 200px; pointer-events: none;"
            />
          </NuxtLink>
          <div class="card-body text-center">
            <div class="card-title mb-1">{{ announce.title }}</div>
            <div class="text-muted" v-html="announce.preview" v-if="announce.preview" />
            <div class="text-muted small">
              {{ formatDateTime(announce.date_publish, options) }}
            </div>
          </div>
          <div class="card-footer pa-0">
            <nuxt-link class="card-btn border-0" :to="'/app/announces/announce/' + announce.id">
              Подробнее
            </nuxt-link>
          </div>
        </div>
      </div>
      <div v-else class="text-muted">
      <span>
        Ничего не найдено
      </span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import useApiErrors from "~/composables/useApiErrors";
import { useRouter } from "vue-router";
import { Announces } from '~/store/Announces';
import { AnnounceCategories } from '~/store/AnnounceCategories';
import {Announce, AnnounceCategory} from '~/api';
import { formatDateTime } from '~/composables/stringHelper';
import { PhotoIcon } from 'vue-tabler-icons';

const route = useRoute();
const router = useRouter();
const params = route.params.view;

const categories = AnnounceCategories();
const announces = Announces();

let isLoading = ref(false);

const options = {
  month: '2-digit',
  day: '2-digit',
  year: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
};

const getMainFile = (announce: Announce): string|undefined =>  {
  if (!announce.files || !announce.files.length)
    return undefined;

  return announce.files?.find(f => {
    const mime = f.origin_name.split('.');
    return mime.length > 1 ? !['mp4'].includes(mime[1].trim()) : true;
  })?.url;
}

// получение первой страницы
// подгрузка данных
onBeforeMount(async (): Promise<void> => {
  try {
    isLoading.value = true;
    await announces.getList(1, 100);
  } catch (e) {
    useApiErrors(e);
  } finally {
    isLoading.value = false;
  }
});

definePageMeta({
  middleware: 'auth'
});
</script>

<style scoped lang="scss">

.card img {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
  // height: auto;
}

</style>
