<template>
    <Invitation/>
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
    </div>
    <slot/>
  </div>
</template>

<script setup lang="ts">
import Invitation from "~/components/Invitation.vue";
useHead({
  bodyAttrs: {
    class: 'border-top-wide border-primary d-flex flex-column tabler-page tabler-page-center',
  },
});
</script>
