<template>
    <Invitation/>
  <div class="page-wrapper">
    <Header />
    <div class="wrapper">
      <div class="container-xl">
        <slot/>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script setup lang="ts">
import Header from "~/components/Header.vue";
import Footer from "~/components/Footer.vue";
import Invitation from "~/components/Invitation.vue";

useHead({
  bodyAttrs: {
    class: 'tabler-page',
  },
});
</script>
