<template>
  <div class="container container-tight py-4">
    <slot/>
  </div>
</template>

<script setup lang="ts">
useHead({
  bodyAttrs: {
    class: 'border-top-wide border-primary d-flex flex-column tabler-page tabler-page-center',
  },
});
</script>
