<template>
  <div v-if="props.ban.days && props.ban.days.length" class="small text-red mt-1">
    Запрет на ввод показаний {{ getDayList }}
  </div>
  <div v-else class="small text-red mt-1">
    Запрет на ввод показаний, обратитесь в УО
  </div>
</template>
<script setup lang="ts">
const props = defineProps(["ban"]);
const getDayList = computed((): string => {
  let nowNumMonth = '' + ((new Date()).getMonth() + 1);
  if (Number(nowNumMonth) < 10)
    nowNumMonth = '0' + nowNumMonth;
  const separator = '.' + nowNumMonth;
  return props.ban.days?.join(separator + ', ') + separator || '';
});
</script>
