<template>
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th class="d-none d-lg-table-cell">Услуга</th>
        <th  class="d-none d-lg-table-cell">Лицевой счет</th>
        <th class="w-1 d-none d-lg-table-cell">Показания</th>
        <th class="w-1 d-none d-lg-table-cell">Расход</th>
        <th class="text-center w-1 d-none d-lg-table-cell">
          <button
              class="table-sort"
              data-sort="sort-period_date"
              @click.prevent="sortItems('period_date')"
              :class="getClass('period_date')"
          >
            Учетный<br/>период
          </button>
        </th>
        <th class="text-center sort-reading_date w-1">
          <button
              class="table-sort"
              data-sort="sort-reading_date"
              :class="getClass('reading_date')"
              @click.prevent="sortItems('reading_date')"
          >
            Дата снятия
          </button>
        </th>
        <th class="w-1 values mobile">Показания</th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in props.values.items" :key="'person_meter_value_' + index"  v-if="!props.isEmpty">
          <td class="d-none d-lg-table-cell">
            {{ item.person_meter.service.name }}
          </td>
          <td class="d-none d-lg-table-cell">
            <NuxtLink :to="'/app/profile/account-list/#' + item.person_meter.personal_account.id">
              {{ item.person_meter.personal_account.account }}
            </NuxtLink>
          </td>
          <td class="values desktop">
            {{ parseFullMask(item.main_scale_value, item.person_meter.meter_device.type?.digits, item.person_meter.meter_device.type?.precision) }}
          </td>
          <td class="d-none d-lg-table-cell">
            {{ stringFloatWithFixed(item.main_scale_expense, item.person_meter.meter_device.type.precision) }}
          </td>
          <td class="sort-period_date d-none d-lg-table-cell">
            {{ formatDate(item.period_date) }}
          </td>
          <td class="sort-reading_date">
            {{ formatDate(item.reading_date) }}
          </td>
          <td class="values mobile">
            {{ parseFullMask(item.main_scale_value, item.person_meter.meter_device.type?.digits, item.person_meter.meter_device.type?.precision) }}
          </td>
        </tr>
        <tr v-else>
          <td colspan="8">
            <empty-list />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script setup lang="ts">
import { formatDate, stringFloatWithFixed } from "~/composables/stringHelper";
import { EyeIcon } from "vue-tabler-icons";
import { getSortClass } from '~/composables/useCollectionStore';

const props = defineProps(["values", "isEmpty"]);
const emit = defineEmits(["sort"]);

const sortItems = (column: string): void => {
  emit("sort", column);
}
const getClass = (column: string): string => {
  return getSortClass(props.values, column);
}
</script>
<style lang="scss" scoped>
.values {
  text-align: left;
}

.sort-reading_date {
  button {
    text-align: end;
  }
}

@media (min-width: 998px) {
  .table {
    .d-lg-table {
      display: table-header-group !important;
    }

    td {
      padding: 0.5rem 0.75rem;
    }
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 998px) {
  .values {
    text-align: end;
  }

  .sort-reading_date {
    text-align: start !important;

    button {
      text-align: inherit;
    }
  }

  th.sort-reading_date {
    padding-right: 0 !important;
  }

  .mobile {
    display: table-cell;
  }
  .desktop {
    display: none;
  }
}
</style>
