<template>
  <div class="d-lg-none d-lg-inline-block">
    <div class="d-flex">
      <div class="col-auto">
        <div class="avatar avatar-md mr-3" :style="getServiceIcon(item)"/>
      </div>
      <div class="w-100">
        <div class="meter-name d-flex">
          <a href="#" class="icon-link mr-auto">
            <div class="label">
              <span class="main_value">{{ item.short_name }}</span>
              &nbsp;
              <span v-if="item.label" class="text-muted">{{ item.label }}</span>
            </div>
          </a>
          <span v-if="item.last_value" class="ml-auto">
            {{ item.last_value?.main_scale_value }}
          </span>
          <div class="no-data" v-else>
            <span class="text-muted">
              нет данных
            </span>
          </div>
        </div>
        <div class="list mb-0 text-muted d-flex">
          <span>№{{ item?.meterNumber }}</span>
          <span v-if="item.last_value" class="ml-auto">{{ formatDate(item.last_value?.input_date) }}</span>
        </div>
        <div v-if="item.verification_date" class="list mb-0 text-muted d-flex">
          <span>Дата поверки:</span>
          <span class="ml-auto">{{ formatDate(item.verification_date) }}</span>
        </div>
      </div>
      <div class="history-filter">
        <dots-vertical-icon data-bs-toggle="dropdown" class="icon" aria-expanded="true" />
        <!-- dropdown menu-->
        <slot />
      </div>
    </div>
    <div>
      <div class="pt-3">
        <div>
          <!-- Текущие показания - шкала значений -->
          <meter-value-field
              name="meter_values"
              @change="item.check = true"
              v-model="item.main_scale_value"
              :errors="props.meterError"
              :digits="item.digits"
              :placeholder="!item.vsp_digits ? 'Текущие показания' : 'Весь объем'"
              :precision="item.precision"
              :disabled="!item.can_fill_value || item.hasBan"
          />
          <person-meter-ban :ban="item.ban"  v-if="item.ban" />
        </div>
      </div>
      <div v-if="item.vsp_digits" class="pt-3">
        <!-- Дополнительная шкала значений -->
        <meter-value-field
            name="vsp_scale_values"
            @change="item.check = true"
            v-model="item.vsp_scale_value"
            :errors="props.meterError"
            :digits="item.vsp_digits"
            :placeholder="`Объем воды>40'C`"
            :precision="item.vsp_precision"
            :disabled="!item.is_vsp || item.hasBan"
        />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { AlignBoxLeftMiddleIcon, EditIcon, DotsVerticalIcon } from 'vue-tabler-icons';
import {computed} from "@vue/reactivity";
import { formatDate, getServiceIcon, parseFullMask } from "~/composables/stringHelper";
import MeterValueField from '~/components/fields/MeterValueField.vue';
const props = defineProps(["personMeter", "meterError"]);

import { PersonalAccountType } from "~/store/PersonalAccounts";
import { Profile } from "~/store/Profile";

// текущий аккаунт
const currentAccount = computed(() => Profile().currentAccount() as PersonalAccountType);

const item = computed(() => props.personMeter);
</script>
<style lang="scss" scoped>
.meter-name {
  padding-bottom: 0;
  cursor: pointer;
  color: initial;
  font-size: 16px;

  a {
    color: initial;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .label {
    display: flex;
    flex-wrap: wrap;
  }

  .icon-link {
    max-width: 15em;
    overflow-wrap: break-word;
  }
}

.main_value {
  max-width: 15em;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

.btn-icon {
  position: absolute;
  margin-top: 1em;
  margin-left: 1em;
}

.history-filter {
  font-size: 12px;
  text-align: center;
}
.history {
  margin-top: 10px;
}
.btn-send {
  text-align: center;
  width: 100%;
}
.current_values {
  margin-left: 0;
}

.avatar {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-right: 0;
  width: 2.9em;
  --tblr-avatar-size: 2rem;
}

.no-data {
  font-size: 0.7em;
  margin-top: 2px;
}
</style>
