<template>
  <div class="card no-border">
    <slot />
    <div
        v-if="form.length > 0"
        :key="'person_meter_' + index + errorKey"
        v-for="(item, index) in form"
        class="mb-3"
        :class="{'active': item.check === true}"
    >
      <div class="card meter pa-5">
        <!-- Мобильная верстка -->
        <person-meters-mobile :person-meter="item" :meterError="errors[item.id]">
          <div class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end">
            <a class="dropdown-item"
               href="#"
               data-bs-toggle="modal"
               data-bs-target="#modal-confirm"
               @click="setLabel(item)"
            >
              Изменить название
            </a>
            <div v-if="item.last_value" @click="historyRoute(item.service.id)" class="dropdown-item">
              История показаний
            </div>
          </div>
        </person-meters-mobile>
        <!-- Desktop-->
        <div class="d-none d-lg-inline-flex row g-0">
          <div class="col-auto">
            <div class="avatar avatar-md" :style="getServiceIcon(item)"/>
          </div>
          <div class="col">
            <div class=" d-lg-flex ps-0">
              <div class="col-3">
                <div class="meter-name d-flex">
                  <div class="icon-link">
                    <div class="d-flex">
                      <h3 class="mb-0">{{ item.short_name }}</h3>
                    </div>
                  </div>
                </div>
                <div class="list mb-0 text-muted d-block">
                  №{{ item?.meterNumber }}
                </div>
                <div class="label-verify">
                  <h3 v-if="item.label" class="text-muted text-uppercase mb-0 mr-3">{{ item.label }}</h3>
                  <span v-if="item.verification_date" class="text-muted" :class="{'verification': item.label}">
                  Дата поверки:
                  {{ formatDate(item.verification_date) }}
                </span>
                </div>
              </div>
              <div class="meter_values">
                <!--Предыдущие показания -->
                <div class="current_values text-lg-start text-lg-center">
                  <template v-if="item.last_value">
                    <div class="list text-muted">
                      от {{ formatDate(item.last_value?.input_date) ?? item.verification_date }}
                    </div>
                    <div class="text-change text-center">
                      {{ parseFullMask(item.last_value?.main_scale_value, item.digits, item.precision) }}
                    </div>
                  </template>
                  <div class="no-data" v-else>
                  <span class="text-muted">
                    Отсутствуют данные за предыдущие периоды
                  </span>
                  </div>
                </div>
                <div class="current_values text-lg-start text-lg-center">
                  <div class="list text-muted mb-2">
                    <template v-if="!item.vsp_digits">
                      Текущие показания
                    </template>
                    <template v-else>
                      Весь объем
                    </template>
                  </div>
                  <!--Текущие показания - шкала значений-->
                  <meter-value-field
                      name="meter_values"
                      @change="item.check = true"
                      v-model="item.main_scale_value"
                      :errors="getErrorById(item)"
                      :digits="item.digits"
                      :precision="item.precision"
                      :placeholder="placeholder(item)"
                      :disabled="!item.can_fill_value"
                  />
                  <person-meter-ban :ban="item.ban" v-if="item.ban"/>
                </div>
                <div v-if="item.vsp_digits" class="current_values text-lg-start text-lg-center">
                  <div class="list text-center text-muted mb-2">
                    Объем воды>40'C
                  </div>
                  <!--Дополнительная шкала значений-->
                  <meter-value-field
                      name="vsp_scale_values"
                      @change="item.check = true"
                      v-model="item.vsp_scale_value"
                      :errors="getErrorById(item)"
                      :digits="item.vsp_digits"
                      :precision="item.vsp_precision"
                      :placeholder="placeholder(item)"
                      :disabled="!item.is_vsp || !item.can_fill_value"
                  />
                </div>
              </div>
              <div class="change-dots">
                <dots-vertical-icon data-bs-toggle="dropdown" class="cursor-pointer icon dots" aria-expanded="true"/>
                <div class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end">
                  <a class="dropdown-item"
                     href="#"
                     data-bs-toggle="modal"
                     data-bs-target="#modal-confirm"
                     @click="setLabel(item)"
                  >
                    Изменить название
                  </a>
                  <div v-if="item.last_value" @click="historyRoute(item.service.id)" class="dropdown-item">
                    История показаний
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      Нет активных счетчиков
    </div>
    <div v-if="items.length > 0" class="btn-send">
      <button
          :disabled="canSendBtn"
          style="min-width: 300px"
          class="btn btn-primary btn-lg p-3"
      >
        <a class="btn-send--show-confirm"
           href="#"
           data-bs-toggle="modal"
           data-bs-target="#modal-confirm-send"
        >
          Отправить показания
        </a>
      </button>
    </div>
    <!-- Модалка для названия счетчика -->
    <confirm-modal
        id="modal-confirm"
        title="Изменить название"
        confirm-button="Сохранить"
        confirm-class="btn-primary"
        text="Название счетчика"
        @confirm="addLabel"
    >
      <div class="mt-2">
        <input-field v-model="person_meter_label" :maxlength="10" name="person_meter_label" type="text"/>
      </div>
    </confirm-modal>
    <!-- Модалка подтверждения отправки-->
    <confirm-modal
        id="modal-confirm-send"
        title="Подтверждение"
        confirm-button="Отправить"
        confirm-class="btn-primary"
        text="Вы уверены, что хотите отправить введенные показания?"
        @confirm="sendMeterValues"
    />
  </div>
</template>
<script setup lang="ts">
import { DotsVerticalIcon } from 'vue-tabler-icons';
import { computed, ComputedRef } from "@vue/reactivity";
import { reactive } from "vue";
import { PersonMeterForm } from "~/store/PersonMeters";
import useApiErrors from "~/composables/useApiErrors";
import { useToastMessage } from "~/composables/useToastMessage";
import { MeterValueResource } from "~/api";
import { formatDate, getServiceIcon, parseFullMask, parseMask } from "~/composables/stringHelper";
import { PersonMeters } from '~/store/PersonMeters';
import PersonMetersMobile from '~/components/personMeter/PersonMetersMobile.vue';
import MeterValueField from '~/components/fields/MeterValueField.vue';
import InputField from '~/components/fields/InputField.vue';
import ConfirmModal from '~/components/modals/ConfirmModal.vue';
import { useRouter } from "vue-router";
const api = useApi();

const props = defineProps(["isEmpty"]);
const emit = defineEmits(["sort", "update"]);

const toast = useToastMessage();

const personMeters = PersonMeters();

const items = computed(() => personMeters.items);

const router = useRouter();
const historyRoute = ((id: number) => {
  router.push("/app/person-meters-values/?page=1&per_page=15&filter[service_id]=" + id);
});

let errorKey = ref(0);
let person_meter_label = ref('');
let selectedMeter = ref({});

let errors = reactive({}) as Record<number, any>

const getErrorById = ((item: PersonMeterForm) => {
  const text = errors['meter_values'];
  try {
    if (!errors[item.id] && item.can_fill_value && text[0] === "Обязательно для заполнения.") {
      return text
    }
  } catch (e) {}
  return errors[item.id] ? errors[item.id] : {};
});

const form = computed(() => {
  const today = new Date();
  return items.value.map((item: PersonMeterForm) => {
    // проверка: показания отправлены сегодня?
    const sendedToday =
      formatDate(item?.last_value?.input_date) === formatDate(today.toDateString());

    return Object.assign(item, {
      id: item?.id as number,
      meterNumber: item.meter_device?.series as string,
      short_name: item.service?.short_name as string,
      digits: item.meter_device?.type.digits,
      precision: item.meter_device?.type.precision,
      vsp_digits: item.meter_device?.type.vsp_digits,
      vsp_precision: item.meter_device?.type.vsp_precision,
      is_vsp: Number(item.meter_device?.type?.vsp_digits) > 0,
      ban: item.ban ?? undefined,
      sended: sendedToday
    })
  })
});

const placeholder = ((item: any): string => {
  return parseMask(item.precision, item.digits, '_ ');
});

const canSendBtn = computed(() => {
  return !canSendToday.value
});
const canSendToday = computed(() => {
  //поиск неотправленных показаинй
  return !!form.value.find(item => !item.sended)
});

const firstMeterActiveID = computed(() => {
  //поиск первого активного ID показания
  return form.value.find(item => item.can_fill_value)?.id
});

// значения счетчиков для отправки, посылаем только выделенные
const sendForm = computed(() => form.value
    .filter((item: PersonMeterForm) => {
      return Number(item.main_scale_value) > 0;
    }).map((item: PersonMeterForm) => {
      const mainValue = item.main_scale_value ? Number(item.main_scale_value) : undefined;
      const vspValue = item.vsp_scale_value ? Number(item.vsp_scale_value) : undefined;
      const vspRepletion = item.repletion_vsp ? {
        repletion_vsp: Number(item.repletion_vsp),
      } : {};
      return {
        ...{
          meter_id: item.id,
          main_scale_value: mainValue,
          repletion_main: Number(item.repletion_main ?? 0) as boolean,
          vsp_scale_value: vspValue
        },
        ...vspRepletion
      } as MeterValueResource
    })
);

const setLabel = ((item: any) => {
  selectedMeter.value = item;
  person_meter_label.value = item ? item.label : '';
});

const addLabel = async (): Promise<void> => {
  try {
    await api.setPersonMeterLabel(
        { label: person_meter_label.value },
        Number(selectedMeter.value.id)
    );
    emit('update', true);
    toast().success('Название счетчика сохранено');
  } catch (e) {
    useApiErrors(e);
  }
}

const sendMeterValues = async (): Promise<void> => {
  try {
    errors = {};
    await api.createPersonMeterValue({ meter_values: sendForm.value })
    emit('update', true);
    toast().success('Значения записаны');
  } catch (e) {
    const { apiErrors } = useApiErrors(e, true);
    errors = apiErrors;

    Object.entries(apiErrors).map(item => {
      // номер ошибки
      const id = Number(item[0].match(/(-?\d+(\.\d+)?)/g)?.shift());
      let errorId = sendForm.value[id]?.meter_id;

      if (item[0] === 'meter_values') {
        errorId = firstMeterActiveID.value as number;
      }
      errors[errorId] = item[1];
    })
    errorKey.value++;
  }
}

</script>
<style lang="scss" scoped>
.label-verify {
  span {
    font-size: 12px;
    max-width: 102px;
  }
}

.meter_values {
  display: flex;

  .current_values {
    width: 15em;
  }
}

.change-dots {
  margin-left: auto;
  padding: 1em;
  padding-right: 0;
}

.dots {
  --tblr-icon-size:  1.8rem;
}

.btn-success {
  width: 100%;
}

.current_values {
  margin-left: 1rem;
  font-weight: bold;
  text-align: center;

  & :deep(input) {
    font-weight: inherit;
    text-align: inherit;
    letter-spacing: 0.5px;
  }

  & :deep(input)::-webkit-input-placeholder {
    font-weight: 900;
    letter-spacing: 0;
  }
}

.avatar {
  padding: 2.5em;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 3em;
  --tblr-avatar-size: 2rem;
}

.small-font {
  font-size: 11px;
}

.form-selectgroup-label {
  background: inherit;
  border: none;
}

.form-selectgroup-input:checked+.form-selectgroup-label {
  background: inherit;
}

.meter-name {
  cursor: pointer;
  color: initial;
  font-size: 16px;

  a {
    color: initial;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .label {
    display: flex;
    flex-wrap: wrap;
  }
}

tr {
  border: inherit;

  &.active {
    z-index: 1;
    color: var(--tblr-primary);
    background: rgba(var(--tblr-primary-rgb),.04);
  }
}

td {
  vertical-align: baseline;
  padding-top: 5px;
}

.text-change {
  border-radius: var(--tblr-border-radius);
  border: var(--tblr-border-width) solid var(--tblr-border-color);
  padding: 7px;
  margin-top: 8px;
}

.btn-send {
  &--show-confirm {
    color: white;
    text-decoration: none;
  }

  button {
    min-width: 300px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

.btn-icon {
  position: absolute;
  margin-top: 2em;
  margin-left: 2em;
  height: auto;
  color: #002473;
  background: #ffffff;
  border-radius: 5px;
  z-index: 1;
}

@media (max-width: 998px) {
  .btn-send {
    text-align: center;
    width: 100%;
  }
  .current_values {
    margin-left: 0;
  }
}

.no-data {
  padding: 1em;
}
</style>
