<template>
   <div class="empty">
     <div class="empty-header">404</div>
     <p class="empty-title">Ошибка … Страница не найдена</p>
     <p class="empty-subtitle text-muted">Запрошенная страница не найдена на нашем ресурсе</p>
     <div class="empty-action" v-if="!hideMainBtn">
       <NuxtLink to="/app" class="btn btn-success">
         <ArrowLeftIcon class="icon" />
         На главную
       </NuxtLink>
     </div>
   </div>
</template>

<script setup lang="ts">
  import { ArrowLeftIcon } from 'vue-tabler-icons';
  import {Profile} from '~/store/Profile';
  const user = Profile();
  const hideMainBtn = computed((): boolean => {
    return user && user.noHasGroup;
  });
  definePageMeta({
    layout: 'error',
  });
</script>
