<template>
   <div class="empty">
     <div class="empty-img">
       <img src="/logo.png" height="128" alt="">
     </div>
     <p class="empty-title">Технические работы</p>
     <p class="empty-subtitle text-muted">Временно отключен на техническое обслуживание</p>
   </div>
</template>
<script setup lang="ts">
definePageMeta({
  layout: 'error',
});
</script>
