<template>
  <div class="container-tight py-4">
    <div class="empty">
      <div class="empty-img">
        <img src="/logo.png" height="128" alt="">
      </div>
      <p class="empty-title">Person</p>
      <p class="empty-subtitle text-muted">
        Заглушка под главную страницу
      </p>
    </div>
  </div>
</template>
<script setup lang="ts">
const tab = ref(1);
</script>
