<template>
  <!-- Регистрация / Забыли пароль?  -->
  <h2 class="h2 text-center mb-4">{{ title }}</h2>
  <div>
    <number-step v-if="tab === 0"
                 :is-register="isRegister"
                 :phone="phone"
                 @change="emit('change',$event)"
                 @continue="nextStepHandler($event, undefined, true)"/>

    <account-step v-if="tab === 1"
                  @prevStep="tab = 0"
                  @nextStep="nextStepHandler(false, $event)" />

    <code-step v-if="tab === 2"
               :phone="phone"
               :is-register="isRegister"/>
  </div>

</template>
<script setup lang="ts">
import { useToastMessage } from "~/composables/useToastMessage";
import {computed} from "@vue/reactivity";
import NumberStep from "~/components/auth/steps/NumberStep.vue";
import CodeStep from "~/components/auth/steps/CodeStep.vue";
import useApiErrors from "~/composables/useApiErrors";
import {useRouter} from "vue-router";
import AccountStep from "~/components/auth/steps/AccountStep.vue";
import {RegistrationRequest} from "~/api";

const router = useRouter();
const toast = useToastMessage();
const props = defineProps(["isRegister", "phone"]);
const emit = defineEmits(["showAuth", "showResetPassword", 'change']);
const errors = ref({});
const api = useApi();
const timeWait = ref(0);
const errorPhone = ref("");
const showCode = ref(false);
const code = ref("")

const tab = ref(0)

const title = computed((): string => {
  if (showCode.value)
    return 'СМС-код отправлен';
  return props.isRegister ? 'Регистрация' : 'Запрос на смену пароля';
})

const userData = reactive<RegistrationRequest>({
  phone: '',
  personal_account_id:0
})

watch( props, ()=> userData.phone = props?.phone ,{immediate:true})

const send = async () => {
  if (showCode.value) {
    await authByCode();
    return;
  }
  await sendCode();
}

const nextStepHandler = (isRegistration: boolean, accountId?: number, forgotPass?: boolean) => {
  tab.value = isRegistration ? 1 : 2
  if(accountId){
    userData.personal_account_id = accountId
    send()
  }

  if(!isRegistration && forgotPass)
    send()
}

const countDownTimer = (): void => {
  if (!timeWait.value) return;
  setTimeout(() => { timeWait.value--; countDownTimer() }, 1000);
}

const sendCode = async () => {
  try {
    let phone = userData.phone
    errors.value = {};
    errorPhone.value = "";
    // Отправить запрос на регистрацию или на смену пароля
    const { data } = props.isRegister ?
      await api.register( userData ) :
      await api.forgotPassword({ phone });

    timeWait.value = Number(data.rest_in_seconds);
    countDownTimer();
    showCode.value = true;
  } catch (e) {
    const { apiErrors } = useApiErrors(e, true, true);
    errors.value = apiErrors;
  }
}

const authByCode = async () => {
  errors.value = {};
  errorPhone.value = "";
  try {
    const codeNumber = Number(code.value) > 0 ?  Number(code.value) : undefined;
    const {data} = await api.verifyCode({phone, code: codeNumber });
    await router.push("/app/auth/reset-password?phone=" + userData.phone + "&token=" + data.reset_password_token);
  } catch (e) {
    const { apiErrors } = useApiErrors(e);
    errors.value = apiErrors;
  }
}

</script>
<style scoped>
.text-agreement {
  font-size: 13.5px;
}
</style>
