<template>
  <Form id="password-info" v-slot="{ errors }"  :validation-schema="validationSchema"  @submit="save" ref="form">
    <div class="card card-md">
      <div class="card-body">
        <!-- Установка пароля при регистрации-->
        <template v-if="props.isAuth">
          <h2 class="h2 text-center mb-2">Установка пароля</h2>
        </template>
        <!-- Смена пароля -->
        <div v-else>
          <label class="form-label" for="current_password">
            Текущий пароль
          </label>
          <input-field
              tabindex="1"
              placeholder="Текущий пароль"
              v-model="current_password"
              name="current_password"
              type="password"
              :visible-btn="true"
              :errors="fieldErrors"
          />
        </div>
        <div class="mt-2">
          <label class="form-label" for="password">
            Новый пароль
          </label>
          <input-field
            tabindex="2"
            placeholder="Введите новый пароль"
            name="password"
            v-model="password"
            :visible-btn="true"
            :errors="fieldErrors"
            type="password"
          />
        </div>
        <div class="row row-cards mt-2">
          <div class="col-sm-6 mt-0" :key="'v_' + index"
               v-for="(validate, index) in validationList" :class="{
                 'status-success': validateStatus(validate.name), 'text-muted': !validateStatus(validate.name), 'status-red text-red': fieldErrors['password'] && !validateStatus(validate.name)}">
            <span class="status-dot me-2"/> {{ validate.text }}
          </div>
        </div>
        <div class="mt-2">
          <label class="form-label" for="password_confirmation">
            Подтверждение пароля
          </label>
          <input-field
              tabindex="3"
              placeholder="Введите новый пароль еще раз"
              name="password_confirmation"
              v-model="password_confirmation"
              :visible-btn="true"
              :errors="{ ...fieldErrors, ...errors }"
              type="password"
              ref="passwordField"
          />
        </div>
        <div v-if="props.isAuth" class="text-center pt-3">
          <button type="submit" class="btn btn-primary w-100" :class="{'btn-loading': isLoading}">
            Сохранить
          </button>
        </div>
      </div>

      <div v-if="!props.isAuth" class="d-flex card-footer">
        <button type="submit" class="btn btn-primary align-items-end justify-content-end ml-auto" :class="{'btn-loading': isLoading}">
          Сохранить
        </button>
      </div>
    </div>
  </Form>
</template>
<script setup lang="ts">
import { Form } from "vee-validate";
import { object, string } from 'yup';
import InputField from "~/components/fields/InputField.vue";
import useApiErrors from "~/composables/useApiErrors";
import { useToastMessage } from "~/composables/useToastMessage";
import { Profile } from "~/store/Profile";
import {isPwa} from '~/composables/stringHelper';

const emit = defineEmits(["close"]);
const props = defineProps(["isAuth"]);
const user = Profile();

const form = ref(Form);
let current_password = ref("");
let password = ref("");
let password_confirmation = ref("");
const required = 'Обязательно для заполнения.'

const route = useRoute();
const router = useRouter();
const phoneVal = route.query?.phone as string;
const tokenValue = route.query?.token as string;
let phone = phoneVal ? phoneVal.replace(/[^0-9]/g, '') : "";

let fieldErrors = reactive({} as Record<string, string>);
let isLoading = ref(false);
const toast = useToastMessage();
const api = useApi();

const successText = props.isAuth ? 'Пароль установлен.' : 'Пароль успешно изменен.';

const setPassword = async () => {
  if (!tokenValue)
    toast().error('Отсутствует ключ смены пароля');
  await api.resetPassword(
      {
        phone: phone as string,
        password: password.value,
      },
      tokenValue as string
  );
}

const save = async (): Promise<boolean> => {
  isLoading.value = true;
  try {
    fieldErrors = {};
    if (props.isAuth) {
      await setPassword();
      const { data } = await api.login({ login: phone as string, password: password.value, is_pwa: isPwa() });
      useApiToken().set(data.access_token, data.refresh_token);
      user.setProfile(data.profile);
      await router.push("/app/profile");
      return true;

    }
    else {
      await api.changeProfilePassword({ current_password: current_password.value, password: password.value });
      form.value.resetForm();
    }
    resetFormValues();
    toast().success(successText);
    emit('close', true)

    isLoading.value = false;
  } catch (e) {
    const { apiErrors } = useApiErrors(e);
    fieldErrors = apiErrors;
    handleEmptyPassword();

    isLoading.value = false;
  }
  return false;
}

const resetFormValues = () => {
  current_password.value = "";
  password_confirmation.value = "";
  password.value = "";
};

const handleEmptyPassword = () => {
  if (fieldErrors.password?.[0] === required && !password_confirmation.value) {
    fieldErrors.password_confirmation = required;
  }
};

const validationSchema = object({
  password_confirmation:
    string()
      .test('confirm', required, (value): boolean => {
        if (!password.value) return true;
        return password_confirmation.value.length > 0;
      })
      .test('confirm', 'Подтверждение пароля должно совпадать с новым паролем.', (value): boolean => {
        if (!password.value) return true;
        return password.value === password_confirmation.value;
      })
});
const validateStatus = (param: string): boolean => {
  switch (param) {
    case 'big_letter':
      return /[A-Z]/.test(password.value);
    case 'letter':
      return /[a-z]/.test(password.value);
    case 'min':
      return password.value.length >= 8;
    case 'number':
      return /[0-9]/.test(password.value);
    case 'spec':
      return /[#$%^&*()_+@=\-\[\]\';`,.\/{}|":<>?!~\\\/]/.test(password.value);
    default:
      return false;
  }
}
const validationList = [
    {
      name: 'big_letter',
      text: 'Одна заглавная буква'
    },
    {
      name: 'spec',
      text: 'Один спецсимвол'
    },
    {
      name: 'letter',
      text: 'Одна строчная буква'
    },
    {
      name: 'min',
      text: 'Не менее 8 символов'
    },
    {
      name: 'number',
      text: 'Одно число'
    }
  ];
</script>
<style lang="scss" scoped>
.card-body :deep(.close) {
  a {
    background-size: unset;
  }
}
</style>
