  <template>
  <div class="modal modal-blur fade" tabindex="-1" :id="props.id" >
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <form class="modal-content" @submit.prevent="linkAccount">
        <div class="modal-header">
          <h5 class="modal-title">Добавить лицевой счет</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
        </div>
        <div class="modal-body">
          <div class="d-flex">
            <div class="col-8 px-2 pl-0">
              <label class="form-label required" for="address">
                Адрес
              </label>
              <auto-complete-field
                  name="address"
                  v-model="form.house_id"
                  :elem="houses"
                  ref="refHouses"
                  :required="true"
              />
            </div>
            <div class="col-4 flats" :class="{'disabled': !form.house_id}">
              <label class="form-label required" for="flat_id">
                Квартира
              </label>
              <auto-complete-field
                  name="flat_id"
                  v-model="form.flat_id"
                  :elem="flats"
                  ref="refFlats"
                  :required="true"
              />
            </div>
          </div>
          <div class="mt-2" :class="{'disabled': !form.flat_id}">
            <label class="form-label required" for="account_id">
              Лицевой счет
            </label>
            <auto-complete-field
                name="account_id"
                v-model="form.account_id"
                :elem="accounts"
                ref="refAccounts"
                :required="true"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn me-auto" data-bs-dismiss="modal" type="button" aria-label="Close">
            Отмена
          </button>
          <button class="btn btn-success ml-2" type="submit" :disabled="!form.account_id && !user.fullName">
            <span>Добавить</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script setup lang="ts">
import AutoCompleteField from "~/components/fields/AutoCompleteField.vue";
import { Profile } from '~/store/Profile';
import { HouseFlats } from '~/store/HouseFlats';
import { Houses } from '~/store/Houses';
import {useLocal} from "~/composables/useLocal";
import { FlatAccounts } from "~/store/FlatAccounts";
import {PersonalAccounts} from "~/store";
import {Modal} from 'bootstrap'
const api = useApi();

const local = useLocal();
const toast = useToastMessage();
const user = Profile();
const personalAccounts = PersonalAccounts();

const refHouses = ref();
const refFlats = ref();
const refAccounts = ref();

// справочник квартир
const flats = HouseFlats();
// справочник домов
const houses = Houses();
// справочник списка ЛС
const accounts = FlatAccounts();

const props = defineProps(["id"]);

const currentAccount = computed(() => user.currentAccount());

const form = reactive({
  house_id: '',
  flat_id: '',
  account_id: ''
});

const clearForm = (() => {
  form.account_id = '';
  form.house_id = '';
  form.flat_id = '';
});

const setFlatFilters = async (): Promise<void> => {
  flats.setHouseId(form.house_id);
  form.flat_id = ''
  await flats.getList();
  // автонаведение на квартиры
  const tomSelect = refFlats.value?.root.tomselect;
  tomSelect.focus();
}

// выбор ЛС
const setAccountFilters = async (): Promise<void> => {
  accounts.setFlatId(form.flat_id);
  form.account_id = '';
  await accounts.getList();
  // выбор ЛС по умолчанию
  if (accounts.items.length === 1) {
    form.account_id = String(accounts.items[0].id);
  }
  // автонаведение на ЛС
  if (accounts.items.length > 1) {
    const tomSelect = refAccounts.value?.root.tomselect;
    tomSelect.focus();
  }
}

// смена квартиры
watch(
    () => form.flat_id,
    async () => {
      await setAccountFilters();
    }
);

// смена дома
watch(
    () => form.house_id,
    async () => {
      await setFlatFilters();
    }
);

// привязка ЛС
const linkAccount = async (): Promise<void> => {
  try {
    const thisModal = Modal.getInstance(document.getElementById(props.id))
    await api.attachAccount(Number(form.account_id));
    await user.getProfile();
    toast().success('Лицевой счет привязан');
    thisModal?.hide()
    if (!currentAccount.value) {
      local.set(form.account_id);
      user.accountId = form.account_id
    }
    await personalAccounts.getList(true)
    clearForm();
  } catch (e) {
    useApiErrors(e);
  }
}
const onModalShow = () => {
  houses.getList();
}
const onModalShown = () => {
  setTimeout(() => refHouses.value?.root.tomselect.focus(), 200);
}

onMounted(() => {
  const thisModal = document.getElementById(props.id)
  thisModal?.addEventListener('show.bs.modal', onModalShow)
  thisModal?.addEventListener('shown.bs.modal', onModalShown)
})

onBeforeUnmount(() => {
  const thisModal = document.getElementById(props.id)
  thisModal?.removeEventListener('show.bs.modal', onModalShow)
  thisModal?.removeEventListener('shown.bs.modal', onModalShown)
})
</script>
