<template>
  <confirm-modal
      id="appeal_comment"
      confirm-button="Сохранить"
      :title="'Добавить комментарий'"
      :text="''"
      @confirm="setComment"
  >
    <div class="">
      <label class="form-label" for="comment">
        Текст сообщения
      </label>
      <text-area-field
          v-model="comment"
          :errors="errors"
          name="comment"
      />
    </div>
    <div class="pt-2">
      <label class="form-label" for="files">
        Файлы
      </label>
      <multiple-drop-file-field
          :files="files"
          format=".jpg, .png, .pdf, .docx"
          @upload="saveFiles"
          @delete="deleteFiles"
      />
    </div>
  </confirm-modal>
</template>
<script setup lang="ts">
import TextAreaField from "~/components/fields/TextAreaField.vue";
import ConfirmModal from "~/components/modals/ConfirmModal.vue";
import MultipleDropFileField from "~/components/fields/MultipleDropFileField.vue";
import {FileResource, FilesUploadRequest} from "~/api";
import {Appeals} from "~/store/Appeals";
import {useApi} from "~/composables/useApi";
import {useToastMessage} from "~/composables/useToastMessage";
const props = defineProps(["appeal"]);
const emit = defineEmits(["update"]);

const api = useApi();
const toast = useToastMessage();

const appeals = Appeals();

let errors = reactive({} as Record<string, string>);
const files = ref([] as Array<FilesUploadRequest>);
let comment = ref('');

const saveFiles = (file: File): void => {
  files.value.push(file);
}

const deleteFiles = (acceptFile: FileResource): void => {
  if (acceptFile.id)
  {
    files.value = files.value?.filter(f => f.id !== acceptFile.id);
    return;
  }
  files.value  = files.value ?.filter(f => f.path !== acceptFile.path);
}

const setComment = (async () => {
  try {
    await api.createChatMessageForm(files.value, comment.value, 'appeal-' + props.appeal.id);
    emit("update", true);
    toast().success("Добавлен комментарий");
    files.value = [];
    comment.value = '';
  } catch (e) {
    useApiErrors(e);
  }
})
</script>
