<template>
  <div class="modal modal-blur fade" tabindex="-1" :id="props.id">
    <div class="modal-dialog modal-sm modal-dialog-centered" :class="props.class" role="document"
         :style="{'max-width': props.maxWidth}">
      <div class="modal-content">
        <div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
        </div>
        <div class="modal-status w-100" />
        <div class="modal-body">
          <div class="text-center">
            <warning-icon width="56" height="56" />
            <h3>Внимание</h3>
            <slot name="label" />
          </div>
          <slot />
        </div>

        <div class="modal-footer pt-3">
          <button class="btn me-auto" data-bs-dismiss="modal" aria-label="Close" ref="close" @click.prevent="emit('cancel')">
            {{ props.closeBtn }}
          </button>
          <button class="btn btn-danger ml-2" data-bs-dismiss="modal" aria-label="Close" @click.prevent="emit('confirm')">
            {{ props.confirmBtn }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import WarningIcon from "~/components/icons/WarningIcon.vue";
const props = defineProps({
  closeBtn: { type: String, default: 'Закрыть' },
  confirmBtn: { type: String, default: 'Подтвердить' }
});
const emit = defineEmits(["confirm", "cancel"]);
</script>
<style lang="scss" scoped>
.modal-status {
  border-radius: 8px 8px 0 0;
  background: rgba(214, 57, 57, 1);
}

.cancel {
  padding: 0 20px 0 20px;
}

.modal-footer {
  background-color: rgba(246, 248, 251, 1);
}
</style>
