<template>
  <!-- Modal -->
  <div class="modal modal-blur fade" tabindex="-1" :id="props.id" ref="modalEl">
    <div class="modal-dialog modal-sm modal-dialog-centered" :class="props.class" role="document">
      <div class="modal-content">
        <div class="modal-header" v-if="!!props.title">
          <h5 class="modal-title">{{ props.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <template v-if="show">
          <div class="modal-body">
            <span :class="{'d-none': props.hideText }">
              {{ props.text }}
            </span>
            <slot />
          </div>

          <div class="modal-footer">
            <button class="btn me-auto" data-bs-dismiss="modal" aria-label="Close" v-if="cancelBtnText!==false" >
              {{ cancelBtnText }}
            </button>

            <button
                class="btn ml-2"
                :class="confirmClasses"
                @click.prevent="confirmEvent"
                :disabled="props.confirmDisabled"
            >
              <span v-if="props.confirmButton">{{ props.confirmButton }}</span>
              <span v-else>Продолжить</span>
            </button>
          </div>
        </template>
        <slot name="modal-body" />
      </div>
    </div>
    <div style="position:absolute; opacity: 0; left: -10000px" data-bs-toggle="modal" :data-bs-target="'#'+props.id" ref="toggler"></div>
    <div style="position:absolute; opacity: 0; left: -10000px" data-bs-dismiss="modal" ref="close"></div>
  </div>
</template>
<script setup lang="ts">
import {Modal} from 'bootstrap';

const props = defineProps([
  "confirmDisabled",
  "title",
  "id",
  "class",
  "text",
  "hideText",
  "confirmButton",
  "cancelButton",
  "confirmClass",
  "noAutoClose",
  'showModal',
  'isLoading',
]);
const emit = defineEmits(["confirm","cancelled"]);
const confirmClasses = ref({})

onBeforeMount(()=>{
  confirmClasses.value[props.confirmClass??'btn-primary']=true;
  confirmClasses.value["btn-loading"]=props.isLoading??false;
})

const cancelBtnText = computed((): string => props.cancelButton ?? "Отмена")
const close = ref();
const toggler = ref();
const modalEl = ref();

const confirmEvent = () : void => {
  emit('confirm')
  if (!props.noAutoClose)
    close.value.click();
}

watch(
    () => props.showModal,
    (v) => {
      if (v)
        toggler.value.click();
      else
        close.value.click();
    },
    { deep: true }
);

watch(
    () => props.isLoading,
    (v) => {
      confirmClasses.value['btn-loading']=v;
    },
    { deep: true }
);

const show = computed(() => props.text === '' ? true : !!props.text )

onMounted(()=>{
  modalEl.value.addEventListener('hidden.bs.modal', function (event) {
    emit("cancelled")
  })
})

</script>
