<template>
  <div class="modal modal-blur fade" :id="index" ref="billModal">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content h-full" style="max-height: 100vh">
        <div class="modal-header d-flex flex-column align-items-baseline ">
          <h5 class="modal-title pt-3 ">
            <span v-if=" serviceName != 'null'"> {{ serviceName }} </span>
            <span v-if="service.company"> {{ ' ' + service.company }} </span>
          </h5>
          <h5 class="pt-2 pb-2 additional-text text ">ЛС: {{ item.account }} · {{ item.address }}</h5>
          <button type="button" @click="outOfModal(service,false)" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"/>
        </div>
        <div class="modal-body pt-0 p-3 overflow-y-scroll h-100">
          <div v-if="service.items" v-show="!(serviceHidden || false)" class="row ps-3 mt-3">

            <div v-for="( sub_item, sub_index ) of service.items" class="payment-accounts--check" ref="depositInputs">
              <div v-if="getViewPort > 1024 && service.items" class="row">
                <div class="col-sm-7 col-12 pl-0 pr-0">
                  <div class="pb-md-5 ">
                    <div :for="'sub_item-' + sub_index + index + service.key">
                      {{ sub_item.service_name }}
                      <template v-if="sub_item.appeal_number?.length">
                        <div>
                          <div v-if="!user.appealBlocked()">
                          <span class="fs-6 text-muted">
                            Заявка №{{ sub_item.appeal_number.join(", №") }}
                          </span>
                          </div>
                          <span v-else  class="fs-6 text-muted">
                          Заявка №{{ sub_item.appeal_number.join(", №") }}
                        </span>
                        </div>
                      </template>
                    </div>
                    <span v-if="sub_item.debts > 0" class="text-muted">Долг:
                        <a @click="debtsToggler(sub_item,sub_index)" class="ms-1 underline-dotted">
                          {{ $helpers.number_format(sub_item.debts) }} ₽
                        </a>
                      </span>
                    <span v-if="getError(sub_item.gen_index, 'enabled')" role="alert" class="text-red">
                      {{ getError(sub_item.gen_index, 'enabled') }}
                    </span>
                  </div>
                </div>
                <div class="col-sm-5 col-12 mb-1 d-flex align-items-start">
                  <div class="input-group">
                    <input v-if="!sub_item.not_editable"
                           type="tel"
                           v-price
                           :value="billsEmitter[sub_index].price"
                           ref="billsInput"
                           @change="changeInput(sub_index)"
                           :disabled="sub_item.not_editable"
                           :data-sub_index="sub_index"
                           placeholder="Сумма в рублях"
                           :key="index + '-' + sub_index + priceKey"
                           class="form-control price_input text-end"
                           :class='{
                    "is-invalid": (sub_item.errors || getError(sub_item.gen_index, "price")) && sub_item.enabled }'
                    />
                    <span class="currency" v-if="!sub_item.not_editable">₽</span>
                    <select class="form-select" v-if="sub_item.not_editable" v-model="sub_item.price"
                            @change="changeInput(sub_index)" ref="billsInput">
                      <option :value="0">Не оплачивать</option>
                      <option :value="sub_item.debts" :label="$helpers.number_format(sub_item.debts)+' ₽'">
                      </option>
                    </select>
                  </div>
                  <span v-if="sub_item.enabled && getError(sub_item.gen_index, 'price')"
                        role="alert"
                        class="text-red"
                  >
                      {{ getError(sub_item.gen_index, 'price') }}
                    </span>
                  <span v-if="sub_item.enabled && sub_item.errors"
                        role="alert"
                        class="text-red"
                  >
                      {{ sub_item.errors }}
                  </span>
                </div>
              </div>
              <div v-else class="row mb-3">
                <div class="col-sm-7 col-12 pl-0 pr-0">
                  <div class="pb-md-5 ">
                    <div class="d-flex pb-1 align-items-start" :for="'sub_item-' + sub_index + index + service.key">
                      {{ sub_item.service_name }}
                      <div v-if="sub_item.appeal_number?.length">
                        <span  class="fs-6 text-muted">
                          Заявка №{{ sub_item.appeal_number.join(", №") }}
                        </span>
                      </div>
                    </div>
                    <span v-if="getError(sub_item.gen_index, 'enabled')" role="alert" class="text-red">
                      {{ getError(sub_item.gen_index, 'enabled') }}
                    </span>
                  </div>
                </div>
                <div class="col-sm-5 col-12 mb-1 d-flex align-items-start p-0">
                  <div class="input-group">
                    <input v-if="!sub_item.not_editable"
                           type="tel"
                           v-price
                           :value="billsEmitter[sub_index].price"
                           ref="billsInput"
                           @change="changeInput(sub_index)"
                           :disabled="sub_item.not_editable"
                           :data-sub_index="sub_index"
                           placeholder="Сумма в рублях"
                           :key="index + '-' + sub_index + priceKey"
                           class="form-control price_input text-end"
                           :class='{
                    "is-invalid": (sub_item.errors || getError(sub_item.gen_index, "price")) && sub_item.enabled }'
                    />
                    <span class="currency" v-if="!sub_item.not_editable">₽</span>
                    <select class="form-select" v-if="sub_item.not_editable" v-model="sub_item.price"
                            @change="changeInput(sub_index)" ref="billsInput">
                      <option :value="0">Не оплачивать</option>
                      <option :value="sub_item.debts" :label="$helpers.number_format(sub_item.debts)+' ₽'">
                      </option>
                    </select>
                  </div>
                  <span v-if="sub_item.enabled && getError(sub_item.gen_index, 'price')"
                        role="alert"
                        class="text-red"
                  >
                      {{ getError(sub_item.gen_index, 'price') }}
                    </span>
                  <span v-if="sub_item.enabled && sub_item.errors"
                        role="alert"
                        class="text-red"
                  >
                      {{ sub_item.errors }}
                  </span>
                </div>
                <span v-if="sub_item.debts > 0" class="text-muted">Долг:
                  <a @click="debtsToggler(sub_item,sub_index)" class="ms-1 underline-dotted">
                    {{ $helpers.number_format(sub_item.debts) }} ₽
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row modal-prefooter p-3 justify-content-between align-items-center">
          <div class="d-flex flex-column flex-2">
            Сумма оплаты
          </div>
          <div class="d-flex flex-column align-items-end">
            <span class="title-text flex-nowrap"> {{ $helpers.number_format(getPrice) }} ₽ </span>
            <span class="additional-text ">Комиссия: {{ $helpers.number_format(service.totalFee) }} ₽</span>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn me-auto" @click="outOfModal(service,false)" data-bs-dismiss="modal" aria-label="Close">
            Отмена
          </button>
          <button class="btn btn-success ml-2" @click="outOfModal(service,true)" data-bs-dismiss="modal">
            <span>Сохранить</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import {Profile} from '~/store/Profile';
import {useLocal} from "~/composables/useLocal";
import {parseError} from "~/composables/stringHelper";
import {computed} from "vue";
import {Payment, PersonAccountsResourceItems, serviceItem} from "~/store";
import Inputmask from "inputmask";
import {PropType} from "@vue/runtime-core";


const {$helpers} = useNuxtApp();

const props = defineProps({
  serviceName: {
    type: String,
    required: true,
  },
  item: {
    type: Object as PropType<PersonAccountsResourceItems>,
    required: true
  },
  service: {
    type: Object as PropType<serviceItem>,
    required: true,
  },
  errors: {
    type: Object,
    required: true,
  },
  index: {
    type: Number,
    required: true,
  }
})

const emit = defineEmits(['check', 'validate']);

const local = useLocal();
const user = Profile();
const payment = Payment();

const api = useApi();
const toast = useToastMessage();
const getViewPort = ref<number>(innerWidth);

let serviceHidden = ref(false);
const priceKey = ref(0);
const billModal = ref(null);
const billsInput = ref();

const getPrice = computed(() => {
  return props.service.price
})

const getService = computed(() => {
  return props.item
})

const billsEmitter = computed({
  get() {
    return props.service.items
  },
  set(newValue) {
    emit('validate', {pricedItem: newValue, service: getService.value})
  }
})

const outOfModal = (service: {}, isSave: boolean) => {
  emit('check', {service: service, isSave: isSave})
}

const validate_data = (userInput: string, sub_item: any): string => {
  const min = 0;

  if (!userInput.includes('.') && !userInput.includes(','))
    userInput += ".00"

  const userInputNumber = parseFloat(userInput.replace(',', '.').replace(' ', ''));

  if (!isNaN(userInputNumber) && userInputNumber >= min && userInputNumber <= sub_item.max_price) {
    return userInputNumber.toString()
  } else {
    if (userInputNumber > sub_item.max_price) {
      if (sub_item.max_price != 1000000) {
        return sub_item.max_price.toString()
      }
      return sub_item.debts.toString()
    }
  }
  return "0.00"
}
const debtsToggler = (subitem: PersonAccountsResourceItems, sub_index: number) => {
  if (subitem.not_editable) {
    toggleInput(subitem)
    return
  }

  setTextToInput(sub_index)
}

const toggleInput = (subitem: any) => {
  subitem.price = subitem.debts
  billsEmitter.value = subitem
}

const setTextToInput = (sub_index: number) => {
  if (props.service.checked)
    billsEmitter.value = newPricedItem(sub_index)
}

const getError = ((id: string, name: string) => {
  return parseError('items.' + id + '.' + name, props.errors)
});
const index = computed(() => {
  return props.index
});

const changeInput = (sub_index: number) => {
  let num = validate_data(billsInput.value[sub_index].value, billsEmitter.value[sub_index])
  billsEmitter.value = newPricedItem(sub_index, num)
}

const vPrice = {
  mounted: (el: any, binding: any) => {
    const sub_index = el.dataset.sub_index;
    el = billsInput.value[sub_index];
    const im = new Inputmask("decimal", {
      radixPoint: ',',
      inputType: "number",
      digits: 2,
      digitsOptional: false,
      enforceDigitsOnBlur: true,
      groupSeparator: " ",
      allowMinus: false,
      min: 0,
      max: 1000000,
    });
    im.mask(el);
  }
}

const newPricedItem = (sub_index: number, value?: string): any => {
  let item = billsEmitter.value[sub_index]

  if (value) {
    item.price = parseFloat(value.replace(',', '.').replace(' ', ''))
  } else {
    item.price = +billsEmitter.value[sub_index].debts
  }
  if (isNaN(item.price)) {
    item.price = 0
  }

  return item
}

const getHTMLElement = () => {
  return billModal.value;
};

defineExpose({
  getHTMLElement,
})

</script>

<style lang="scss" scoped>

.form-select {
  text-align-last: right
}

.currency {
  z-index: 10;
  position: absolute;
  right: 15px;
  top: 23%;
  color: #929DAB
}

.price_input {
  padding-right: 30px
}

.badge {
  min-width: max-content;
}

.show {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex !important;
  height: -webkit-fill-available;
  height: stretch;
}

:deep(.bg-green-lt) {
  background: white !important;
  border: 1px solid #2FB344;
  color: #2FB344;
  align-self: center;
}

:deep(..btn-close:focus) {
  box-shadow: none;
}

:deep(.btn-close) {
  transition: 0.15s ease;
}

:deep(.form-select:focus) {
  box-shadow: none;
}

:deep(.additional-text) {
  white-space: pre-wrap;
  font-weight: 400;
}

.modal-prefooter {
  .title-text {
    transition: ease 0.2s;
    font-size: 1.25rem;
    font-weight: 590;
    line-height: 140%;
  }

  background-color: var(--tblr-modal-footer-bg);
  border-top: var(--tblr-modal-footer-border-width) solid var(--tblr-modal-footer-border-color);
}
</style>
