<template>
  <div>
    <!-- Заголовок -->
    <page-header pre-title="Система">
      <template v-slot:title>
        <breadcrumb :items="breadcrumbs" />
      </template>
    </page-header>
    <div class="page-body">
      <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <client-only>
                <span v-if="messageInfo.internal_message">
                  {{ messageInfo.internal_message.title }}
                </span>
              </client-only>
            </h3>
          </div>
          <div class="card-body pa-0 border-0">
            <div class="card">
              <div class="card-body">
                <internal-message-main-info :message="messageInfo" v-if="messageInfo.id"/>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import InternalMessageMainInfo from "~/components/internalMessage/InternalMessageMainInfo.vue";
import useApiErrors from "~/composables/useApiErrors";
import { useRouter } from "vue-router";
import { InternalMessage as InternalMessageResource } from "~/api";
import { EditIcon } from 'vue-tabler-icons';
import { Profile } from '~/store/Profile';
import { useApi } from '~/composables/useApi';
const api = useApi();

const router = useRouter();
const route = useRoute();
const user = Profile();
const params = route.params.view;
const id = Number(params[0]);
if (!id) {
  router.push("/app/internal-messages");
}

const back = route.query.back;

let messageInfo = reactive({} as InternalMessageResource);

const readOne = async () => {
  const { data } = await api.readInternalMessage(id);
  messageInfo = Object.assign(messageInfo, data);
};

// подгрузка данных
onBeforeMount(async (): Promise<void> => {
  if (!id) return;
  try {
    await readOne();
  } catch (e) {
    useApiErrors(e);
  }
});


const breadcrumbs = [
  {
    link: '/app/internal-messages',
    title: 'Уведомления'
  },
  {
    link: '',
    title: 'Просмотр'
  }
];

definePageMeta({
  middleware: 'auth'
});
</script>
