<template>
  <internal-message-table :user="user">
    <!-- Заголовок -->
    <div class="page-header-title mt-2 d-flex">
      <div class="page-title-container">
        <h2 class="page-title">
          <span>Уведомления</span>
        </h2>
      </div>
    </div>
  </internal-message-table>
</template>
<script lang="ts" setup>
import {Profile} from '~/store/Profile';

const user = Profile();

definePageMeta({
  middleware: 'auth'
});
</script>
