<template>
  <div class="item">
    <span class="title">№ заявки: </span>
    <nuxt-link :to="link(props.item.number) + '/view'" class="btn-icon icon-link me-1">
      {{ props.item.number }}
    </nuxt-link>
  </div>

  <div class="item">
    <div class="title">Дата создания:</div>
    {{ formatDateTime(props.item.created_at) }}
  </div>
  <div class="item">
    <div class="title">Объект заявки:</div>
    {{ props.item.place.name }}
  </div>
  <div class="item">
    <div class="title">Статус заявки:</div>
    <div>
      <status-label
          :status="props.item.status"
          :text="useAppealStatus()[props.item.status]"
          :class="appealStatusClass(props.item.status)"
      />
    </div>
  </div>
  <div class="item">
    <div class="title">Содержание:</div>
    <div class="overflow-name">
      {{ props.item.desc }}
    </div>
  </div>
  <slot/>
</template>
<script setup lang="ts">
const props = defineProps(["item"]);
import StatusLabel from "~/components/utility/StatusLabel.vue";
import { formatDateTime } from '~/composables/stringHelper';
import { useAppealStatus, appealStatusClass } from '~/composables/useConst';

const link = (itemId: number): string => {
  return ('/app/appeals/') + itemId;
}
</script>
<style lang="scss" scoped>
.item {
  padding: 5px;
  padding-left: 0;
  display: flex;

  .title {
    margin-right: auto;
  }
}

.title {
  font-weight: 800;
}
</style>
