<template>
  <table class="table card-table table-vcenter text-nowrap datatable">
    <thead class="d-none d-lg-table">
      <tr>
        <th>№ заявки</th>
        <th>Содержание</th>
        <th class="text-center">
          <button
              class="table-sort text-center"
              data-sort="sort-created_at"
              :class="getClass('created_at')"
              @click.prevent="sortItems('created_at')"
          >
            Дата<br/>создания
          </button>
        </th>
        <th>Объект заявки</th>
        <th>Статус заявки</th>
        <th>Стоимость</th>
        <th class="w-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in appeals.items" :key="'bans_' + index" v-if="!props.isEmpty">
        <td class="d-lg-none d-lg-block">
          <appeal-mobile :item="item" />
        </td>
        <td class="d-none d-lg-table-cell">
          <nuxt-link :to="link(item.number) + '/view'" class="btn-icon icon-link me-1">
            {{ item.number }}
          </nuxt-link>
        </td>
        <td class="d-none d-lg-table-cell">
          {{ getDesc(item.desc) }}
        </td>
        <td class="d-none d-lg-table-cell sort-created_at text-center">
          {{ formatDateTime(item.created_at) }}
        </td>
        <td class="d-none d-lg-table-cell sort-number">
          {{ item.place.name }}
        </td>
        <td class="d-none d-lg-table-cell">
          <status-label :status="item.status" :text="useAppealStatus()[item.status]" :class="appealStatusClass(item.status)" />
        </td>
        <td class="d-none d-lg-table-cell position-relative">
          <template v-if="item.status !== APPEAL_CANCELED && item.is_pay">
            <span class="sum-payd">
              {{ item.sum ? $helpers.number_format(item.sum) : '' }}
            </span>
            <div class="payd" v-if="isPayed(item.pay_status)">
              <div class="badge bg-green text-white">
                Оплачено: <b>{{ $helpers.number_format(item.paid_sum) }} ₽</b>
              </div>
            </div>
          </template>
        </td>
        <td class="d-none d-lg-table-cell">
          <div>
            <nuxt-link :to="link(item.number) + '/view'" class="btn btn-icon btn-ghost-primary icon-link me-1">
              <eye-icon class="icon"/>
            </nuxt-link>
            <a v-if="canPay(item)"
               data-bs-toggle="modal"
               data-bs-target="#modal-confirm"
               href="#"
               @click="setSelectedAppeal(item)"
               class="btn btn-icon btn-ghost-success icon-link"
            >
              <wallet-icon class="icon bg-icon"/>
            </a>
            <a v-if="canCancel(item)"
               data-bs-toggle="modal"
               data-bs-target="#modal-cancel"
               href="#"
               @click="setSelectedAppeal(item)"
               class="btn btn-icon btn-ghost-danger icon-link"
            >
              <clipboard-off-icon />
            </a>
          </div>
        </td>
      </tr>
      <tr v-if="!props.isLoading && props.isEmpty">
        <td :colspan="getColspan">
          <empty-list/>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Модалка Отмены -->
  <appeal-cancel-modal
    id="modal-cancel"
    @confirm="cancelAppeal"
  >
    <template v-slot:label>
      <label class="cancel text-muted mb-3">
        Вы действительно хотите отменить заявку?
      </label>
    </template>
    <text-area-field
      :style="'min-height: 6em;'"
      v-model="reason"
      :errors="errors"
      name="reason"
      placeholder="Напишите причину отмены в двух словах"
    />
  </appeal-cancel-modal>
  <confirm-modal
    id="modal-confirm"
    :title="'Оплата заявки'"
    :btn-submit="true"
    :hide-text="true"
  >
    <template v-slot:modal-body>
      <payment-appeal-form :key="key" :appeal="selectedAppeal" @update="emit('update', $event)">
        <button
          type="submit"
          class="btn ml-2"
          :class="'btn-primary'"
        >
          <span>Оплатить</span>
        </button>
      </payment-appeal-form>
    </template>
  </confirm-modal>
</template>
<script setup lang="ts">
import { EyeIcon, EditIcon, TrashIcon, ClipboardXIcon, ClipboardOffIcon, WalletIcon } from "vue-tabler-icons";
import { getSortClass } from '~/composables/useCollectionStore';
import { useAppealStatus, appealStatusClass, APPEAL_NEW, APPEAL_CANCELED } from '~/composables/useConst';
import { getAppealRequest } from '~/composables/appealHelper';
import { formatDateTime } from '~/composables/stringHelper';
import StatusLabel from "~/components/utility/StatusLabel.vue";
import AppealMobile from "~/components/appeals/AppealMobile.vue";
import TextAreaField from "~/components/fields/TextAreaField.vue";
import AppealCancelModal from "~/components/modals/CancelModal.vue";
import AppealModal from "~/components/appeals/AppealModal.vue";
import ConfirmModal from "~/components/modals/ConfirmModal.vue";
import PaymentAppealForm from "~/components/payment/PaymentAppealForm.vue";
import useApiErrors from '~/composables/useApiErrors';
import { useApi } from '~/composables/useApi';
import { useToastMessage } from '~/composables/useToastMessage';
import { Appeal, AppealRequest } from "~/api";
import { useLocal } from "~/composables/useLocal";
import { computed } from "@vue/reactivity";
import {Appeals, Profile} from "../../store";
import {onMounted} from "@vue/runtime-core";
import {getCurrentInstance, nextTick} from "vue";

const props = defineProps(["appeals", "isEmpty", 'isLoading', 'noShowAddress', 'noShowCompany', 'url']);
const emit = defineEmits(["sort", "update"]);

let modalType = ref('');

const user = Profile();

const local = useLocal();
const accountID = computed(() => Number(local.get()))
const api = useApi();
const toast = useToastMessage();
const helpers = getCurrentInstance()?.appContext.config.globalProperties.$helpers;

const appeals = computed((): typeof Appeals => props.appeals);

let selectedAppeal = ref({} as Appeal);
const errors = ref({});
let reason = ref('');
let key = ref(0);

const sortItems = (column: string): void => {
  emit("sort", column);
}
const getClass = (column: string): string => {
  return getSortClass(props.appeals, column);
}
const getDesc = (desc: string): string => {
  const endDots = desc.length > 49 ? '...' : ''
  return desc.slice(0, 50) + endDots;
}

const getColspan = computed((): number => {
  let columns = 9;
  if (props.noShowAddress) columns--;
  if (props.noShowCompany) columns--;
  return columns;
});

const link = (itemId: number): string => {
  return ('/app/appeals/') + itemId;
}

// отмечаем выбранную заявку
const setSelectedAppeal = (appeal: Appeal): void => {
  selectedAppeal = appeal;
  selectedAppeal.number = Number(appeal.number);
  key.value++;
}

const isPayed = (pay_status: string): boolean => {
  return pay_status.indexOf('PAID_') === 0;
}

const canPay = ((appeal: Appeal) => {
  return appeal.status !== APPEAL_CANCELED && appeal.is_pay && appeal.pay_status === 'WAIT_PAY';
});

const canCancel = ((appeal: Appeal) => {
  if (appeal.is_pay && isPayed(appeal.pay_status))
    return false;
  return appeal.status === APPEAL_NEW
});

const cancelAppeal = async (): Promise<void> => {
  if (!selectedAppeal.id) return;
  const request = getAppealRequest(accountID.value, selectedAppeal, reason.value) as AppealRequest;
  try {
    await api.updateAppeal(request, selectedAppeal.number);
    // очищаем
    emit('update');
    toast().success('Заявка #"' + selectedAppeal.number + '" отменена.');
    selectedAppeal = {} as Appeal;
    helpers?.hide_modal(document.getElementById('modal-cancel'));
  } catch (e) {
    const { apiErrors } = useApiErrors(e);
    errors.value = apiErrors;
  }
}

onMounted(async () => {
  user.getCards();
})
</script>
<style lang="scss" scoped>
.payd {
  position: absolute;
  left: -1em;
  font-size: 12px;
}

@media (min-width: 998px) {
  .table {
    .d-lg-table {
      display: table-header-group !important;
    }
  }
}

@media (max-width: 998px) {
  .card-table {
    tbody {
      tr {
        td {
          padding: 10px 10px 15px 15px;
        }
      }
    }
  }
}
</style>
