<template>
  <confirm-modal
      id="modal-confirm"
      :title="modal.title"
      :btn-submit="true"
      :hide-text="props.modalType !== 'cancel'"
      @confirm="emit('confirm', true)"
  >
    <template v-slot:modal-body>
      <slot/>
    </template>
  </confirm-modal>
</template>
<script setup lang="ts">
import ConfirmModal from "~/components/modals/ConfirmModal.vue";
import {computed} from "vue";

const props = defineProps(["modalType"]);
const emit = defineEmits(["confirm"]);
const modal = computed((): Record<string, string> => {

  let title='';
  switch (props.modalType)
  {
    case 'cancel':
      title = 'Отмена заявки';
      break;
    case 'pay':
      title = 'Оплата заявки';
      break;
    case 'estimate':
      title = 'Оценить работу';
      break;

  }

  return {title};
});
</script>
