<template>
  <div>
    <div class="progress progress-sm" v-if="isLoading">
      <div class="progress-bar progress-bar-indeterminate" />
    </div>
    <div class="table-responsive">
      <appeals-table
          :appeals="appeals"
          :is-empty="!items.length"
          :is-loading="isLoading"
          @sort="sortItems"
          @update="reload"
      />
    </div>
    <Pagination
      :total="pages.total"
      :per-page="pages.per_page"
      :page="pages.current_page"
      @update="getItems"
    />
  </div>
</template>

<script setup lang="ts">
import useApiErrors from '~/composables/useApiErrors';
import { onBeforeRouteUpdate } from 'vue-router';
import AppealsTable from '~/components/appeals/AppealsTable.vue';
import { Appeals } from "~/store/Appeals";

let isLoading = ref(false);
const appeals = Appeals();
const pages = computed(()=> Appeals().pagination)
const items = computed(() => appeals.items);
// получение первой страницы
onMounted(async (): Promise<void> => {
  await getItems();
});
onBeforeRouteUpdate(async (to): Promise<void> => {
  await reload();
});

const sortItems = (column: string): void => {
  changeSortRecords(appeals, column);
  getItems(pages.value.current_page, pages.value.per_page, column)
}

const reload = async (): Promise<void> => {
  appeals.loaded = false;
  await getItems();
}

// получение заявок
const getItems = async (page?: number, per_page?: number, sort?: string): Promise<void> => {
  try {
    isLoading.value = true;
    await appeals.getList(page, per_page, sort);
  } catch (e) {
    useApiErrors(e);
  } finally {
    isLoading.value = false;
  }
}
</script>
