<template>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <b>
          {{ props.title }}
        </b>
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter">
        <tbody>
          <tr v-for="(item, index) in props.items"
              :key="index"
              class=" cursor-pointer"
              @click="emit('choose', item)"
          >
            <td>
              <div class="w-100 d-flex">
                <div class="overflow-name text-reset mr-auto ">{{ item.name }}</div>
                <div class="text-muted">
                  <chevron-right-icon class="icon"/>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ChevronRightIcon } from "vue-tabler-icons";
const props = defineProps(["title", "items"]);
const emit = defineEmits(["choose"]);
</script>
<style lang="scss" scoped>
</style>
