<template>
  <div class="w-100">
    <div class="list-group list-group-flush list-group-hoverable">
      <div v-for="(item, index) in chat.items"
           :key="index"
           class="list-group-item pl-0"
      >
        <div class="row align-items-center">
          <div class="col">
            <div class="d-flex">
              <div class="author">
                <a href="#" class="text-reset d-block">
                  {{ item.sender.display_name }}
                </a>
              </div>
              <a href="#"
                  type="button"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  class="comments--time text-muted text-truncate mt-n1 ml-2"
                  :title="dateWithMinutes(item.created_at)"
              >
                {{ getDate(item) }}
              </a>
            </div>
            <div class="message col-12 col-xl-6 d-block text-muted mt-n1">
              {{ item.message }}
            </div>
            <div class="mt-2">
              <multiple-drop-file-field
                  v-if="item.files.length > 0"
                  :files="item.files"
                  format=".jpg, .png"
                  :readonly="true"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script setup lang="ts">
import { formatDateTime } from "~/composables/stringHelper";
import MultipleDropFileField from "~/components/fields/MultipleDropFileField.vue";
import {computed} from "@vue/reactivity";
import moment from 'moment';

const props = defineProps(["chat"]);
const chat = computed(() => props.chat);

const getDate = ((item: any) => {
  return moment(item.created_at).fromNow();
});

const dateWithMinutes = ((date: string) => {
  return formatDateTime(date, {
    month: '2-digit',
    day: '2-digit',
    year: 'numeric',
    hour: '2-digit',
    minute: '2-digit'
  })
});
</script>
<style lang="scss" scoped>
.message {
  max-height: 10rem;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.comments {
  padding-bottom: 0;

  &--time {
    line-height: 14px;
    font-size: 12px;
  }
  .list-group-item {
    padding-bottom: 0;
  }

  :deep(.lightbox-img) {
    min-width: 7em;
    min-height: 7em;
  }

  :deep(.dz-image) {
    width: 7em !important;
    height: 7em !important;
  }

  .author {
    line-height: 15px;

    span {
      font-size: 12px;
    }
  }
}
</style>
