<template>
  <div class="pa-10">
    <div class="text-center">
      <div>
        <h2>{{ title }}</h2>
      </div>
    </div>
  </div>
  <div class="appeal_line">
    <!-- Навигация по заявке -->
    <div v-if="step !== 7" class="card card-step">
      <div class="card-body">
        <ul class="steps steps-vertical">
          <li v-for="(appealStep, id) in appealSteps"
              :key="id"
              @click="setStep(id, appealStep)"
              class="step-item cursor-pointer"
              :class="{'active': step === id + 1}"
          >
            <div class="h4 m-0">{{ currentStepName(appealStep.type, appealStep.text) }}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card w-100">
      <div class="dropdown-menu dropdown-menu-demo dropdown-menu-arrow show">
        <div class="progress progress-sm" v-if="!isLoaded">
          <div class="progress-bar progress-bar-indeterminate"/>
        </div>
        <choose-form
            v-if="step === 1"
            title="Выберите объект заявки:"
            :items="appealObjects.items"
            @choose="choose($event, 'object')"
        />
        <choose-form
            v-if="step === 2"
            title="Выберите тип заявки:"
            :items="appealTypes.items"
            @choose="choose($event, 'type')"
        />
        <choose-form
            v-if="step === 3"
            title="Выберите категорию заявки:"
            :items="appealCategories.items"
            @choose="choose($event, 'category')"
        />
        <choose-form
            v-if="step === 4"
            title="Выберите тематику заявки:"
            :items="appealJobs.items"
            @choose="choose($event, 'job')"
        />
        <!-- Форма редактирования -->
        <edit-form v-if="step === 5" @formData="step++">
          <div class="card-footer d-flex">
            <button type="submit" class="btn btn-secondary">
              Перейти к проверке
            </button>
          </div>
        </edit-form>
        <!-- Форма проверки данных -->
        <ready-form
            v-if="step === 6"
            form-type="create"
            @ready="step++"
        >
          <div class="card-footer d-flex">
            <button v-if="showBack" @click="back" type="button" class="btn">
              Назад
            </button>
            <button type="submit" class="btn btn-success ml-auto">
              Создать заявку
            </button>
          </div>
        </ready-form>
      </div>
      <!-- Результат -->
      <div v-if="step === 7" class="appeal_created text-center pa-10">
        <div>
          Просмотреть все заявки можно в меню "Заявки"
        </div>
        <NuxtLink to="/app/appeals/" class="btn btn-secondary mt-4">
          К моим заявкам
        </NuxtLink>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ChevronLeftIcon } from "vue-tabler-icons";
import EditForm from  "~/components/appeals/EditForm.vue";
import ReadyForm from  "~/components/appeals/ReadyForm.vue";
import ChooseForm from  "~/components/appeals/ChooseForm.vue";
import { AppealObjects } from "~/store/AppealObjects";
import { AppealTypes } from "~/store/AppealTypes";
import { useRouter } from "vue-router";
import { AppealPlace } from "~/api";
import { AppealCategories } from "~/store/AppealCategories";
import { steps, getStepByName, chooseObject, stepsClear } from "~/composables/appealHelper";
import { AppealJobs } from "~/store/AppealJobs";
import { computed } from "@vue/reactivity";
import { appealSteps } from '~/composables/useConst';
import {Profile} from "~/store/Profile";
import {useToastMessage} from "~/composables/useToastMessage";
const router = useRouter();

const appealObjects = AppealObjects();
const appealTypes = AppealTypes();
const appealJobs = AppealJobs();
const appealCategories = AppealCategories();
const account = computed(() => {
  return Profile().currentAccount();
});

let isLoaded = ref(false);
const step = ref(1);
const appealNumber = computed(() => steps.form.number);
const title = computed(() => step.value > 6 ? 'Заявка №'+ appealNumber.value + ' создана' : 'Новая заявка' );
const showBack = computed(() => step.value > 1 && step.value < 7 );

const currentStepName = ((step: string, stepName: string) => {
  return getStepByName(step)?.name ?? stepName;
});

const choose = ((item: AppealPlace, value: keyof typeof steps) => {
  chooseObject(item, value);
  step.value++;
});

const back = (() => {
  if (step.value > 1) {
    step.value--;
  }
});

const setStep = ((stepId: number, appealStep: any) => {
  const stepPrev = getStepByName(appealStep.type);
  // если пункт уже заполнен, можно вернуться на него
  if (!!stepPrev?.abilities) {
    step.value = stepId + 1
  }
  return
});

// загрузка Категорий при изменении Типа Работ
watch(
    () => steps.type,
    async () => {
      isLoaded.value = false;
      if (steps.type && steps.type.id) {
        appealCategories.filter_default.type_id = steps.type.id;
        try {
          await appealCategories.getList();
        } catch (e) {
          useApiErrors(e);
        } finally {
          isLoaded.value = true
        }
      }
    },
    { deep: true }
);

// загрузка Тематики при изменении Категории
watch(
    () => steps.category,
    async () => {
      isLoaded.value = false;
      if (steps.category && steps.category.id) {
        appealJobs.filter_default.category_id = String(steps.category.id);
        try {
          await appealJobs.getList();
        } catch (e) {
          useApiErrors(e);
        } finally {
          isLoaded.value = true
        }
      }
    },
    { deep: true }
);
const toast = useToastMessage();

onBeforeMount(async (): Promise<void> => {
  if (!account.value) {
    toast().error("Лицевой счет не указан");
    await router.push("/app/appeals");
    return;
  }
  stepsClear();
  try {
    // справочники по умолчанию
    await appealObjects.getList();
    await appealTypes.getList();
  } catch (e) {
    useApiErrors(e);
  } finally {
    isLoaded.value = true
  }
});
</script>
<style lang="scss" scoped>
.card {
  z-index: 0;
}

.appeal_line {
  display: flex;
  width: 100%;

  .dropdown-menu {
    width: 100%;
    position: relative;
    box-shadow: none;
    border: none;
    padding: 0;

    &-arrow:before {
      display: none;
      border-color: rgb(230, 231, 233);
    }

    .card {
      border: none;
    }
  }
}

:deep(.ready-form) {
  border: none;
}

.card-step {
  min-width: 30%;
  margin-right: 1em;
}

@media (max-width: 998px) {
  .appeal_line {
    .dropdown-menu {
      box-shadow: 0 0.5rem 1rem rgba(var(--tblr-body-color-rgb),.15);

      &-arrow:before {
        display: initial;
        left: 21px
      }
    }
  }

  .card-step {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }
  .appeal_line {
    flex-wrap: wrap;
  }
}
</style>
