<template>
  <div class="card w-100">
    <div class="card-header">
      <h3 class="card-title">
        <span>Заполните форму:</span>
      </h3>
    </div>
    <form @submit.prevent="checkForm">
      <div class="card-body">
        <div class="col-sm-8 mt-1">
          <div class="col-sm-12">
            <label class="form-label required" for="phone">
              Телефон
            </label>
            <phone-field
                v-model="form.phone"
                :name="'phone'"
                :mask="'+{7} (000) 000-00-00'"
                :placeholder="'+7 (000) 000-00-00'"
                :errors="errors"
            />
          </div>
        </div>
        <div class="col-sm-6 date-control">
          <div class="col-12 col-lg-8">
            <div class="mt-2">
              <label class="form-label visit_time" for="visit_at">
                Желаемая дата посещения
              </label>
              <input-field
                  type="date"
                  name="visit_at"
                  v-model="form.visit_at"
                  :errors="errors"
                  @change="dateValidation(form.visit_at)"
              />
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="mt-2">
              <label class="form-label visit_time" for="visit_time_range">
                Промежуток времени
              </label>
              <time-range-picker
                  v-model="form.visit_time_range"
                  ref="visit_time_range"
                  name="visit_time_range"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="mt-2">
            <label class="form-label required" for="desc">
              Описание
            </label>
            <text-area-field
                :required="true"
                v-model="form.desc"
                :errors="errors"
                name="desc"
            />
          </div>
        </div>
        <div class="col-sm-8">
          <div class="mt-2">
            <label class="form-label" for="file">
              Фотографии
            </label>
            <multiple-drop-file-field
                :files="form.files"
                format=".jpg, .png, .pdf, .docx"
                @upload="saveFiles"
                @delete="deleteFiles"
            />
            <span role="alert" class="text-red" v-if="!!errors['file']">
                {{ errors['file'][0] }}
              </span>
          </div>
        </div>
      </div>
      <slot/>
    </form>
  </div>
</template>
<script setup lang="ts">
import { useToastMessage } from "~/composables/useToastMessage";
import { useRouter } from "vue-router";
import { useApi } from "~/composables/useApi";
import { formatDateToString} from '~/composables/stringHelper';
import PhoneField from '~/components/fields/PhoneField.vue';
import TextAreaField from '~/components/fields/TextAreaField.vue';
import InputField from "~/components/fields/InputField.vue";
import MultipleDropFileField from '~/components/fields/MultipleDropFileField.vue';
import { steps } from "~/composables/appealHelper";
import { Profile } from '~/store/Profile';
import { FileResource, Flat } from "~/api";
import TimeRangePicker from '~/components/fields/TimeRangePicker.vue';

const emit = defineEmits(["formData"]);

const route = useRoute();
const router = useRouter();

const user = Profile();
const phone = computed((): string | undefined => user.profile.phone);
let errors = reactive({});
const deletedFiles = ref(false);

const myFlat = computed((): Flat | undefined => user.currentAccount()?.flat);

const showHome = computed(() => {
  return steps.object.name === 'подъезд' || steps.object.name === 'помещение';
});
let attachFiles = ref<Blob[]>([]);
let destroyFiles = ref<number[]>([]);

const toast = useToastMessage();
const api = useApi();

let form = reactive({
  id: '',
  desc: '',
  phone: '',
  visit_at: '',
  visit_time_range: undefined,
  floor: undefined as number | undefined,
  entrance: undefined as number | undefined,
  files: [] as FileResource[]
});

const dateValidation = (date: Date) => {
  let yesterday = new Date()
  yesterday.setDate(yesterday.getDate()-1)
  if(new Date(date) < new Date(yesterday))
    form.visit_at = ''
}

// подгрузка данных
onMounted(() => {
  form = Object.assign(form, steps.form);
  form.phone = phone.value as string;
  form.visit_at = steps.form.visit_at ? formatDateToString(String(steps.form.visit_at)) : '';
  form.files = [];
  if (myFlat.value) {
    form.floor = Number(myFlat.value.floor);
    form.entrance = myFlat.value.entrance;
  }
  loadFiles();
});

const loadFiles = (): void => {
  if (steps.form.files && steps.form.files.length) {
    steps.form.files.map((file: FileResource | Blob) => {
      form.files.push(file);
    })
  }
}

const checkForm = async (): Promise<void> => {
  steps.form = form;
  emit('formData', form);
}

const saveFiles = (file: File): void => {
  form.files.push(file);
  attachFiles.value.push(file as Blob);
  deletedFiles.value = false;
}

const deleteFiles = (acceptFile: FileResource): void => {
  if (acceptFile.id)
  {
    form.files = form.files?.filter(f => f.id !== acceptFile.id);
    destroyFiles.value.push(acceptFile.id);
    return;
  }
  attachFiles.value = attachFiles.value?.filter(f => f.path !== acceptFile.path);
  form.files = form.files?.filter(f => f.path !== acceptFile.path);
}
</script>
<style lang="scss" scoped>
.date-control {
  display: flex;

  .col-6 {
    &:last-child {
      padding-left: 10px;
    }
  }
}
@media (max-width: 998px) {
  .date-control {
    display: block;

    .col-6 {
      &:last-child {
        padding-left: 0;
      }
      width: auto;
    }
  }
}

</style>
