<template>
  <div :key="formKey" class="w-100">
    <div v-if="!isCreateForm" class="pa-10 text-center">
      <div>
        <h2>Заявка №{{ steps.form.number }}</h2>
      </div>
      <div>
        Статус:
        <status-label :status="getStatus" :text="getStatus" :class="appealStatusClass(steps.form.status)"/>
      </div>
      <div v-if="steps.form.is_pay && steps.form.status !== 2" class="mt-3">
        Стоимость: <b>{{ $helpers.number_format(steps.form.sum) }} р.</b>
        <div v-if="steps.form.pay_status === 'PAID_BY_PERSON' || steps.form.pay_status === 'PAID_MANUALLY'" >
          <span class="badge bg-green text-white">Оплачено: <b>{{ $helpers.number_format(steps.form.paid_sum) }} р.</b></span>
        </div>
      </div>
    </div>
    <div class="card ready-form">
      <slot name="form-loaded" />
      <form @submit.prevent="save">
        <div class="card-body">
          <div class="text-center">
            <nuxt-link :to="'/app/appeals/'" class="ml-auto">
              <message-forward-icon class="icon" />
              <span>Назад к списку заявок</span>
            </nuxt-link>
          </div>
          <table class="table card-table table-vcenter">
            <tbody>
              <tr v-for="(item, index) in form" :key="index">
                <td v-if="showFormItem(index)" class="pl-0 pr-0">
                  <div class="w-100 d-flex">
                    <div class="text-reset mr-auto">{{ item.name }}</div>
                    <div class="overflow-name text-end">{{ item.value }}</div>
                  </div>
                  <span role="alert" class="text-red">
                    {{ error(index) }}
                  </span>
                </td>
                <!-- оценка работ в звездах -->
                <td v-if="showRating(index)" class="pl-0 pr-0">
                  <div class="w-100 d-flex">
                    <div class="text-reset mr-auto">Ваша оценка</div>
                    <div v-if="Number(steps.form.rating) > 0">
                      <set-status-star :max-value="5" :value="Number(item.value)" />
                    </div>
                  </div>
                </td>
              </tr>
              <!-- список прикрепленных файлов -->
              <tr v-if="steps.form?.files?.length > 0">
                <td class="pl-0 pr-0">
                  <div class="w-100 d-flex">
                    <div class="text-reset mr-auto">Фотографии</div>
                  </div>
                  <div class="mt-2">
                    <multiple-drop-file-field
                        :files="steps.form.files"
                        format=".jpg, .png"
                        :readonly="true"
                    />
                  </div>
                </td>
              </tr>
              <!-- Комментарии -->
              <tr v-if="!isCreateForm && isLoaded">
                <td class="col-12 pl-0 pr-0 comments">
                  <div class="d-flex">
                    <b class="text-reset mr-auto">Комментарии:</b>
                  </div>
                  <div v-if="chatMessages.length > 0" class="w-100">
                    <div class="list-group list-group-flush list-group-hoverable">
                      <comment-list :chat="chatAppeal" />
                      <Pagination
                          :total="chatAppeal.paginator.total"
                          :per-page="chatAppeal.paginator.per_page"
                          :page="chatAppeal.paginator.current_page"
                          @update="getPage"
                      />
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <slot v-if="isCreateForm" />
        <slot name="form-buttons" />
      </form>
    </div>
    <appeal-comment :appeal="steps.form" @update="getChat"/>
  </div>
</template>
<script setup lang="ts">
import {MessageForwardIcon} from "vue-tabler-icons";
import AppealComment from "~/components/modals/AppealComment.vue";
import MultipleDropFileField from "~/components/fields/MultipleDropFileField.vue";
import CommentList from "~/components/appeals/CommentList.vue";
import SetStatusStar from "~/components/utility/SetStatusStar.vue";
import StatusLabel from "~/components/utility/StatusLabel.vue";
import useApiErrors from "~/composables/useApiErrors";
import {useToastMessage} from "~/composables/useToastMessage";
import {onBeforeRouteUpdate, useRouter} from "vue-router";
import {useApi} from "~/composables/useApi";
import {Appeals} from '~/store/Appeals';
import {AppealForm, steps} from "~/composables/appealHelper";
import {Profile} from '~/store/Profile';
import {Chat} from '~/store/Chat';
import {computed} from "@vue/reactivity";
import {useLocal} from "~/composables/useLocal";
import {appealStatusClass, isAppealComplete, useAppealStatus, APPEAL_CLOSED } from "~/composables/useConst";
import {AppealRequestCreate} from "~/api";
import {formatDate, formatDateTime, formatPhone, isDateInPast, parseError} from "~/composables/stringHelper";
import {onMounted} from "@vue/runtime-core";
import {getCollectionPage} from "~/composables/useCollectionStore";

const props = defineProps(["formType", "appeal"]);
const emit = defineEmits(["ready"]);
const local = useLocal();


let isLoaded = ref(false);
let formKey = ref(0);
let errors = reactive({} as Record<string, string>);

const error = ((name: keyof typeof errors): string => {
  return parseError(name, errors)
});
const statuses = useAppealStatus();
const getStatus = computed(() => statuses[steps.form.status as number] || "")

const isCreateForm = computed(() => props.formType === 'create')
let isLoading = ref(false);
const route = useRoute();
const router = useRouter();

const user = Profile();
const appeals = Appeals();

const toast = useToastMessage();
const api = useApi();

let form = reactive<Record<string, Record<string, string | undefined>>>({
  phone: {
    name: 'Телефон',
    value: ''
  },
  appeal_place_id: {
    name: 'Объект',
    value: ''
  },
  type: {
    name: 'Тип',
    value: ''
  },
  category: {
    name: 'Категория',
    value: ''
  },
  appeal_job_id: {
    name: 'Тематика',
    value: ''
  },
  visit_at: {
    name: 'Желаемая дата',
    value: undefined
  },
  visit_time_from: {
    name: 'Желаемое время с',
    value: undefined
  },
  visit_time_to: {
    name: 'Желаемое время до',
    value: ''
  },
  closed_at: {
    name: 'Дата выполнения заявки',
    value: ''
  },
  desc: {
    name: 'Описание проблемы',
    value: ''
  },
  result_comment: {
    name: 'Комментарий сотрудника',
    value: ''
  },
  rating: {
    name: 'Ваша оценка',
    value: ''
  },
  rating_comment: {
    name: 'Комментарий к оценке',
    value: ''
  }
});

const showRating = ((formKey: string) => {
  if (formKey === 'rating') {
    return isAppealComplete(Number(steps.form.status));
  }
  return false;
})

const showFormItem = ((formKey: string) => {
  if (formKey === 'rating') {
    return false;
  }
  if (formKey === 'rating_comment') {
    return isAppealComplete(Number(steps.form.status));
  }
  if (formKey === 'closed_at' || formKey === 'result_comment') {
    if (isCreateForm.value) {
      return false;
    }
    return isAppealComplete(Number(steps.form.status));
  }
  return true;
});

const accountID = computed(() => Number(local.get()))
// данные для сохранения заявки
const sendForm = computed(() => {
  return {
    personal_account_id: accountID.value,
    phone: steps.form.phone,
    email: undefined,
    desc: steps.form.desc,
    visit_at: steps.form.visit_at,
    visit_time_range: steps.form.visit_time_range,
    floor: steps.form.floor,
    entrance: steps.form.entrance,
    appeal_job_id: steps.job.id,
    appeal_place_id: steps.object.id,
    files: []
  }
});

// инициализация данными из апи
const initAppealInfo = async (): Promise<void> => {
  errors = {};
  // желаемая дата выполнения
  steps.form.visit_at = formatDate(steps.form.visit_at);
  // дата фактического выполнения
  if (steps.form.closed_at) {
    steps.form.closed_at = formatDateTime(steps.form.closed_at)
  }
  // телефон
  if (steps.form.phone) {
    steps.form.phone = formatPhone(steps.form.phone)
  }
  // общие данные
  const formKeys = Object.keys(steps.form);
  formKeys.map((key: keyof AppealForm | string) => {
    if (form[key] && steps.form[key as keyof AppealForm])
      form[key].value = steps.form[key as keyof AppealForm];
  });
  const time_range = steps.form.visit_time_range;
  if (time_range) {
    const range = time_range.split('-');
    form.visit_time_from.value = range[0];
    form.visit_time_to.value = range[1];
  }
  form.appeal_place_id.value = steps.object.name;
  form.type.value = steps.type.name;
  form.category.value = steps.category.name;
  form.appeal_job_id.value = steps.job.name;
  if (steps.form.id)
    await getChat();
}

// подгрузка данных
onMounted(async () => {
  await initAppealInfo();
})
/*-- CHAT -- */
const chat = Chat();
chat.init();

const chatAppeal = computed(() => {
  return props.appeal?.chat;
});
const chatMessages = computed(() => {
  const chat = props.appeal?.chat;
  return chat && chat.items ? chat.items : [];
})

onBeforeRouteUpdate(async (to): Promise<void> => {
  chat.init(to.query);
  await getChat();
});

const page = ref(chat.paginator.current_page);
const perPages = ref(chat.paginator.per_page);
const getPage = (numberPage: number | undefined, perPage?: number, column?: string): void => {
  page.value = numberPage as number;
  if (perPage)
    perPages.value = perPage;
  getCollectionPage(chat, numberPage as number, perPage, column);
}

const getChat = async (): Promise<void> => {
  if (!props.appeal)
    return
  try {
    await chat.getList(props.appeal, page.value, perPages.value);
    isLoaded.value = true;
  } catch (e) {
    useApiErrors(e, false, false);
    isLoaded.value = false;
  }
};
/*-- //CHAT -- */
const checkErrors = (() => {
  if (isDateInPast(String(steps.form.visit_at), form.visit_time_to.value)) {
    errors['visit_at'] = 'Желаемая дата должна быть не раньше текущей даты'
  }
  formKey.value++;
  return;
})

const save = async (): Promise<void> => {
  if (isLoading.value)
    return;

  errors = {};
  appeals.loaded = false;
  isLoading.value = true;
  checkErrors();

  try {
    if (steps.form.files.length && !sendForm.value.files?.length) {
      const info = await api.uploadAppealFileForm(steps.form.files);
      sendForm.value.files = info.data?.files ?? [];
    }
    let { data } = await api.createAppeal(sendForm.value as AppealRequestCreate);
    steps.form.id = String(data.appeal.id);
    steps.form.number = String(data.appeal.number);
    sendForm.value.files = [];
    toast().success("Заявка создана");
    emit('ready', true);
  } catch (e) {
    const { apiErrors } = useApiErrors(e, true);
    errors = apiErrors;
    formKey.value++;
    // TODO: error date fix
    if (errors['visit_at'] && errors['visit_at'][0] === 'Дата должна быть после или равной today.') {
      checkErrors();
    }
  } finally {
    setTimeout(()=>isLoading.value = false, 500)
  }
}
</script>
<style lang="scss" scoped>
tr{
  &:last-child {
    td {
      border-bottom: 0;
    }
  }
}
</style>
