<template>
  <div class="d-flex flex-column flex-lg-row align-items-start accounts flex-wrap flex-lg-nowrap pb-lg-45px">

    <page-header title="Оплаты" class="position-absolute mt-3 page-header-text"/>

    <div class="d-flex flex-lg-column flex-row mt-7 lt-menu">
      <NuxtLink class="btn p-4 d-flex justify-content-start lt-menu-btn router-link-active">Мои услуги</NuxtLink>
      <NuxtLink
          to="/app/payments/history"
          class="btn p-4 d-flex justify-content-lg-start lt-menu-btn"
      >
        История платежей
      </NuxtLink>
    </div>

    <div class="mx-auto flex-row flex-grow-1 mt-lg-7 mt-md-0 pl-5 pr-5 w-lg-100 pb-lg-100 main-tag">
      <div v-if="accountsLoaded" class="payment-accounts">
        <div class="form-wrap card no-border">
          <div class="progress progress-sm" v-if="page_loading">
            <div class="progress-bar progress-bar-indeterminate"/>
          </div>
          <div v-for="(item, index) of list" class="card">
            <div v-if="item.services">

              <div v-if="isOpen(item)">
                <div class="card-header d-flex flex-column" :class="{ 'changed': !item.items }">
                  <a href="#" class="d-flex flex-row flex-wrap w-100 text-reset" @click="toggleGroup($event, index)">
                    <!-- Заголовок-->
                    <div class="w-100 d-flex justify-content-between" style="align-items: center;">
                      <div class="placeholder-glow form-check-label">
                        <h3 class=" mb-0">
                          <div v-if="page_loading" class="placeholder "/>
                          {{ item.address }}
                        </h3>
                      </div>
                      <!-- Сумма оплаты -->
                      <div>
                        <chevron-down-icon v-if="item.paymentHidden"/>
                        <chevron-up-icon v-if="!item.paymentHidden"/>
                      </div>
                    </div>
                    <div class="w-100 d-flex justify-content-between align-items-center mt-3">
                      <div class="d-flex">
                        <div class="form-check d-flex align-items-end ">
                          <input
                              v-if="item.items"
                              class="form-check-input ors-checkbox "
                              type="checkbox"
                              v-model="item.f_checked"
                              @change="group_check(item)"
                          >
                        </div>
                        <div>
                          <span class=" flex-grow-1 ">К оплате</span>
                        </div>
                      </div>
                      <div>
                        <div class="col-auto fs-2 ms-auto me-1 pe-0 card-price"
                             :class="{'text-disabled': !item.f_checked}">{{ countAccountPrice(item) }} ₽
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="card-body" v-show="!(item.paymentHidden)">
                  <!-- LOADER SPINNER -->
                  <div class="text-center" v-if="item.loading">
                    <div class="spinner-border" role="status">
                      <span class="sr-only"/>
                    </div>
                  </div>

                  <div v-if="item.errors || false" class="text-muted text-center">
                    {{ item.errors }}
                  </div>
                  <div v-else-if="!item.items && !item.loading"
                       class="text-muted text-center">
                    Начисления по лицевому счету не найдены
                  </div>

                  <div v-for="( service, serviceName ) of item.services"
                       class="payment-accounts--check"
                  >
                    <payment-service
                        :service="service"
                        :service-name="serviceName"
                        :checked="service.checked"
                        :item="item"
                        :errors="errors"
                        :index="index"
                        :key="index"
                        @check="item_check"
                        @validate="validate_item($event)"
                    />
                  </div>
                </div>
              </div>

              <div v-else>
                <div class="card-header d-flex flex-column border-0" :class="{ 'changed': !item.items }">
                  <!-- Заголовок-->
                  <div class="w-100 d-flex justify-content-between" style="align-items: center;">
                    <div class="placeholder-glow form-check-label">
                      <h3 class=" mb-0">
                        <div v-if="page_loading" class="placeholder"/>
                        {{ item.address }}
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="card-body pt-0">
                  <!-- LOADER SPINNER -->
                  <div class="text-center" v-if="item.loading||false">
                    <div class="spinner-border" role="status">
                      <span class="sr-only"/>
                    </div>
                  </div>

                  <div v-if="item.errors || false" class="text-muted text-center">
                    {{ item.errors }}
                  </div>
                  <div v-else-if="!item.items && !item.loading"
                       class="text-muted text-center">
                    Начисления по лицевому счету не найдены
                  </div>

                  <div v-for="( service, serviceName ) of item.services"
                       class="payment-accounts--check"
                  >
                    <payment-service
                        :service="service"
                        :service-name="serviceName"
                        :checked="item.f_checked"
                        :item="item"
                        :index="index"
                        :key="index"
                        :errors="errors"
                        @check="item_check"
                        @validate="validate_item($event)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
        class="d-flex flex-column card mt-md-7 mt-sm-3 rt-menu pos-fix-lg bottom-lg-45px left-lg-0 w-lg-100 rounded-0"
        :class="{'p-md-4':getViewPort >= 1024, 'border-x-0': getViewPort<1024}"
    >
      <div class="d-flex flex-column" v-if="getViewPort >= 1024">
        Итого к оплате
        <span class="card-price">
          {{ $helpers.number_format(price) }}  ₽
        </span>
      </div>

      <div v-if="list.length > 0 && !page_loading" :class="{'mb-3': getViewPort < 1024}" class="btn-pay mt-2 d-flex justify-content-md-center ">
        <div :class="{'container-xl':getViewPort < 1024}">
        <form action="" @submit.prevent="paymentValidation">
          <div v-if="getViewPort >= 1024">

            <div class="position-relative">
              <select v-model="person_card_id" class="form-control mb-3 ps-5" @click="selectIsOpen = !selectIsOpen" >
                <option :value="item.id" v-for="item in person_cards">
                      <span>
                        {{item.payment_system}} {{maskedCardFormat(item.label)}}
                      </span>
                </option>
                <option :value="0">Новая карта</option>
              </select>
              <credit-card-icon size="16" class="position-absolute" style="left: 10px; top:30%"/>
              <chevron-down-icon size="16" class="position-absolute" style="right:12px;top:30%;"/>
            </div>

            <button
                type="submit"
                class="btn btn-primary btn-lg"
                :disabled="!f_valid||btn_loading"
            >
              <span v-if="!btn_loading">Оплатить</span>
              <div class="text-center" v-if="btn_loading">
                <div class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div>
              </div>
            </button>
          </div>

          <div v-else>

            <div class="position-relative">
              <select v-model="person_card_id" class="form-control mb-3 ps-5">
                <option :value="item.id" v-for="item in person_cards">{{item.payment_system}} {{maskedCardFormat(item.label)}}</option>
                <option :value="0">Новая карта</option>
              </select>
              <credit-card-icon size="16" class="position-absolute" style="left: 10px; top:30%"/>
              <chevron-down-icon size="16" class="position-absolute" style="right:12px;top:30%;"/>

            </div>

            <button
                type="submit"
                class="btn btn-primary btn-lg w-lg-100"
                :disabled="!f_valid||btn_loading"
            >
              <span v-if="!btn_loading">Оплатить: {{ $helpers.number_format(price) }} ₽</span>
              <div class="text-center" v-if="btn_loading">
                <div class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div>
              </div>
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import InputField from "~/components/fields/InputField.vue";
import {useApi} from "~/composables/useApi";
import useApiErrors from "~/composables/useApiErrors";
import ChevronDownIcon from "vue-tabler-icons/icons/ChevronDownIcon";
import ChevronUpIcon from "vue-tabler-icons/icons/ChevronUpIcon";
import PaymentService from "~/components/payment/PaymentService.vue";
import {Profile} from "~/store/Profile";
import PayDocumentExtension, {Payment, PersonAccountsResourceItems} from "~/store/Payment";
import {nextTick, Ref} from 'vue'
import CreditCardIcon from "vue-tabler-icons/icons/CreditCardIcon";
import {maskedCardFormat} from "~/composables/stringHelper";

const payment = Payment();
const profile = Profile();
const api = useApi();

const {$helpers} = useNuxtApp();

let list = ref<PayDocumentExtension[]>([]) as Ref<PayDocumentExtension[]>;
const f_save_to_profile = ref<boolean>(false);
const getViewPort = ref<number>(innerWidth);
const f_send_email = ref<boolean>(false);
const page_loading = ref<boolean>(false)
const selectIsOpen = ref<boolean>(false);
const btn_loading = ref<boolean>(false);
const origin_email = ref<string>('');
const email_errors = ref<string>('');
const errors = ref<unknown>({});
const value = ref<string>('')
const email = ref<string>('');
const person_card_id = ref<number>();
const person_cards = ref();

const isMain = computed(() => {
  return useRoute().query.main;
});

const currentAccount = computed(() => {
  return profile.currentAccount();
});

const accountsLoaded = computed(() => {
  return profile.isLoaded;
});

const accounts = computed(() => {
  return profile.profile.accounts;
});

onBeforeMount(async ()=>{
  let data = await api.getCards();
  person_cards.value = data.data.items;
  if (data.data.items.length)
    person_card_id.value = data.data.items.find(v => v.is_last)?.id??0
  else
    person_card_id.value = 0;

})

const isOpen = (item: { services: {}; }) => {
  return Object.keys(item.services).length >= 2;
}

function isNumber(value: any): value is number {
  return typeof value === "number";
}
function isString(value: any): value is string {
  return typeof value === "string";
}

const price = computed(() => {
  let total = 0;
  list.value.map(group => {
    if (!group.services)
      return;
    Object.keys(group.services).forEach(key => {
      const service = group.services[key];

      service.items.forEach((item: PersonAccountsResourceItems) => {
        if(item.priceState){
          if(isString(item.priceState))
            item.priceState = parseFloat(item.priceState)

          let priceVal = item.priceState + item.calculatedFee
          total += (group.f_checked && item.enabled) ? parseFloat(priceVal.toString()|| "0") : 0

        }
      });
    });
  })
  return total;
})

const f_valid = computed(() => {
  let res = list.value.length > 0;
  let gen_index = 0;
  list.value.map(group => {
    if (!group.services)
      return;
    Object.keys(group.services).forEach(key => {
      const service = group.services[key];
      service.items.map((item: any) => {
        res = res && (!item.errors || !item.enabled) && !(item.loading || false)
        item.gen_index = gen_index;
        gen_index++;
      });
    });
  })
  return res && price.value > 0;
});

const all_items = computed(() => {
  let ret: PersonAccountsResourceItems[] = [];
  list.value.map(group => {
    if (!group.services)
      return;
    Object.keys(group.services).forEach(key => {
      const service = group.services[key];

      service.items.forEach((item:any) => {
        if (group.f_checked) {
          item.account = group.account;
          ret.push(item);
        }
      });
    });
  });

  return ret;
})

onMounted(async () => {
  await loadList();
  await nextTick(function () {
    if (profile.profile.email) {
      f_send_email.value = true;
      email.value = profile.profile.email;
      origin_email.value = profile.profile.email;
    }
  })
})

//Функция подсчитывает стоимость исходя из стоимости каждого сервиса
const validate_item = (_item: { pricedItem: any, service: PayDocumentExtension }) => {
  if (_item.pricedItem) {
    const index = list.value.findIndex(item => item.account === _item.service.account)
    let accPrice = 0;

    const itemIndex = list.value[index].items.findIndex(item => item.service_id === _item.pricedItem.service_id)

    if (itemIndex != undefined && list.value[index].items) {
      let account = list.value[index];

      account.items[itemIndex] = _item.pricedItem;
      account = _item.service;
      account.items[itemIndex].enabled = account.items[itemIndex].price !== 0;

      Object.keys(account.services).forEach(key => {
        let servicePrice = 0;

        const service = account.services[key];

        service.items.forEach((v: PersonAccountsResourceItems) => {
          if (v.max_price > 0) {
            servicePrice += +v.price;
          }
        });

        service.price = servicePrice;
        servicePrice = 0
        accPrice += service.price
        account.accountPrice = accPrice
        feeCalculation(account)
      });

      return
    }
  }
};

const initGroupCheck = (group: PayDocumentExtension) => {
  group.f_checked = payment.servicesCheck(group);

  for (const key in group.services) {
    if (group.f_checked) {
      group.services[key].checked = true

      continue
    }

    group.services[key].checked = false
  }
};

const toggleGroup = (event: KeyboardEvent, index: number) => {
  if (list.value[index].f_checked && (event.target as HTMLInputElement).localName === 'input') return

  list.value[index].paymentHidden = !list.value[index].paymentHidden
}

const group_check = (group: PayDocumentExtension) => {
  const index = list.value.findIndex(item => item.id === group.id)
  list.value[index].f_checked = !!list.value[index].f_checked

  if (!list.value[index].f_checked) {
    for (const key in list.value[index].services) {
      list.value[index].services[key].checked = false
    }
    list.value[index].paymentHidden = true
  } else {
    for (const key in list.value[index].services) {
      list.value[index].services[key].checked = true
    }
    list.value[index].paymentHidden = false
  }

  Object.keys(group.services).forEach(key => {
    const service = group.services[key];
    service.items.forEach((v: { max_price: number; enabled?: boolean; }) => {
      if (v.max_price > 0) {
        v.enabled = group.f_checked
      }
    });
  });
};

const redrawServicePrice = (index: number, isReset?: boolean) => {
  let total = 0;
  let feeTotal = 0;

  Object.keys(list.value[index].services).forEach(key => {
    let accPrice = 0;
    const service = list.value[index].services[key];
    service.items.forEach((v: PersonAccountsResourceItems) => {
      v.price = +v.price
      if(isReset){
        let priceState;
        priceState = v.priceState;
        if (v.max_price > 0) {
          if(isNumber(priceState))
            v.price = priceState;
          accPrice+= v.price;
          if(v.enabled)
            feeTotal+= v.calculatedFee;
        }
      }else{
        if (v.max_price > 0) {
          v.enabled = list.value[index].services[key].checked
          v.priceState = v.price
          accPrice+= v.priceState
          if(v.enabled)
            feeTotal+= v.calculatedFee;
        }
      }
      service.price = accPrice;
    });
    total += service.price;
  });
  list.value[index].accountPrice = total + feeTotal;

}

const item_check = (isChecked: boolean, cardId: number, serviceName: string, isReset?: boolean) => {
  const index = list.value.findIndex((item) => item.id === cardId)

  list.value[index].f_checked = true
  list.value[index].services[serviceName].checked = isChecked

  if (isAllServicesNotChecked(index)) {
    list.value[index].f_checked = false
  }

  if (isReset) {
    redrawServicePrice(index, isReset)
    feeCalculation(list.value[index])
    return
  }
  redrawServicePrice(index)
}

const isAllServicesNotChecked = (index: number): boolean => {
  const checkingList = []

  for (const key in list.value[index].services) {
    checkingList.push(list.value[index].services[key].checked)
  }

  return !checkingList.includes(true)
}
const paymentValidation = () => {
  if(!f_send_email.value)
    email.value = ""
  pay()
}

const pay = (async () => {
  btn_loading.value = true
  try {
    const items = all_items.value.filter(item => item.price > 0 && item.enabled).map((item: PersonAccountsResourceItems) => {
      let price = item.price + item.calculatedFee
      return {
        service_id: item.service_id,
        price: parseFloat(price.toFixed(2)),
        account: item.account
      }
    });
    await api.paymentCreate({
      items,
      f_send_email: f_send_email.value,
      f_save_to_profile: f_save_to_profile.value,
      email: email.value,
      person_card_id: person_card_id.value,
    }).then(res => {
      if (res.data.ok) {
        location.href = res.data.redirect_url;
      }
    })
  } catch (e) {
    const {apiErrors} = useApiErrors(e,true);
    errors.value = apiErrors;
  } finally {
    btn_loading.value = false
  }
})

function feeCalculation(account: PayDocumentExtension) {
  Object.keys(account.services).forEach(key => {
    let totalFee: number = 0;
    account.services[key].items.forEach((item: any) => {
      item.calculatedFee = Number((Math.round(((item.price / 100) * item.fee) * 100) / 100).toFixed(2))
      if (item.price > 0)
        totalFee += item.calculatedFee;
    })
    account.services[key].totalFee = parseFloat(totalFee.toFixed(2))
  });
}

async function loadList() {
  if (payment.items)
    if (payment.items.length < 1)
      page_loading.value = true;

  accounts.value.map((personal: { account: string; address: string; id: number; }) => {
    list.value.push({
      account: personal.account,
      address: personal.address,
      id: personal.id,
      items: []
    } as unknown as PayDocumentExtension)
  })
  try {
    await payment.getPaymentAccounts();

    // делаем копию массива
    list.value = JSON.parse(JSON.stringify(payment.items))

    list.value.forEach((account: PayDocumentExtension,index:number) => {
      if (isMain.value) {
        account.paymentHidden = currentAccount.value?.account !== account.account;
      }
      if (account.items && account.items.length > 0) {
        initGroupCheck(account);
      }
      feeCalculation(account)
      redrawServicePrice(index)
    })
  } catch (e: any) {
    console.log(e)
    page_loading.value = false
    if (e.response.data.errors && e.response.data.errors.account) {
      errors.value = e.response.data.errors.account[0]
    } else if (e.response.data.message) {
      errors.value = e.response.data.message;
    } else {
      errors.value = '';
    }
  } finally {
    page_loading.value = false;
  }
}

const getPrice = (price: number) => {
  if (Number(price) === 0)
    return '0,00';
  return $helpers.number_format(price);
}

const countAccountPrice = (account: PayDocumentExtension) => {
  let price = account.accountPrice;
  let totalSum = 0;

  Object.keys(account.services).forEach(key => {
    totalSum += account.services[key].total
  });

  const index = list.value.findIndex(item => item.id === account.id)
  if (isAllServicesNotChecked(index)) return getPrice(totalSum)

  Object.keys(account.services).forEach(key => {
    if (!account.services[key].checked )
        price -= account.services[key].price
  });

  return getPrice(price);
};

definePageMeta({
  middleware: 'auth'
});
</script>

<style lang="scss" scoped>
.mail-input {
  max-width: 17em;
}

:deep(.text-disabled) {
  color: #929DAB !important;
}

.router-link-active {
  transition: 0.3s ease;
  position: relative;
  background-color: rgba(0, 84, 166, 0.04) !important;
  color: rgba(24, 36, 51, 1) !important;
}

@media(max-width: 1024px) {
  :deep(.main-tag) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .main-tag:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border: #DADFE5 0 solid;
    border-bottom-width: 2px;
  }
  .router-link-active:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.08rem;
    border: #0054a6 0 solid;
    border-bottom-width: 2px;
  }
  :deep(.router-link-active) {
    color: #0054A6 !important;
  }
  :deep(.lt-menu-btn) {
    padding: 0.5rem !important;
  }
  .lt-menu {
    width: 100%;
    border-bottom: #667382 1px solid;
  }
}

.placeholder-glow {
  .placeholder {
    min-width: 100px;
    padding-top: 16px;
    margin-top: -3px;
  }
}

@media(max-width: 990px) {
  :deep(.page-header-text) {
    padding-left: 10px !important;
  }
}

.rt-menu {
  background-color: #0054A60A;

  .btn-lg {
    font-size: 1rem;
  }

  .form-control {
    min-width: 240px;
  }

  .card-price {
    font-size: 1.8em;
  }

  .btn-lg {
    width: 100%;
    height: 40px;
  }
}

@media(max-width: 1024px) {
  .rt-menu {
    background: #E9F0F9;
  }
}

@media(max-width: 425px) {
  .rt-menu {
    .btn-lg {
      width: 100%;
    }
  }

}

.lt-menu {
  .lt-menu-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #667382;
  }

  .lt-menu-btn:hover {
    background-color: #0054A60A;
    color: #182433;
  }
}

.card-price {
  font-size: 1.25rem;
  font-weight: 590;
  line-height: 140%;
}

.payment-accounts {
  .card {
    position: relative;
    overflow: visible;
    margin-bottom: 1rem;
  }

  &--check {
    padding: 0 10px 10px 0;
  }
}

@media(max-width: 998px) {
  .payment-accounts {
    .card-header, .card-body {
      padding: 1em;
    }

    &--check {
      padding-left: 0;
    }
  }
}


@media (max-width: 998px) {
  h3 {
    font-size: 1em;
  }

  .col-1 {
    width: 100%;
  }

  .btn-pay {
    bottom: 48px;
  }

  .card-header {
    padding-left: 2em;
    padding-right: 10px;

    &.changed {
      padding-left: 20px;
    }
  }
  .btn-pay {
    text-align: center;
  }
}
</style>
