<template>
  <div>
    <div class="d-flex flex-column justify-content-center align-items-center p-5">
      <svg xmlns="http://www.w3.org/2000/svg" width="111" height="110" viewBox="0 0 111 110" fill="none">
        <path d="M44.1667 43.6667L66.8333 66.3333M66.8333 43.6667L44.1667 66.3333M4.5 55C4.5 61.6974 5.81915 68.3292 8.38214 74.5169C10.9451 80.7045 14.7018 86.3267 19.4376 91.0624C24.1733 95.7982 29.7955 99.5549 35.9831 102.118C42.1707 104.681 48.8026 106 55.5 106C62.1974 106 68.8292 104.681 75.0169 102.118C81.2045 99.5549 86.8267 95.7982 91.5624 91.0624C96.2982 86.3267 100.055 80.7045 102.618 74.5169C105.181 68.3292 106.5 61.6974 106.5 55C106.5 48.3026 105.181 41.6707 102.618 35.4831C100.055 29.2955 96.2982 23.6733 91.5624 18.9376C86.8267 14.2018 81.2045 10.4451 75.0169 7.88214C68.8292 5.31915 62.1974 4 55.5 4C48.8026 4 42.1707 5.31915 35.9831 7.88214C29.7955 10.4451 24.1733 14.2018 19.4376 18.9376C14.7018 23.6733 10.9451 29.2955 8.38214 35.4831C5.81915 41.6707 4.5 48.3026 4.5 55Z" stroke="#D63939" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div class="">
        <div class="text-center d-flex flex-column">
          <span class="title mt-3">Платёж был отклонён,</span>
          <span class="title mb-3">денежные средства не списаны</span>
          <span class="description">Попробуйте еще раз провести оплату.</span>
        </div>
      </div>
      <div class="mt-5" style="display: flex; flex-direction: row; justify-content: end">
        <NuxtLink to="/app/payments/accounts" class="btn btn-success">Повторить попытку</NuxtLink>
      </div>
    </div>
  </div>
</template>
<script setup>
import circleXIcon from "vue-tabler-icons/icons/CircleXIcon";
definePageMeta({
  middleware: 'auth'
});
</script>
<style lang="scss" scoped>
.title{
  font-weight: 600;
  line-height: 28px;
  font-size:20px
}
.description{
  color:#616876;
  line-height: 20px;
  font-weight: 400;
  font-size:14px;
}
</style>

