<template >
  <div class="h-full d-flex flex-column">
    <page-header class="position-absolute mt-3 page-header-text" title="Оплаты"/>

    <div class="d-flex flex-column">
      <div class="form-wrap d-lg-flex flex-lg-row flex-sm-column flex-sm-wrap flex-lg-nowrap" style="min-height:70vh">

        <div class="d-flex flex-lg-column flex-row mt-7 lt-menu">
          <NuxtLink to="/app/payments/accounts" class="btn p-4 d-flex justify-content-start lt-menu-btn">Мои услуги</NuxtLink>
          <NuxtLink class="btn p-4 d-flex justify-content-lg-start lt-menu-btn router-link-active">
            История платежей
          </NuxtLink>
        </div>

        <div class="text-center mt-7 w-100" v-if="data.page_loading && !historyItems">
          <div class="spinner-border" role="status">
            <span class="sr-only" />
          </div>
        </div>
        <div class="accordion w-100 mt-md-0 mt-lg-7 mb-3 pb-lg-100 ps-lg-2" v-if="historyItems.length">
          <div v-for="(item,index) of historyItems" class="card mb-1">
            <div class="card-header pa-0" :id="'heading' + index">
              <div class="accordion-button collapsed col fs-1"
                   type="button"
                   :aria-expanded="false"
                   data-bs-toggle="collapse"
                   :data-bs-target="'#collapse' + index"
                   :aria-controls="'#collapse' + index"
              >
                <div class="accordion-title text-muted">
                  {{ item.date }}
                </div>
                <div class="col-auto fs-1 text-end pe-0">
                  {{ $helpers.number_format(item.price) }}
                </div>
              </div>
            </div>
            <div
              :id="'collapse' + index"
              class="accordion-collapse collapse"
              :aria-labelledby="'heading' + index"
            >
              <HistorySendBill :basket_data="item"/>
              <template v-for="group of item.groups">
                <div v-if="countAccountPrice(index, group.personal_account)" class="accordion-body">
                  <div class="account ps-3 pe-3 pt-2 pb-2 d-flex">
                    <div>
                      <b>{{ group.address }}</b>
                      <br/>
                      ЛС: {{ group.personal_account }}
                    </div>
                    <div class="ml-auto">
                      <div class="pa-5 countPrice">
                        <b>
                          {{ countAccountPrice(index, group.personal_account) }}
                        </b>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div v-for="( service, serviceName ) of group.services"
                         class="payment-accounts--check"
                    >
                      <div class="accordion-button service collapsed col"
                           type="button"
                           :aria-expanded="false"
                           data-bs-toggle="collapse"
                           :data-bs-target="'#collapse' + index + '_' + serviceNumber(serviceName, group.services)"
                           :aria-controls="'#collapse' + index + '_' + serviceNumber(serviceName, group.services)"
                      >
                        {{serviceName}}_{{service.company}}
                      </div>
                      <div
                        :id="'collapse' + index + '_' + serviceNumber(serviceName, group.services)"
                        class="accordion-collapse collapse"
                        :aria-labelledby="'heading' + serviceNumber(serviceName, group.services)"
                      >
                        <div class="row">
                          <template v-for="(sub_item, sub_index) of service.items">
                            <div v-if="getPrice(sub_item.price)" class="col-12 col-md-6 col-lg-4">
                              <div class="row mb-3">
                                <div class="row ">
                                  <div class="col">{{ sub_item.service_name }}</div>
                                  <div class="col-auto">
                                    <b>{{ getPrice(sub_item.price) }}</b>
                                  </div>
                                </div>
                                <div v-for="appeal_item in sub_item.appeals" class="row fs-4">
                                  <div class="col"><div class="p-1 py-0">Заявка {{ appeal_item.number }}</div></div>
                                  <div class="col-auto">
                                    {{ getPrice(appeal_item.sum) }}
                                  </div>
                                </div>
                              </div>

                            </div>
                          </template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div v-if="!historyItems.length && !data.page_loading" class="p-3 text-center w-100 mt-7">
          Еще пока не было платежей
        </div>
      </div>
      <div class="card pagination-history position-relative">
        <Pagination
          :total="pages.total"
          :per-page="pages.per_page"
          :page="pages.current_page"
          @update="getPage"
        />
      </div>
    </div>
  </div>
</template>
<script setup type="module" lang="ts" >
import { useApi } from "~/composables/useApi";
import useApiErrors from "~/composables/useApiErrors";
import { useRoute } from "#app";
import { Payment } from "~/store/Payment";
import ChevronDownIcon from "vue-tabler-icons/icons/ChevronDownIcon";
import ChevronUpIcon from "vue-tabler-icons/icons/ChevronUpIcon";

const {$helpers} = useNuxtApp();

const data = reactive({
    page_loading: false,
    api: useApi(),
    number: useRoute().query.page || 1
})

const historyItems = computed(()=>{
    return Payment().historyItems
})
const pages = computed(()=>{
    return Payment().pagination
})

const loadList = async (numberPage:number, perPage?: number ) => {
    data.page_loading = true
    try {
        await Payment().getPaymentHistory(numberPage, perPage);
    } catch (e) {
        useApiErrors(e);
    } finally {
        data.page_loading = false;
    }
}
const getPrice = (price:number) => {
    if (Number(price) === 0)
        return undefined
    return $helpers.number_format(price);
}
const serviceNumber = (serviceName: string, services: any) => {
    return Object.keys(services).indexOf(serviceName)
}
const countAccountPrice = (groupId: any, accountId:number) => {
    let price = 0;
    let group;
    if(historyItems.value)
      group = historyItems.value[groupId]
    const account = group?.groups?.find((ls:any) => ls.personal_account === accountId);
    account?.items?.map((historyPay: any) => {
        price = price + +historyPay.price;
    })
    return getPrice(price);
}
const getPage =  (numberPage:number, perPage:number) => {
    const route = useRoute();
    const router = useRouter();
    loadList(numberPage, perPage);

    let query = numberPage > 1 ? { page: numberPage } : {};
    router.push({
        path: route.path,
        query: query
    });
}
onMounted(async()=>{
  await loadList(+data.number);
})

definePageMeta({
  middleware: 'auth'
});
</script>
<style lang="scss" scoped>
@media(max-width: 1024px) {
  .router-link-active:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.08rem;
    border: #0054a6 0 solid;
    border-bottom-width: 2px;
  }
  :deep(.router-link-active) {
    color: #0054A6 !important;
  }
  :deep(.lt-menu-btn) {
    padding: 0.5rem !important;
  }
  .lt-menu {
    width: 100%;
    border-bottom: #667382 1px solid;
  }
}
.lt-menu {
  .lt-menu-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #667382;
  }

  .lt-menu-btn:hover {
    background-color: #0054A60A;
    color: #182433;
  }
}
.router-link-active {
  transition: 0.3s ease;
  position: relative;
  background-color: rgba(0, 84, 166, 0.04) !important;
  color: rgba(24, 36, 51, 1) !important;
}
.account {
  background-color: #e6e7e9;
}
.pagination-history {
  border-top: 0;
}
.accordion {
  &-title {
    width: 100%;
  }

  &-body {
    padding: 0;
  }
}
.accordion-button {
  padding-right: 2em;

  &:after {
    position: absolute;
    left: calc(100% - 33px);
  }

  &:not(.collapsed) {
    font-weight: normal;
  }

  &.service {
    font-size: 16px;
    font-weight: 600;
    padding-left: 0;

    &:after {
      left: calc(100% - 19px);
    }
  }
}

.countPrice {
  font-size: 1.2em;
  color: initial;
}

strong {
  font-weight: 800;
}

.text-success {
  color: #32703e;
}

@media (max-width: 998px) {
  .accordion-button {
    padding: 10px;
    padding-right: 2em;
  }

  .account {
    padding: 10px !important;
  }
  .card-body {
    padding: 10px;
  }
}
</style>
