<template>
  <div>
    <page-header title="Оплата"/>
    <div class="form-wrap">
      <div class="card-body text-center" v-if="amount">
        <circle-check-icon class="icon bg-icon" style="width: 120px; height: 120px; color: #2FB344"/>
        <h4 style="font-weight: 600; font-size: 20px; line-height: 28px" class="pt-2">
          Оплата на сумму {{ $helpers.number_format(amount) }} ₽<br>прошла успешно
        </h4>
        <p style="color: #616876">Благодарим за своевременную оплату счетов.</p>
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <NuxtLink to="/app/payments/history" class="btn btn-success"
                  style="font-weight: 500; background-color: #0054A6; transition: opacity 0.3s ease-in-out">
          Вернуться в оплаты
        </NuxtLink>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref, onMounted} from "vue";
import {useApi} from "~/composables/useApi";
import {CircleCheckIcon} from "vue-tabler-icons";
import {useRoute} from "vue-router";

const amount = ref(0);
const api = useApi();
const route = useRoute();

const getPaymentDetails = async () => {
  try {
    const res = await api.getPaymentDetails(<string>route.query.tid)
    amount.value = res.data.amount
  } catch (error) {
    console.error("Error fetching payment details", error)
  }
};
onMounted(getPaymentDetails);
definePageMeta({
  middleware: 'auth'
});
</script>
