<template>
  <div
      v-for="(personal, id) in accountList"
      :key="id"
      class="w-100 p-1 position-relative"
  >
    <div class="d-flex account dropdown-item pr-0" :class="{'active': activeAddress(personal?.id)}">
      <a @click="accountAttach(personal.id)" class="address">
        <span>
          {{ personal.short_address }}
        </span>
        <div class="account-number text-muted ">
          {{ personal.account }}
        </div>
      </a>
    </div>
    <nuxt-link @click="accountLink(personal.id)" class="btn btn-icon btn-ghost-primary icon-link me-1 position-absolute ml-3">
      <eye-icon class="icon"/>
    </nuxt-link>
  </div>
  <slot />
</template>
<script setup lang="ts">
import {
  EyeIcon,
  LockIcon,
} from 'vue-tabler-icons';
import { PersonalAccounts } from "~/store/PersonalAccounts";
import { computed } from "@vue/reactivity";
import { useLocal } from "~/composables/useLocal";
import {Profile} from "~/store/Profile";
const local = useLocal();
const user = Profile();

const accountID = computed(() => Number(local.get()))
const accountList = computed(() => user.profile.accounts)

const activeAddress = ((accountId: string) => Number(accountId) === accountID?.value)

const accountAttach = ((id: number) => {
  local.set(id)
  // при смене ЛС обновляем приложение
  location.reload();
})

const router = useRouter();
const accountLink = ((id: number) => {
  if (accountID.value === id) {
    router.push('/app/profile/account-list/#' + id);
    return
  }
  local.set(id)
  location.assign('/app/profile/account-list/#' + id)
})
</script>
<style lang="scss" scoped>
.account {
  cursor: pointer;

  &-number {
    font-size: 0.8em;
  }
  .address {
    color: initial;
    padding-right: 4em;
  }

  &.active {
    font-weight: 800;

    .address {
      color: inherit;
    }
  }
}

.btn-ghost-primary {
  position: absolute;
  margin-left: calc(100% - 50px) !important;
  top: 12px;
}

@media (max-width: 998px) {
  .account {
    .address {
      overflow-x: clip;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }
}
</style>
