<template>
  <div>
    <NuxtLink v-for="(item, key) in items" :key="key" :to="item.link" :class="classes('dropdown-item', item.link)">
      {{ item.title }}
    </NuxtLink>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'DropDownMenu'
});
</script>
<script setup lang="ts">
import { RouteRecordName, useRouter } from 'vue-router';
const props = defineProps({
  items: {
    required: true,
    type: Array<{
      link: String,
      title: String
    }>
  }
});
const route = useRoute()
const classes = <String>(permanent: string, active_route: RouteRecordName) => {
  const activeClass = active_route === route.fullPath ? ' active' : '';
  return permanent + activeClass
}
</script>
<style lang="scss" scoped>
</style>
