<template>
  <div class="dropdown dropup" :class="classes(!btnMore ?? '', innerMenuItems)">
    <div v-if="countOnScreen < 9" class="dropdown-menu" id="bottom-top-menu">
      <top-bottom-menu :count-on-screen="countOnScreen" class="bottom-menu top" />
    </div>
    <div class="d-flex bottom-menu" :class="{'no-account': !user.currentAccount()}">
        <NuxtLink class="bottom-menu--item" to="/app" :class="classes('', ['app'])">
          <div class="text-center">
            <home-icon class="icon"/>
          </div>
          <span class="nav-link-title">Главная</span>
        </NuxtLink>

        <NuxtLink
            v-if="!user.currentAccount()"
            class="bottom-menu--item"
            to="/app/articles"
            :class="classes('', ['app-articles', 'app-articles-view'])"
        >
          <div class="text-center">
            <info-square-rounded-icon class="icon"/>
          </div>
          <span class="nav-link-title">Помощь</span>
        </NuxtLink>
        <template v-else>
          <NuxtLink v-if="!user.inputIpuBlocked()" class="bottom-menu--item" to="/app/person-meters" :class="classes('', ['app-person-meters', 'app-person-meters-values'])">
            <div class="text-center">
              <calculator-icon class="icon"/>
            </div>
            <span class="nav-link-title">Показания</span>
          </NuxtLink>

          <NuxtLink class="bottom-menu--item"
                    to="/app/payments/accounts"
                    :class="classes('', ['app-payments-accounts', 'app-payments-fail', 'app-payments-success'])"
          >
            <div class="text-center">
              <wallet-icon class="icon"/>
            </div>
            <span class="nav-link-title">Оплаты</span>
          </NuxtLink>

          <NuxtLink class="bottom-menu--item" to="/app/pay-documents" :class="classes('', ['app-pay-documents'])">
            <div class="text-center">
              <file-stack-icon class="icon"/>
            </div>
            <span class="nav-link-title">ЕПД</span>
          </NuxtLink>

          <NuxtLink
              v-if="!user.appealBlocked() && countOnScreen > 6"
              class="bottom-menu--item"
              to="/app/appeals"
              :class="classes('', ['app-appeals', 'app-appeals-view', 'app-appeals-id'])"
          >
            <div class="text-center">
              <message-forward-icon class="icon" />
            </div>
            <span class="nav-link-title">Заявки</span>
          </NuxtLink>
        </template>

        <NuxtLink v-if="countOnScreen > 7" class="bottom-menu--item" to="/app/articles" :class="classes('', ['app-articles', 'app-articles-view'])">
          <div class="text-center">
            <info-square-rounded-icon class="icon"/>
          </div>
          <span class="nav-link-title">Помощь</span>
        </NuxtLink>

        <template v-if="user.currentAccount()">
          <NuxtLink v-if="countOnScreen > 8"
                    class="bottom-menu--item announces"
                    to="/app/announces/"
                    :class="classes('dropdown', [
                'app-announces', 'app-announces-announce-announce_id'
              ])">
            <div class="text-center">
              <world-icon class="icon"/>
            </div>
            <span class="nav-link-title">События</span>
          </NuxtLink>
          <slot />
        </template>
    </div>
    <button
        v-if="countOnScreen < 9"
        @click="menuChange"
        class="bottom-menu--item navbar-toggler "
        :class="{'open': classes('', allMenuItems), ' shown ': classes('', innerMenuItems) }"
        type="button"
        data-bs-toggle="dropdown"
        data-bs-target="#bottom-top-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
      <span class="bottom-menu--item--text more">
        Еще
      </span>
    </button>
  </div>
</template>
<script setup lang="ts">
import {
  InfoSquareRoundedIcon,
  WorldIcon,
  HomeIcon,
  CalculatorIcon,
  FileStackIcon,
  MessageForwardIcon,
  WalletIcon
} from 'vue-tabler-icons';

import TopBottomMenu from "~/components/menu/TopBottomMenu.vue";
import { RouteRecordName } from "vue-router";
import {computed} from "@vue/reactivity";
import {onUnmounted} from "@vue/runtime-core";
import {Profile} from "~/store/Profile";
const user = Profile();
const emit = defineEmits(["countOnScreen"]);

const menuItemWidth = 60;
const btnMore = ref(true);

const width = ref(window ? window.innerWidth : 0);

const defaultOnScreen = 4;
const countOnScreen = ref(4);

const menuItems = {
  0: ['app-appeals', 'app-appeals-view', 'app-appeals-id'],
  1: ['app-articles', 'app-articles-view'],
  2: ['app-announces', 'app-announces-announce-announce_id']
};
// динамичные роуты для top menu
const innerMenuItems = computed((): [] => {
  let menu = [];
  if (Number(countOnScreen.value) === 6)
    menu = [...menuItems[0], ...menuItems[1], ...menuItems[2]];
  if (Number(countOnScreen.value) === 7)
    menu = [...menuItems[1], ...menuItems[2]];
  return menu;
});

const allMenuItems = [
  ...['app', 'app-pay-documents', 'app-payments-accounts', 'app-payments-fail',
    'app-payments-success', 'app-person-meters', 'app-person-meters-values'],
  ...innerMenuItems.value
];

const count = (() => {
  const width = window ? window.innerWidth : 0;
  const count = Math.ceil(width / menuItemWidth);
  countOnScreen.value = defaultOnScreen > count ? defaultOnScreen : count;
  emit("countOnScreen", countOnScreen.value);
});

const menuChange = (() => {
  btnMore.value = !btnMore.value;
})

const route = useRoute();

onMounted(() => {
  count();
  if (window) {
    window.addEventListener('resize', count);
  }
});

onUnmounted(() => {
  if (window) {
    window.removeEventListener('resize', count);
  }
});

const classes = <String>(permanent: string, active_routes: Array<RouteRecordName>) => {
  const activeClass = active_routes.find((name: RouteRecordName) => name === route.name) ? ' active' : '';
  return permanent + activeClass
}
</script>
<style lang="scss" scoped>
$count_on_screen: v-bind(countOnScreen);

.dropdown.dropup {
  display: flex;
  width: 100%;

  &.true {
    .navbar-toggler.show {
      color: #0a66c2;
    }
  }

  .navbar-toggler {
    &.shown {
      color: #0a66c2;
    }
  }

  .dropdown-menu {
    padding: 0;
    min-width: unset;
    width: auto;
  }
}

.navbar-collapse {
  .bottom-menu--item {
    padding-left: 0;
  }
}

.bottom-menu {
  width: 100%;
  font-size: 10px;

  &.no-account {
    .bottom-menu--item {
      width: auto;
    }
  }

  &--item {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #8893a6;
    padding: 6px;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
    width: calc(100% / $count_on_screen);

    &.navbar-toggler {
      margin-top: 0;
      font-size: 10px;
      padding-left: 2em;
      padding-right: 2em;
    }

    &.router-link-exact-active {
      color: #0a66c2;
    }

    &--text {
      position: absolute;
      margin-top: 18px;
      margin-left: -1.6em;

      &.close {
        margin-left: -35px;
      }
    }
  }
}
</style>
