<template>
  <div v-if="user.currentAccount()" class="navbar navbar-menu navbar-light navbar-expand-md d-print-none">
    <div class="container-xl position-relative pl-5 pr-5">
      <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-menu"
          aria-controls="navbar-menu"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" />
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav">
            <li :class="classes('nav-item dropdown', ['app'])">
              <NuxtLink
                  to="/app"
                  class="nav-link show pl-0"
                  role="button"
                  aria-expanded="true"
              >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <home-icon class="icon" />
                </span>
                <span class="nav-link-title">
                  Главная
                </span>
              </NuxtLink>
            </li>

            <li v-if="!user.inputIpuBlocked()" :class="classes('nav-item dropdown', ['app-person-meters'])">
              <NuxtLink
                  to="/app/person-meters"
                  class="nav-link show pl-0"
                  role="button"
                  aria-expanded="true"
              >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <calculator-icon class="icon"/>
                </span>
                <span class="nav-link-title">
                  Показания
                </span>
              </NuxtLink>
            </li>
            <li :class="classes('nav-item dropdown', ['app-payments-accounts','app-payments-history'])">
              <NuxtLink
                  to="/app/payments/accounts"
                  class="nav-link show pl-0"
                  role="button"
                  aria-expanded="true"
              >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <wallet-icon class="icon"/>
                </span>
                <span class="nav-link-title">
                  Оплаты
                </span>
              </NuxtLink>
            </li>
            <li :class="classes('nav-item dropdown', ['app-pay-documents'])">
              <NuxtLink
                  to="/app/pay-documents"
                  class="nav-link show pl-0"
                  role="button"
                  aria-expanded="true"
              >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <file-stack-icon class="icon"/>
                </span>
                <span class="nav-link-title">
                  ЕПД
                </span>
              </NuxtLink>
            </li>
            <li v-if="!user.appealBlocked()"
                :class="classes('nav-item dropdown', ['app-appeals', 'app-appeals-view', 'app-appeals-id'])">
              <NuxtLink
                  to="/app/appeals"
                  class="nav-link show pl-0"
                  role="button"
                  aria-expanded="true"
              >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <MessageForwardIcon class="icon"/>
                </span>
                <span class="nav-link-title">
                  Заявки
                </span>
              </NuxtLink>
            </li>
            <li :class="classes('nav-item dropdown', [
              'app-announces', 'app-announces-announce-announce_id'
            ])">
              <NuxtLink
                  to="/app/announces/"
                  class="nav-link show pl-0"
                  role="button"
                  aria-expanded="true"
              >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <world-icon class="icon"/>
                </span>
                <span class="nav-link-title">
                  События
                </span>
              </NuxtLink>
            </li>
            <li :class="classes('nav-item dropdown', ['app-articles', 'app-articles-view'])">
              <NuxtLink
                  to="/app/articles"
                  class="nav-link show pl-0"
                  role="button"
                  aria-expanded="true"
              >
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <info-square-rounded-icon class="icon"/>
            </span>
                <span class="nav-link-title">
              Помощь
            </span>
              </NuxtLink>
            </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import {
  HomeIcon,
  InfoSquareRoundedIcon,
  WorldIcon,
  WalletIcon,
  CalculatorIcon,
  FileStackIcon,
  FileDollarIcon,
  MessageForwardIcon
} from 'vue-tabler-icons';
import { RouteRecordName } from "vue-router";
import {Profile} from "~/store/Profile";

const user = Profile()
const route = useRoute();
const classes = <String>(permanent: string, active_routes: Array<RouteRecordName>) => {
  const activeClass = active_routes.find((name: RouteRecordName) => name === route.name) ? ' active' : '';
  return permanent + activeClass
}
</script>

<style lang="scss" scoped>
.nav-link-icon {
  transition: color 0.3s ease-in-out;
}

.active .icon,
.nav-item:hover .icon {
  color: #0054a6;
}
</style>
