<template>
  <div>
    <NuxtLink
        v-if="!user.appealBlocked() && countOnScreen <= 6"
        class="bottom-menu--item"
        to="/app/appeals"
        :class="classes('', ['app-appeals', 'app-appeals-view', 'app-appeals-id'])"
    >
      <div class="text-center">
        <message-forward-icon class="icon" />
      </div>
      <span class="nav-link-title">Заявки</span>
    </NuxtLink>

    <NuxtLink v-if="countOnScreen <= 7"
              class="bottom-menu--item"
              to="/app/articles"
              :class="classes('', ['app-articles', 'app-articles-view'])"
    >
      <div class="text-center">
        <info-square-rounded-icon class="icon"/>
      </div>
      <span class="nav-link-title">Помощь</span>
    </NuxtLink>

    <NuxtLink v-if="countOnScreen <= 8"
              class="bottom-menu--item announces"
              to="/app/announces/"
              :class="classes('dropdown', [
                'app-announces', 'app-announces-announce-announce_id'
              ])">
      <div class="text-center">
        <world-icon class="icon"/>
      </div>
      <span class="nav-link-title">События</span>
    </NuxtLink>
  </div>
</template>
<script setup lang="ts">
import {
  InfoSquareRoundedIcon,
  WorldIcon,
  MessageForwardIcon
} from 'vue-tabler-icons';
const user = Profile();

import { RouteRecordName } from "vue-router";
import {Profile} from "~/store/Profile";
const props = defineProps(["countOnScreen"]);

const countOnScreen = computed(() => props.countOnScreen);

const route = useRoute();
const classes = <String>(permanent: string, active_routes: Array<RouteRecordName>) => {
  const activeClass = active_routes.find((name: RouteRecordName) => name === route.name) ? ' open' : '';
  return permanent + activeClass
}
</script>
<style lang="scss" scoped>
.navbar-collapse {
  .bottom-menu--item {
    padding-left: 0;
  }
}

.bottom-menu {
  &.top {
    font-size: 14px;
    background-color: white;
    box-shadow: 0 2px 16px rgba(24, 36, 51, 0.16);
    border-radius: 4px;

    a {
      margin: unset;
      word-wrap: break-word;
      line-height: 16px;
    }

    .announces {
      span {
        word-wrap: normal;
        margin-left: -0.5em;
      }
    }

    .bottom-menu--item {
      padding: 0;
      padding-right: 1em;
      text-align: left;
      display: flex;
      width: 16%;
      padding-right: 2em;

      svg {
        margin: 0.5em;
      }

      .nav-link-title {
        margin: auto;
      }
    }
  }

  &.no-account {
    .bottom-menu--item {
      width: auto;
    }
  }

  &--item {
    color: #8893a6;
    padding: 10px;
    margin: auto;

    &.open {
      color: #0a66c2;
    }
  }
}
</style>
